{{ template "page.html" . }}
{{ define "title" }}Travel Rule Transfer Message | TRISA Envoy{{ end }}
{{ define "pretitle" }}Travel Rule{{ end }}
{{ define "pagetitle" }}Transfer Message{{ end }}

{{ define "page-content" }}
<section id="transaction" hx-get="/v1/transactions/{{ .ID }}" hx-trigger="load, transactions-updated from:body">
  <div class="card">
    <div class="card-body text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>

<section id="secure-envelopes" hx-get="/v1/transactions/{{ .ID }}/secure-envelopes" hx-trigger="load">
  <div class="card">
    <div class="card-body text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- define "appcode" }}
<script type="module" src="/static/js/modules/components.js"></script>
<script type="module" src="/static/js/transactions/detail.js"></script>
{{- end }}