{{ template "auth.html" . }}
{{ define "title" }}Reset Password | TRISA Envoy{{ end }}

{{ define "htmxConfig" }}
<meta
  name="htmx-config"
  content='{
    "responseHandling":[
      {"code":"204", "swap": false},
      {"code":"[23]..", "swap": true},
      {"code":"[45]..", "swap": false, "error":true},
      {"code":"...", "swap": true}
    ]
  }'
/>
{{ end }}

{{ define "container" }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8 mt-5">
        <h1 class="display-4">Change Your Password</h1>
      </div>
    </div>

    <!-- Placeholder for hx-swap on success -->
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8">
        <div id="success"></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <!-- password requirements card -->
        <div class="card bg-light border h-100">
          <div class="card-body">
            <p class="mb-2">
              Password requirements
            </p>
            <p class="small text-body-secondary mb-2">
              To create a new password, you have to meet all of the following requirements:
            </p>
            <ul class="small text-body-secondary ps-4 mb-0">
              <li>Minimum 8 characters</li>
              <li>Both upper and lower case letters</li>
              <li>At least one number</li>
              <li>Can’t be the same as previous password</li>
              <li>Special characters recommended</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <!-- change password form -->
        <form hx-post="/v1/reset-password" hx-ext='json-enc' hx-headers='{"Accept": "text/html"}' hx-swap="innerHTML" hx-target="#success" hx-trigger="submit">
          <input type="hidden" id="token" name="token" value="{{ .Token }}">

          <div class="form-group">
            <label class="form-label" for="password">New password</label>
            <div class="input-group input-group-merge">
              <!-- Input -->
              <input class="form-control" id="password" name="password" type="password" placeholder="Enter new password" autocomplete="new-password" required>
              <!-- Icon -->
              <span class="input-group-text">
                <i class="fe fe-eye-off"></i>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="confirm">Confirm new password</label>
            <div class="input-group input-group-merge">
              <!-- Input -->
              <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password" autocomplete="new-password" required>
              <!-- Icon -->
              <span class="input-group-text">
                <i class="fe fe-eye-off"></i>
              </span>
            </div>
          </div>

          <button class="btn btn-lg w-100 btn-primary mb-3" type="submit">
            Change password
          </button>

          <div class="text-center">
            <small class="text-muted text-center">
              Contact your compliance administrator for assistance.
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ end }}

{{ define "appcode" }}
<script>
  // Handle errors from the backend.
  document.body.addEventListener("htmx:responseError", (e) => {
    const error = JSON.parse(e.detail.xhr.response);
    const alerts = document.getElementById("alerts");

    alerts.insertAdjacentHTML('beforeend', `
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Login Error</strong>: <span>${error.error}</span>.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    `);

    setTimeout(() => {
      document.querySelector('.alert').remove()
    }, 5000);
  });
</script>
{{ end }}
