{{ template "auth.html" . }}
{{ define "title" }}Reset Password | TRISA Envoy{{ end }}
{{ define "auth" }}
<h1 class="display-4 text-center mb-3">Reset Password</h1>
<form hx-post="/v1/reset-password" hx-ext='json-enc' hx-headers='{"Accept": "text/html"}'>
    <div class="form-group">
        <label class="form-label" for="email">Email Address</label>
        <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required>
    </div>
    <button type="submit" class="btn btn-lg w-100 btn-primary mb-3">
        Request password reset
    </button>
</form>
{{ end }}
