<div class="modal-box">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl">Delete API Key</h1>
    <button onclick="apikey_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <p class="my-4">
    Are you sure you want to delete the API key? This action cannot be undone.
  </p>
   <div class="my-4 flex justify-center">
    <button
    id="del-key-btn"
    class="submit-btn w-44 btn bg-primary font-semibold text-lg text-white hover:bg-primary/90"
    type="button"
    hx-delete="/v1/apikeys/{{ .ID }}"
    hx-target="#apikeys"
    hx-swap="innerHTML"
    hx-indicator="#loader"
  >
    <span class="submit-btn-text">Delete</span>
    <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
  </button>
   </div>
</div>
