{{ with .ComplianceAuditLogDetail }}
<div class="header mt-md-5">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="header-pretitle">Compliance Audit Log Detail</h6>
        <h1 class="header-title">
          {{ .ResourceType }} {{ .Action }}d by {{ .ActorType }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h4 class="card-title mb-0">Audit Log ID: <span class="text-secondary font-monospace ms-1">{{ .ID }}</span></h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-7">
        <h3>Compliance Audit Log Details</h3>
        <dl class="row">
          <dt class="col-4">Resource Modified</dt>
          <dd class="col-8">{{ .ResourceModified.Format "Jan 2, 2006 at 15:04:05" }}</dd>
          <dt class="col-4">Action</dt>
          <dd class="col-8">{{ .Action }}</dd>
          <dt class="col-4">Resource Type</dt>
          <dd class="col-8">{{ .ResourceType }}</dd>
          <dt class="col-4">{{ .ResourceType }} ID</dt>
          <dd class="col-8">
            <span class="font-monospace text-secondary">
              <!--Links for resources, where possible-->
              {{ if eq .ResourceType "Transaction" }}
                <a href="/transactions/{{ .ResourceID }}">{{ .ResourceID }}</a>
              {{ else if eq .ResourceType "User" }}
                <a href="/users">{{ .ResourceID }}</a>
              {{ else if eq .ResourceType "APIKey" }}
                <a href="/apikeys">{{ .ResourceID }}</a>
              {{ else if eq .ResourceType "Counterparty" }}
                <a href="/counterparties">{{ .ResourceID }}</a>
              {{ else if eq .ResourceType "Account" }}
                <a href="/accounts/{{ .ResourceID }}">{{ .ResourceID }}</a>
              {{else}}
                <!--No link for the rest-->
                {{ .ResourceID }}
              {{end}}
            </span>
          </dd>
          <dt class="col-4">Actor Type</dt>
          <dd class="col-8">{{ .ActorType }}</dd>
          <dt class="col-4">{{ .ActorType }} ID</dt>
          <dd class="col-8">
            <span class="font-monospace text-secondary">
              <!--Links for actors, where possible-->
              {{if eq .ActorType "APIKey"}}
                <a href="/apikeys">{{ .ActorID }}</a>
              {{else if eq .ActorType "User"}}
                <a href="/users">{{ .ActorID }}</a>
              {{else}}
                <!--No link for the rest-->
                {{ .ActorID }}
              {{end}}
            </span>
          </dd>
          <dt class="col-4">Change Notes</dt>
          <dd class="col-8">{{ .ChangeNotes }}</dd>
        </dl>
      </div>
      <div class="col-lg-5 mt-4 mt-lg-0">
        <h3>Signature Metadata</h3>
        <dl class="row">
          <dt class="col-4">Algorithm</dt>
          <dd class="col-8">{{ .Algorithm }}</dd>
          <dt class="col-4">Key ID</dt>
          <dd class="col-8"><span class="font-monospace">{{ .KeyID }}</span></dd>
          <dt class="col-4">Signature</dt>
          <dd class="col-8 text-truncate"><span class="font-monospace text-secondary">{{ .Signature }}</span></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{{ end }}
