{{- with .ComplianceAuditLogList -}}
{{ if .Logs }}
<div class="card" id="complianceAuditLogList" data-list='{"valueNames": ["item-resource-modified", "item-action", "item-actor-type", "item-actor-id", "item-resource-type",  "item-resource-id"], "page": 25, "pagination": {"paginationClass": "list-pagination"}}'>
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <!--No search bar for audit logs-->
      </div>
      <div class="col-auto me-n3">
        {{ template "tablePageSize" . }}
      </div>
      <div class="col-auto">
        <!-- Filter Form -->
        <div class="dropdown" >
          <button id="filterDropdownButton" class="btn btn-sm btn-white" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-haspopup="true" aria-expanded="false">
            <i class="fe fe-sliders me-1"></i> Filter <span id="numFiltersBadge" class="badge bg-secondary ms-1">0</span>
          </button>
          <form id="filterListForm" class="dropdown-menu dropdown-menu-end dropdown-menu-card">
            <div class="card-header">
              <h4 class="card-header-title">Filters</h4>
              <button class="btn btn-sm btn-link text-reset" type="reset">
                <small>Clear filters</small>
              </button>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush mt-n4 mb-4">
                <!--Actor Type Multi-Select Filter-->
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-5">
                      <small>Actor Type</small>
                    </div>
                   <div class="col-7">
                      <select multiple name="actorTypes"
                        class="form-control form-select form-select-sm"
                        data-choices='{"searchEnabled": true}'>
                        <option value="unknown">Unknown</option>
                        <option value="user">User</option>
                        <option value="api_key">API Key</option>
                        <option value="sunrise">Sunrise</option>
                        <option value="cli">CLI</option>
                        <option value="system">System</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--Resource Type Multi-Select Filter-->
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-5">
                      <small>Resource Type</small>
                    </div>
                   <div class="col-7">
                      <select multiple name="resourceTypes"
                        class="form-select form-select-sm"
                        data-choices='{"searchEnabled": true}'>
                        <option value="unknown">Unknown</option>
                        <option value="transaction">Transaction</option>
                        <option value="user">User</option>
                        <option value="api_key">API Key</option>
                        <option value="counterparty">Counterparty</option>
                        <option value="account">Account</option>
                        <option value="sunrise">Sunrise</option>
                        <option value="secure_envelope">Secure Envelope</option>
                        <option value="crypto_address">Crypto Address</option>
                        <option value="contact">Contact</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--After Time Select Filter-->
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-3">
                        <small>After</small>
                      </div>
                     <div class="col-9">
                        <input name="after" type="text" class="form-control" data-flatpickr='{
                          "enableTime": true,
                          "dateFormat": "Z",
                          "altInput": true,
                          "altFormat": "D M J at H:i:S",
                          "maxDate": "today"
                      }'>
                      </div>
                    </div>
                  </div>
              <!--Before Time Select Filter-->
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-3">
                      <small>Before</small>
                    </div>
                   <div class="col-9">
                      <input name="before" type="text" class="form-control" data-flatpickr='{
                        "enableTime": true,
                        "dateFormat": "Z",
                        "altInput": true,
                        "altFormat": "D M J at H:i:S",
                        "maxDate": "today"
                    }'>
                    </div>
                  </div>
                </div>
              <!--Actor ID Text Box Filter-->
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-5">
                      <small>Actor ID</small>
                    </div>
                   <div class="col-12">
                      <input name="actorId" type="text" class="form-control">
                    </div>
                  </div>
                </div>
              <!--Resource ID Text Box Filter-->
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-5">
                      <small>Resource ID</small>
                    </div>
                   <div class="col-12">
                      <input name="resourceId" type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn w-100 btn-primary" type="submit">
                Apply filter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-nowrap card-table">
      <thead>
        <tr>
          <th>
            <a class="list-sort text-muted" data-sort="item-resource-modified" href="#">Resource Modified</a>
          </th>
          <th>
            <a class="text-muted" data-sort="item-action" href="#">Action</a>
          </th>
          <th>
            <a class="text-muted" data-sort="item-resource-type" href="#">Resource Type</a>
          </th>
          <th>
            <a class="text-muted" data-sort="item-resource-id" href="#">Resource ID</a>
          </th>
          <th>
            <a class="text-muted" data-sort="item-actor-type" href="#">Actor Type</a>
          </th>
          <th colspan="2">
            <a class="text-muted" data-sort="item-actor-id" href="#">Actor ID</a>
          </th>
        </tr>
      </thead>
      <tbody class="list fs-base">
        {{ range .Logs }}
        <tr>
          <td><span class="item-resource-modified d-none">{{ rfc3339 .ResourceModified }}</span>
          <time datetime="{{ rfc3339 .ResourceModified }}">{{ .ResourceModified.Format "2006-01-02 15:04:05" }}</time></td>
          <td><span class="item-action">{{ .Action }}</span></td>
          <td><span class="item-resource-type">{{ .ResourceType }}</span></td>
          <td><span class="item-resource-id font-monospace text-secondary">{{ .ResourceID }}</span></td>
          <td><span class="item-actor-type">{{ .ActorType }}</span></td>
          <td><span class="item-actor-id font-monospace text-secondary">{{ .ActorID }}</span></td>
          <td class="text-end">
            <!-- Dropdown -->
            <div class="dropdown">
              <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a href="/auditlogs/{{ .ID }}" class="dropdown-item">
                  <i class="fe fe-eye"></i> View Details
                </a>
              </div>
            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ template "tablePagination" . }}
</div>
{{- else }}
<div class="card card-inactive">
  <div class="card-body text-center">
    <div class="py-6">
      <img src="/static/img/illustrations/scale.svg" alt="..." class="img-fluid" style="max-width: 182px;">
      <h1>No compliance audit logs yet.</h1>
      <a href="/auditlogs" class="nav-link">
        Reload page
      </a>
    </div>
  </div>
</div>
{{- end }}
{{- end }}
