<div class="overflow-x-auto">
  <table class="table">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Virtual Asset</th>
        <th>Wallet Address</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Accounts }}
      {{ range .Accounts }}
        <tr class="hover">
          <td>{{ .CustomerID }}</td>
          <td>{{ .FirstName }} &nbsp; {{ .LastName }}</td>
          <td>{{ .CryptoAddresses.AssetType }}</td>

          {{ if gt (len .CryptoAddresses) 1 }}
          <td>
            <ul>
              {{ range .CryptoAddresses }}
              <li>{{ .CryptoAddress }}<li>
              {{ end }}
            </ul>
          </td>
            {{ else }}
          <td>{{ .CryptoAddresses.CryptoAddress }}</td>
            {{ end }}

          <td>{{ .Created }}</td>
          {{ end }}
          <td>
            <button class="text-xl font-bold">&hellip;</button>
          </td>
        </tr>
      {{ else }}
        <tr class="text-center">
          <td colspan="6" class="py-5 text-base">No customer accounts information available.</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  
</div>