<div class="overflow-x-auto">
  <table class="table">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Type</th>
        <th>Status</th>
        <th>Originator VASP</th>
        <th>Originator</th>
        <th>Beneficiary</th>
        <th>Virtual Asset</th>
        <th>Amount</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Transactions }}
      {{ range .Transactions }}
        <tr class="hover">
          <td>{{ .Type }}</td>
          <td>{{ .Status }}</td>
          <td>{{ .OriginatorVasp }}</td>
          <td>{{ .Originator }}</td>
          <td>{{ .Beneficiary }}</td>
          <td>{{ .VirtualAsset }}</td>
          <td>{{ .Created }}</td>
          {{ end }}
          <td>
            <button class="text-xl font-bold">&hellip;</button>
          </td>
        </tr>
      {{ else }}
        <tr class="text-center">
          <td colspan="9" class="py-5 text-base">There are no transactions.</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  
</div>