{{ if .DecryptedEnvelopes }}
{{ range .DecryptedEnvelopes }}
<p>Envelope ID: {{ .EnvelopeID }}</p>
<div class="flex items-center">
  {{ $sentAt := .SentAt.Format "January 2, 2006 3:04:05 PM" }}
  {{ $receivedAt := .ReceivedAt.Format "January 2, 2006 3:04:05 PM" }}
  <p>
    <span class="datetime font-semibold">Sent at:</span>
    {{ if .SentAt }} {{ $sentAt }} {{ else }} N/A {{ end }}
  </p>
  <p>
    <span class="datetime font-semibold">Received at:</span>
    {{ if .ReceivedAt }} {{ $receivedAt }} {{ else }} N/A {{ end }}
  </p>
</div>
<section>
  <h3>On-chain Transaction Info</h3>
  <dl>
    <div class="grid grid-cols-2">
      <dt>Blockchain Tx ID</dt>
      {{ $txid := .Transaction.Txid }}
      <dd>{{ if $txid }} {{ $txid }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="grid grid-cols-2">
      <dt>Originator Wallet Address</dt>
      {{ $originator := .Transaction.Originator }}
      <dd>{{ if $originator }} {{ $originator }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="grid grid-cols-2">
      <dt>Beneficiary Wallet Address</dt>
      {{ $beneficiary := .Transaction.Beneficiary }}
      <dd>{{ if $beneficiary }} {{ $beneficiary }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="flex items-center">
      <div class="grid grid-cols-2">
        <dt>Network</dt>
        {{ $network := .Transaction.Network }}
        <dd>{{ if $network }} {{ $network }} {{ else }} &mdash; {{ end }}</dd>
      </div>
      <div class="grid grid-cols-2">
        <dt>Asset Type</dt>
        {{ $assetType := .Transaction.AssetType }}
        <dd>{{ if $assetType }} {{ $assetType }} {{ else }} &mdash; {{ end }}</dd>
      </div>
    </div>
    <div class="grid grid-cols-2">
      <dt>Transfer Amount</dt>
      {{ $amount := .Transaction.Amount }}
      <dd>{{ if $amount }} {{ $amount }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="grid grid-cols-2">
      <dt>Destination Tag/Memo</dt>
      {{ $tag := .Envelope.Transaction.Tag }}
      <dd>{{ if $tag }} {{ $tag }} {{ else }} &mdash; {{ end }}</dd>
    </div>
  </dl>
</section>
{{ end }}
{{ else }}
{{ if .SecureEnvelopes }}
{{ range .SecureEnvelopes }}
<input id="envelope-id" type="hidden" value="{{ .ID }}" /> 
<div class="my-4">
  <div hx-get="/v1/transactions/{{ .EnvelopeID }}/secure-envelopes/{{ .ID }}" hx-trigger="load" hx-swap="innerHTML" 
       class="envelope-accordion collapse collapse-close collapse-arrow bg-base-200 border-2 border-gray-300">
  </div>
</div>
  {{ end }}
  {{ end }}
  {{ end }}