<section>
  <h2 class="text-xl font-bold">Secure Envelopes</h2>
  {{ if .SecureEnvelopes }}
  {{ range .SecureEnvelopes }}
  <section></section>
  {{ end }}
  <h3>Envelopes</h3>
  {{ else }}
  <p class="my-8 text-center">There are no secure envelopes for this transaction.</p>
  <!-- TODO: Display test data in the accordion and style -->
  <!-- TODO: Start range here -->
  <div class="join join-vertical w-full">
    <div class="collapse collapse-plus join-item border border-base-300">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        <h3>Envelope ID: 123456</h3>
      </div>
      <div class="collapse-content"></div>
    </div>
    <!-- TODO: End range here -->
  </div>
</section>
{{ end }}