{{ if .DecryptedEnvelopes }}
{{ range .DecryptedEnvelopes }}
<p>Envelope ID: {{ .Envelope.Pending.EnvelopeID }}</p>
<div class="flex items-center">
  {{ $sentAt := .SentAt.Format "January 2, 2006 3:04:05 PM" }}
  {{ $receivedAt := .ReceivedAt.Format "January 2, 2006 3:04:05 PM" }}
  <p>
    <span class="font-semibold">Sent at:</span>
    {{ if .SentAt }} {{ $sentAt }} {{ else }} N/A {{ end }}
  </p>
  <p>
    <span class="font-semibold">Received at:</span>
    {{ if .ReceivedAt }} {{ $receivedAt }} {{ else }} N/A {{ end }}
  </p>
</div>
<section>
  <h3>On-chain Transaction Info</h3>
  <dl>
    <div class="grid grid-cols-2">
      <dt>Blockchain Tx ID</dt>
      {{ $txid := .Envelope.Transaction.Txid }}
      <dd>{{ if $txid }} {{ $txid }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="grid grid-cols-2">
      <dt>Originator Wallet Address</dt>
      {{ $originator := .Envelope.Transaction.Originator }}
      <dd>{{ if $originator }} {{ $originator}} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="grid grid-cols-2">
      <dt>Beneficiary Wallet Address</dt>
      {{ $beneficiary := .Envelope.Transaction.Beneficiary }}
      <dd>{{ if $beneficiary }} {{ $beneficiary }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="flex items-center">
      <div class="grid grid-cols-2">
        <dt>Network</dt>
        {{ $network := .Envelope.Transaction.Network }}
        <dd>{{ if $network }} {{ $network }} {{ else }} &mdash; {{ end }}</dd>
      </div>
      <div class="grid grid-cols-2">
        <dt>Asset Type</dt>
        {{ $assetType := .Envelope.Transaction.AssetType }}
        <dd>{{ if $assetType }} {{ $assetType }} {{ else }} &mdash; {{ end }}</dd>
      </div>
    </div>
    <div class="grid grid-cols-2">
      <dt>Transfer Amount</dt>
      {{ $amount := .Envelope.Transaction.Amount }}
      <dd>{{ if $amount }} {{ $amount }} {{ else }} &mdash; {{ end }}</dd>
    </div>
    <div class="grid grid-cols-2">
      <dt>Destination Tag/Memo</dt>
      {{ $tag := .Envelope.Transaction.Tag }}
      <dd>{{ if $tag }} {{ $tag }} {{ else }} &mdash; {{ end }}</dd>
    </div>
  </dl>
</section>
<!-- TODO: Call the transaction detail content and style -->
<!-- <div hx-get="/v1/transactions/{{ .ID }}/secure-envelopes/{{ .EnvelopeID }}" hx-trigger="load"></div> -->
{{ end }}
{{ else }}
{{ if .SecureEnvelopes }}
{{ range .SecureEnvelopes }}
<!-- TODO: Toggle collapse-close/collapse-open on click. The accordion should be collapsed on close. -->
<div class="my-4">
  <div class="collapse collapse-arrow collapse-close bg-base-200">
    <input type="radio" name="my-accordion-1" checked="checked" /> 
    <div class="collapse-title text-xl font-medium">
      <h3>ID: {{ .ID }}</h3>
    </div>
    <div class="collapse-content">
      <h2>Secure Envelope Meta Data</h2>
      {{ if .Sealed}}
      <p>State: Sealed</p>
      {{ else }}
      <p>State: Unsealed</p>
      {{ end }}
      {{ $timestamp := .Timestamp.Format "January 2, 2006 15:04:05" }}
      <p>Envelope Timestamp: {{ $timestamp }}</p>
      <!-- TODO: Hide the signature and make it visible on icon click -->
      <p>Public Key Signature: {{ .PublicKeySignature }}</p>
      <p>HMAC Valid: {{ .ValidHMAC }} </p>
      <p>Encryption Algorithm: {{ .EncryptionAlgorithm }}</p>
      <p>HMAC Algorithm: {{ .HMACAlgorithm }}</p> 
    </div>
  </div>
</div>
{{ end }}
{{ end }}
<p class="my-8 text-center">There are no secure envelopes for this transaction.</p>
{{ end }}