<input type="radio" name="my-accordion-1" checked="checked" />
{{ if .IsError }}
<div class="collapse-title bg-red-200">
  {{ else }}
  <div class="collapse-title">
    {{ end }}
    <div class="flex items-center gap-x-1 pb-2 lg:text-lg font-semibold">
      {{ if eq .Direction "in" }}
      <h3>Incoming:</h3>
      {{ else if eq .Direction "out" }}
      <h3>Outgoing:</h3>
      {{ end }} 
      {{ $timestamp := .Timestamp.Format "2006-01-02T15:04:05-0700" }}
      <span class="datetime">{{ $timestamp }}</span>
    </div>
    <span>ID: {{ .ID }}</span>
  </div>
  <div class="collapse-content">
    {{ if .Identity }}
      {{ $originatingVasp := .Identity.OriginatingVasp.OriginatingVasp.Person.LegalPerson }}
      {{ $beneficiaryVasp := .Identity.BeneficiaryVasp.BeneficiaryVasp.Person.LegalPerson }}
    <section class="mt-4">
      <h3 class="font-semibold">Virtual Asset Service Providers (Legal Persons)</h3>
      <table class="table">
        <tr>
          <th scope="col" class="">Name Identifiers</th>
          <th scope="col" class="">Originating VASP</th>
          <th scope="col" class="">Beneficiary VASP</th>
        </tr>
        <tr>
          <th scope="row" class="">The names and types of name by which the legal person is known:</th>
          {{ $originatingLegalPerson := $originatingVasp.Name }}
          <td>
            <ul class="md:flex md:gap-x-2 md:items-center">
              {{ if $originatingLegalPerson.NameIdentifiers }}
              {{ range $originatingLegalPerson.NameIdentifiers }}
              <li>{{ .LegalPersonName }}</li>
              <li class="identifier-type envelope-badge-style">{{ .LegalPersonNameIdentifierType }}</li>
              {{ end }}
              {{ end }}
            </ul>
          </td>
          <td>
            <ul class="md:flex md:gap-x-2 md:items-center">
              {{ if $beneficiaryVasp.Name.NameIdentifiers }}
              {{ range $beneficiaryVasp.Name.NameIdentifiers }}
              <li>{{ .LegalPersonName }}</li>
              <li class="identifier-type envelope-badge-style">{{ .LegalPersonNameIdentifierType }}</li>
              {{ end }}
              {{ end }}
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Addresses:</th>
          {{ if $originatingVasp.GeographicAddresses }}
          {{ range $originatingVasp.GeographicAddresses }}
          <td>
            <ul class="md:flex md:gap-x-2">
              <div>
                {{ range .AddressLine }}
              <li>{{ . }}</li>
              {{ end }}
              </div>
              <li class="identifier-type envelope-badge-style">{{ .AddressType }}</li>
            </ul>
          </td>
          {{ end }}
          {{ end }}

          {{ if $beneficiaryVasp.GeographicAddresses }}
          {{ range $beneficiaryVasp.GeographicAddresses }}
          <td>
            <ul class="md:flex md:gap-x-2">
              <div>
                {{ range .AddressLine }}
                <li>{{ . }}</li>
                {{ end }}
              </div>
              <li class="identifier-type envelope-badge-style">{{ .AddressType }}</li>
            </ul>
          </td>
          {{ end }}
          {{ end }}
        </tr>
        <tr>
          <th scope="row">National Identification No.</th>
          <td>
            <ul class="md:flex md:gap-x-2 md:items-center">
              <li>{{ if $originatingVasp.NationalIdentification.NationalIdentifier }} {{ $originatingVasp.NationalIdentification.NationalIdentifier }} {{ else }} N/A {{ end }}</li>
              <li class="identifier-type envelope-badge-style">{{ if $originatingVasp.NationalIdentification.NationalIdentifierType }} {{ $originatingVasp.NationalIdentification.NationalIdentifierType }} {{ else }} N/A {{ end }}</li>
            </ul>
          </td>
          <td>
            <ul class="md:flex md:gap-x-2 md:items-center">
              <li>{{ if $beneficiaryVasp.NationalIdentification.NationalIdentifier }} {{ $beneficiaryVasp.NationalIdentification.NationalIdentifier }} {{ else }} N/A {{ end }}</li>
              <li class="identifier-type envelope-badge-style">{{ if $beneficiaryVasp.NationalIdentification.NationalIdentifierType }} {{ $beneficiaryVasp.NationalIdentification.NationalIdentifierType }} {{ else }} N/A {{ end }}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Country of Issue</th>
          <td>{{ if $originatingVasp.NationalIdentification.CountryOfIssue }} {{ $originatingVasp.NationalIdentification.CountryOfIssue }} {{ else }} N/A {{ end }}</td>
          <td>{{ if $beneficiaryVasp.NationalIdentification.CountryOfIssue }} {{ $beneficiaryVasp.NationalIdentification.CountryOfIssue }} {{ else }} N/A {{ end }}</td>
        </tr>
        <tr>
          <th scope="row">Registration Authority</th>
          <td>{{ if $originatingVasp.NationalIdentification.RegistrationAuthority }} {{ $originatingVasp.NationalIdentification.RegistrationAuthority }} {{ else }} N/A {{ end }}</td>
          <td>{{ if $beneficiaryVasp.NationalIdentification.RegistrationAuthority }} {{ $beneficiaryVasp.NationalIdentification.RegistrationAuthority }} {{ else }} N/A {{ end }}</td>
        </tr>
        <tr>
          <th scope="row">Country of Registration</th>
          <td>{{ if $originatingVasp.CountryOfRegistration }} {{ $originatingVasp.CountryOfRegistration }} {{ else }} N/A {{ end }}</td>
          <td>{{ if $beneficiaryVasp.CountryOfRegistration }} {{ $beneficiaryVasp.CountryOfRegistration }} {{ else }} N/A {{ end }}</td>
        </tr>
      </table>
    </section>
    <div class="divider"></div>
    {{ end }}
    <div class="mt-4">
      <h3 class="font-semibold">Secure Envelope Meta Data</h3>
      <dl class="mt-2">
        <div class="py-1 grid grid-cols-2">
          <dt>Status</dt>
          {{ if .SecureEnvelope.Sealed}}
          <dd>
            <div class="tooltip" data-tip="Sealed envelope">
              <button>
                <i class="fa-solid fa-envelope-circle-check text-lg"></i>
              </button>
            </div>
          </dd>
          {{ else }}
          <dd>
            <div class="tooltip" data-tip="Unsealed envelope">
              <button>
                <i class="fa-solid fa-envelope-open-text text-lg"></i>
              </button>
            </div>
          </dd>
          {{ end }}
        </div>
        {{ if .Error }}
        <div class="py-1 grid grid-cols-2">
          <dt>Error Code</dt>
          <dd class="error-code">{{ if .Error.Code }} {{ .Error.Code }} {{ else }} N/A {{ end }}</dd>
        </div>
        <div class="py-1 grid grid-cols-2">
          <dt>Error Message</dt>
          <dd>{{ if .Error.Message }} {{ .Error.Message }} {{ else }} N/A {{ end }}</dd>
        </div>
        {{ end }}
        <div class="py-1 grid grid-cols-2">
          <dt>HMAC Valid</dt>
          <dd>
            {{ if .SecureEnvelope.ValidHMAC }}
            <div class="tooltip" data-tip="HMAC is valid">
              <button>
                <i class="fa-solid fa-circle-check text-lg text-green-700"></i>
              </button>
            </div>
            {{ else }}
            <div class="tooltip" data-tip="HMAC is not valid">
              <button>
                <i class="fa-solid fa-circle-xmark text-lg text-red-700"></i>
              </button>
            </div>
            {{ end }}
          </dd>
        </div>
        {{ if .SecureEnvelope.EncryptionAlgorithm }}
        <div class="py-1 grid grid-cols-2">
          <dt>Encryption Algorithm</dt>
          <dd>{{ .SecureEnvelope.EncryptionAlgorithm }}</dd>
        </div>
        {{ end }} 
        {{ if .SecureEnvelope.HMACAlgorithm }}
        <div class="py-1 grid grid-cols-2">
          <dt>HMAC Algorithm</dt>
          <dd>{{ .SecureEnvelope.HMACAlgorithm }}</dd>
        </div>
        {{ end }}
      </dl>
    </div>
  </div>
</div>