{{ template "dashboard.html" . }}
{{ define "title" }}API Key Management | TRISA Envoy{{ end }}
{{ define "pretitle" }}Access Management{{ end }}
{{ define "pagetitle" }}Manage Envoy API Keys{{ end }}

{{ define "htmxConfig" }}
<meta
  name="htmx-config"
  content='{
    "responseHandling":[
      {"code":"204", "swap": false},
      {"code":"[23]..", "swap": true},
      {"code":"[45]..", "swap": false, "error":true},
      {"code":"...", "swap": true}
    ]
  }'
/>
{{ end }}

{{- define "modals" }}
  {{ template "createAPIKeyModal" . }}
  <div id="apiKeyCreatedModal" class="modal" tabindex="-1"></div>
{{- end }}

{{- define "header-actions" }}
{{- if not .IsViewOnly }}
<button class="btn btn-primary ms-2 lift" data-bs-toggle="modal" data-bs-target="#createAPIKeyModal">
  Create API Key
</button>
{{- end }}
{{- end }}

{{- define "tabs" }}
<div class="row align-items-center">
  <div class="col">
    <ul class="nav nav-tabs nav-overflow header-tabs">
      <li class="nav-item">
        <a href="/apikeys" class="nav-link active">
          All API Keys
        </a>
      </li>
    </ul>
  </div>
</div>
{{- end }}

{{- define "main" }}
<section id="apikeys" hx-get="/v1/apikeys" hx-trigger="load, apikey-created from:body">
  <div class="card">
    <div class="card-body text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>
{{- end }}

{{- define "appcode" }}
<script>
  function alertError(id, title, message) {
    const alerts = document.getElementById(id);
    alerts.insertAdjacentHTML('beforeend', `
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>${title}</strong> ${message}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    `);
  }

  function toggleFullPermissions(on) {
    const help = document.getElementById('fullPermissionsHelp');
    help.innerText = on ? 'all permissions selected' : 'specify individual permissions';

    const permissions = document.getElementsByName('permissions');
    permissions.forEach(permission => {
      permission.checked = on;
      permission.disabled = on;
    });
  }

  function resetPermissionsCheckboxes() {
    // Reset full permissions checkbox and permissions checkboxes
    const fullPermissions = document.getElementById('fullPermissions');
    fullPermissions.checked = false;
    toggleFullPermissions(false);
  }

  document.body.addEventListener("htmx:configRequest", function(e) {
    // Manage create API key form submission
    if (isRequestFor(e, "/v1/apikeys", "post")) {
      let permissions = Array.from(document.getElementsByName('permissions'))
        .filter(permission => permission.checked)
        .map(permission => permission.value);

      const params = new FormData();
      params.append("description", e.detail.parameters.get("description"));
      for (const permission of permissions) {
        params.append("permissions", permission);
      }

      e.detail.parameters = params;
    }
  });

  document.body.addEventListener("htmx:afterSettle", function(e) {
    if (isRequestFor(e, "/v1/apikeys", "get")) {
      // Initialize List.js
      const cpList = document.getElementById('apikeyList');
      const list = createList(cpList);

      // Initialize Page Size Select
      const pageSizeSelect = document.getElementById('pageSizeSelect');
      createPageSizeSelect(pageSizeSelect, list);
      return;
    }

    if(isRequestFor(e, "/v1/apikeys", "post")) {
      // Close and reset the create API key modal, then open the created modal.
      const createAPIKeyForm = document.getElementById("createAPIKeyForm");
      createAPIKeyForm.reset();

      const createAPIKeyModal = Modal.getInstance(document.getElementById("createAPIKeyModal"));
      createAPIKeyModal.hide();

      const apiKeyCreatedModal = new Modal("#apiKeyCreatedModal", {});
      apiKeyCreatedModal.show();

      return;
    }
  });

  document.body.addEventListener("htmx:responseError", function(e) {
    // Handle errors for create API key modal
    if (isRequestFor(e, "/v1/apikeys", "post")) {
      const error = JSON.parse(e.detail.xhr.response);
      switch (e.detail.xhr.status) {
        case 400:
          alertError("createAPIKeyAlerts", "Error:", error.error);
          break;
        case 422:
          alertError("createAPIKeyAlerts", "Validation error:", error.error);
          break;
        default:
          break;
      }
    }
  });

  const fullPermissionsToggle = document.getElementById('fullPermissions');
  if (fullPermissionsToggle) {
    fullPermissionsToggle.addEventListener('change', function() {
      toggleFullPermissions(fullPermissionsToggle.checked);
    });
  }

  const createAPIKeyForm = document.getElementById('createAPIKeyForm');
  if (createAPIKeyForm) {
    createAPIKeyForm.addEventListener('reset', function() {
      const alerts = document.getElementById('createAPIKeyAlerts');
      alerts.querySelector('.alert')?.remove();

      resetPermissionsCheckboxes();
    });
  }
</script>
{{- end }}