{{ define "disclaimer" -}}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 4px 20px; font-family: sans-serif; font-size: 14px; line-height: 16px; color: #666666;">
      <p style="margin: 0;">This email and any attachments are intended solely for the Compliance & Travel Rule team of the designated CASP/VASP to which it is addressed and may contain confidential or privileged information.</p>
    </td>
  </tr>
  <tr>
    <td style="padding: 4px 20px; font-family: sans-serif; font-size: 14px; line-height: 16px; color: #666666;">
      <p style="margin: 0;">If you are not the intended recipient, please refrain from reading, copying, or distributing this message. Instead, notify the sender immediately and delete it from your system.</p>
    </td>
  </tr>
  <tr>
    <td style="padding: 4px 20px; font-family: sans-serif; font-size: 14px; line-height: 16px; color: #666666;">
      <p style="margin: 0; font-weight: bold;">Any unauthorized use or disclosure is strictly prohibited.</p>
    </td>
  </tr>
<table>
{{- end }}