{{ define "footer" -}}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 680px;" class="footer">
  <tr>
      <td style="padding: 20px; font-family: sans-serif; font-size: 14px; line-height: 16px; text-align: center; color: #ffffff;">
        This email was sent by a TRISA Envoy node,
        <br />
        an open source project developed for the TRISA Working Group by:
        <br />
        Rotational Labs, Inc.
        <br />
        <span class="unstyle-auto-detected-links">202 N Cedar Ave, Suite #1, Owatonna, MN 55060, USA</span>
      </td>
  </tr>
</table>
{{- end }}