{{ template "page.html" . }}
{{ define "title" }}Review Sunrise Transfer Message | TRISA Envoy{{ end }}
{{ define "pretitle" }}Sunrise{{ end }}
{{ define "pagetitle" }}Review Travel Rule Message{{ end }}

{{ define "modals" }}
  {{ template "rejectSunriseModal" . }}
{{ end }}

{{ define "main"  }}
<div class="row">
  <div class="col">
    <div id="alerts"></div>
  </div>
</div>

{{ if .Organization}}
<h2>{{ .Organization }} Secure Travel Rule Data Portal</h2>
{{ else }}
<h2>TRISA Envoy Secure Travel Rule Data Portal</h2>
{{ end }}

<p class="text-secondary">
  {{- if .Organization }}
  {{ .Organization }} requires a
  <a href="https://trisa.io/about/" target="_blank">Travel Rule information exchange</a>
  for compliance in their jurisdiction before we can transfer virtual assets to one of
  your account holders. Please carefully review the compliance information provided below
  and provide any required information to accept the transfer. If you're not yet part of
  the TRISA network, <a href="https://trisa.directory/guide" target="_blank">consider joining</a>
  to streamline future Travel Rule compliance and secure data exchanges.
  {{- else }}
  Please review the <a href="https://trisa.io/about/" target="_blank">Travel Rule information</a>
  for a virtual asset transfer and provide the required beneficiary information to
  accept the transfer. If you're not yet part of the TRISA network,
  <a href="https://trisa.directory/guide" target="_blank">consider joining</a>
  to streamline future Travel Rule compliance and secure data exchanges.
  {{- end }}
</p>

{{- with .Envelope }}
<h2 class="mb-2 mt-4">Compliance Information</h2>
<p>Transfer ID: <code>{{ .EnvelopeID }}</code></p>
<hr class="mb-4" />

<div class="row">
  <div class="col-md-4">
    <h3>Transaction Information</h3>
    {{- with .Transaction }}
    <dl class="row">
    {{- if .Txid }}
    <dt>Tx ID</dt>
    <dd><code>{{ .Txid }}</code></dd>
    {{- end }}
    {{- if .Timestamp }}
    <dt>Asset Type</dt>
    <dd>{{ .Timestamp }}</dd>
    {{- end }}
    <dt>Originator Wallet</dt>
    <dd><code>{{ .Originator }}</code></dd>
    <dt>Beneficiary Wallet</dt>
    <dd><code>{{ .Beneficiary }}</code></dd>
    <dt>Amount</dt>
    <dd>{{ .Amount }}</dd>
    <dt>Virtual Asset</dt>
    <dd>{{ .Network }}</dd>
    {{- if .AssetType }}
    <dt>Asset Type</dt>
    <dd>{{ .AssetType }}</dd>
    {{- end }}
    {{- if .Tag }}
    <dt>Memo/Tag</dt>
    <dd>{{ .Tag }}</dd>
    {{- end }}
    {{- end }}
  </dl>
  </div>

  {{- with .Identity }}
  <div class="col-md-4">
    <h3>Originating VASP</h3>
    {{- with .OriginatorVASP }}
    <dl class="row">
    <dt>Name</dt>
    <dd>{{ .LegalName }}</dd>
    {{- if .CustomerNumber }}
    <dt>Customer Number</dt>
    <dd>{{ .CustomerNumber }}</dd>
    {{- end }}
    <dt>Registered In</dt>
    <dd>{{ flag .CountryOfRegistration }} {{ country .CountryOfRegistration }}</dd>
    <dt>Registration ID</dt>
    {{- if .NationalIdentifier.Identifier }}
    <dd>
      <span class="badge rounded-pill text-bg-primary me-2">{{ .NationalIdentifier.TypeRepr }}</span>
      <span>{{ .NationalIdentifier.Identifier }}</span>
      {{ if .NationalIdentifier.RegistrationAuthority -}}
        <br /><small class="text-muted">{{ .NationalIdentifier.RegistrationAuthority }}</small>
      {{- end -}}
    </dd>
    {{- else }}
    <dd>Unknown</dd>
    {{ end }}
    {{- if .PrimaryAddress }}
    <dt>{{ .AddressLabel }}</dt>
    <dd>
      {{ if .AddressLine0 }}{{ .AddressLine0 }}<br />{{ end }}
      {{ if .AddressLine1 }}{{ .AddressLine1 }}<br />{{ end }}
      {{ if .AddressLine2 }}{{ .AddressLine2 }}<br />{{ end }}
      {{ country .AddressCountry }}
    </dd>
    {{- end }}
    </dl>
    {{- end }}
  </div>
  <div class="col-md-4">
    <h3>Originating Account</h3>
    {{- range .Originator }}
    {{- if .Person }}
    {{- with .Person }}
    <dl class="row">
    <dt>Name</dt>
    <dd>{{ .FullName }}</dd>
    {{- if .CustomerNumber }}
    <dt>Customer Number</dt>
    <dd>{{ .CustomerNumber }}</dd>
    {{- end }}
    <dt>Resides In</dt>
    {{- if .CountryOfResidence }}
    <dd>{{ flag .CountryOfResidence }} {{ country .CountryOfResidence }}</dd>
    {{- else if .NationalIdentifier.CountryOfIssue }}
    <dd>{{ flag .NationalIdentifier.CountryOfIssue }} {{ country .NationalIdentifier.CountryOfIssue }}</dd>
    {{- else }}
    <dd>Unknown</dd>
    {{- end }}
    {{ if .DateOfBirth }}
    {{- end }}
    {{ if .DateOfBirth }}
    <dt>Date of Birth</dt>
    <dd>{{ .DateOfBirth }}</dd>
    {{ end }}
    {{- if .PlaceOfBirth }}
    <dt>Place of Birth</dt>
    <dd>{{ .PlaceOfBirth }}</dd>
    {{- end }}
    <dt>National ID</dt>
    {{- if .NationalIdentifier.Identifier }}
    <dd>
      <span class="badge rounded-pill text-bg-primary me-2">{{ .NationalIdentifier.TypeRepr }}</span>
      <span>{{ .NationalIdentifier.Identifier }}</span>
      {{ if .NationalIdentifier.RegistrationAuthority -}}
        <br /><small class="text-muted">{{ .NationalIdentifier.RegistrationAuthority }}</small>
      {{- end -}}
    </dd>
    {{- else }}
    <dd>Unknown</dd>
    {{ end }}
    {{- if .PrimaryAddress }}
    <dt>{{ .AddressLabel }}</dt>
    <dd>
      {{ if .AddressLine0 }}{{ .AddressLine0 }}<br />{{ end }}
      {{ if .AddressLine1 }}{{ .AddressLine1 }}<br />{{ end }}
      {{ if .AddressLine2 }}{{ .AddressLine2 }}<br />{{ end }}
      {{ country .AddressCountry }}
    </dd>
    {{- end }}
    </dl>
    {{- end }}
    {{- else if .Company }}
    {{- with .Company }}
    <dl class="row">
    <dt>Name</dt>
    <dd>{{ .LegalName }}</dd>
    {{- if .CustomerNumber }}
    <dt>Customer Number</dt>
    <dd>{{ .CustomerNumber }}</dd>
    {{- end }}
    <dt>Registered In</dt>
    <dd>{{ flag .CountryOfRegistration }} {{ country .CountryOfRegistration }}</dd>
    <dt>Registration ID</dt>
    {{- if .NationalIdentifier.Identifier }}
    <dd>
      <span class="badge rounded-pill text-bg-primary me-2">{{ .NationalIdentifier.TypeRepr }}</span>
      <span>{{ .NationalIdentifier.Identifier }}</span>
      {{ if .NationalIdentifier.RegistrationAuthority -}}
        <br /><small class="text-muted">{{ .NationalIdentifier.RegistrationAuthority }}</small>
      {{- end -}}
    </dd>
    {{- else }}
    <dd>Unknown</dd>
    {{ end }}
    {{- if .PrimaryAddress }}
    <dt>{{ .AddressLabel }}</dt>
    <dd>
      {{ if .AddressLine0 }}{{ .AddressLine0 }}<br />{{ end }}
      {{ if .AddressLine1 }}{{ .AddressLine1 }}<br />{{ end }}
      {{ if .AddressLine2 }}{{ .AddressLine2 }}<br />{{ end }}
      {{ country .AddressCountry }}
    </dd>
    {{- end }}
    </dl>
    {{- end }}
    {{- end }}
    {{- end }}
  </div>
</div>

<hr class="mb-4" />

<form  id="acceptForm" class="mb-5" hx-post="/sunrise/accept" hx-ext="json-enc" hx-swap="none" hx-indicator="#loader" hx-disabled-elt="find button[type='submit']">
  <div class="row align-items-center">
    <div class="col">
      <h2>{{ if .Beneficiary.Plural }}Beneficiaries{{ else }}Beneficiary{{ end }}</h2>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="extended" data-bs-target="#extendedBeneficiary" aria-expanded="false" aria-controls="extendedBeneficiary">
        <i class="fe fe-eye"></i>
        Show Details
      </button>
    </div>
  </div>

  {{- range .Beneficiary }}
  {{- if .Person }}
  {{- template "naturalPersonForm" dict "Prefix" "beneficiary" "Person" .Person }}
  {{- else if .Company }}
  {{- template "legalPersonForm" dict "Prefix" "beneficiary" "Company" .Company }}
  {{- end }}
  {{- end }}

  <hr class="mt-4 mb-5">

  <div class="row align-items-center">
    <div class="col">
      <h2>Beneficiary VASP</h2>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="extended" data-bs-target="#extendedBeneficiaryVASP" aria-expanded="false" aria-controls="extendedBeneficiaryVASP">
        <i class="fe fe-eye"></i>
        Show Details
      </button>
    </div>
  </div>

  {{ template "legalPersonForm" dict "Prefix" "beneficiaryVASP" "Company" .BeneficiaryVASP }}

  <hr class="mt-4 mb-5">

  {{- end }}
  <div class="row align-items-center mb-5">
    <div class="col">
      <button type="submit" class="btn w-100 btn-success" disabled>
        <i class="fe fe-check-square"></i> Accept
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn w-100 btn-danger" data-bs-toggle="modal" data-bs-target="#rejectSunriseModal">
        <i class="fe fe-x-square"></i> Reject
      </a>
    </div>
  </div>
</form>

{{- end }}
{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/sunrise/review.js"></script>
{{ end }}