{{ template "dashboard.html" . }}
{{ define "title" }}Customer Accounts | TRISA Envoy{{ end }}
{{ define "pretitle" }}Customer Accounts{{ end }}
{{ define "pagetitle" }}Manage Wallet Accounts{{ end }}

{{- define "header-actions" }}
{{- if not .IsViewOnly }}
<a href="#!" class="btn btn-primary ms-2">
  Register Wallet
</a>
{{- end }}
{{- end }}

{{- define "tabs" }}
<div class="row align-items-center">
  <div class="col">
    <ul class="nav nav-tabs nav-overflow header-tabs">
      <li class="nav-item">
        <a href="/accounts" class="nav-link active">
          All Accounts
        </a>
      </li>
    </ul>
  </div>
</div>
{{- end }}

{{- define "main" }}
<section id="accounts" hx-get="/v1/accounts" hx-trigger="load">
  <div class="card">
    <div class="card-body text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>
{{- end }}

{{- define "appcode" }}
<script type="module" src="/static/js/modules/components.js"></script>
<script type="module" src="/static/js/accounts/index.js"></script>
{{- end }}