{{ template "page.html" . }}
{{ define "title" }}Compliance Audit Log Management | TRISA Envoy{{ end }}
{{ define "pretitle" }}Compliance Audit Logs{{ end }}
{{ define "pagetitle" }}Compliance Audit Log Detail{{ end }}

{{ define "htmxConfig" }}
<meta
  name="htmx-config"
  content='{
    "responseHandling":[
      {"code":"204", "swap": false},
      {"code":"[23]..", "swap": true},
      {"code":"[45]..", "swap": false, "error":true},
      {"code":"...", "swap": true}
    ]
  }'
/>
{{ end }}

{{ define "page-content" }}
<section id="complianceauditlog" hx-get="/v1/auditlogs/{{ .ID }}" hx-trigger="load, complianceauditlog-updated from:body">
  <div class="card">
    <div class="card-body text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>
{{ end }}
