<div>
  <table class="table overflow-x-auto">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Name</th>
        <th>LEI</th>
        <th>API URL</th>
        <th>Auto Approve</th>
        <th>Beneficiary</th>
        <th>Optional Signing Key</th>
        <th>Protocol</th>
        <th>Date Added</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: Add counterparty data -->
      <tr class="text-center">
        <td colspan="9" class="py-5">There are no counterparty VASPs to display.</td>
      </tr>
    </tbody>
  </table>
</div>