<div class="my-6">
  <div>
    <!-- TODO: Add hx request to update counterparty -->
    <form id="edit-cparty-form">
      <div class="mb-4 grid gap-6 md:grid-cols-2">
        <div>
          <label for="name" class="label-style">VASP Name</label>
          <input type="text" id="name" name="name" class="input-style" value="{{ .Name }}" />
        </div>
        <div>
          <label for="website" class="label-style">Website</label>
          <input type="text" id="website" name="website" class="input-style" value="{{ .Website }}" />
        </div>
      </div>
      <div class="mb-4 grid gap-6 md:grid-cols-2">
        <div>
          <label for="common_name" class="label-style">Common Name</label>
          <input type="text" id="common_name" name="common_name" class="input-style" value="{{ .CommonName }}" />
        </div>
        <div>
          <label for="endpoint" class="label-style">Endpoint</label>
          <input type="text" id="endpoint" name="endpoint" class="input-style" value="{{ .Endpoint }}" />
        </div>
      </div>
      <div class="mb-4">
        <div>
          <label for="country" class="label-style">Country</label>
          <select id="country" name="country"></select>
          <input type="hidden" id="selected-country" value="{{ .Country }}" />
        </div>
      </div>
      <div class="mb-4">
        <label for="signing_key" class="label-style">Signing Key (optional)</label>
        <input type="text" id="signing_key" name="signing_key" class="input-style" value="" />
      </div>
      <div class="mb-6">
        <h3 class="font-bold">Supported Protocols</h3>
        <div class="mt-2 flex items-center gap-x-4">
          {{ if eq .Protocol "trisa" }}
          <div class="flex items-center">
            <input type="checkbox" id="trisa-protocol" name="protocol" value="trisa" checked class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" />
            <label for="trisa-protocol" class="ms-2 text-sm font-medium text-gray-900">TRISA</label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" id="trp-protocol" name="protocol" value="trp" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" />
            <label for="trp-protocol" class="ms-2 text-sm font-medium text-gray-900">TRP</label>
          </div>
          {{ else }}
          <div class="flex items-center">
            <input type="checkbox" id="protocol" name="protocol" value="trisa" checked class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" />
            <label for="protocol" class="ms-2 text-sm font-medium text-gray-900">TRISA</label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" id="protocol" name="protocol" value="trp" checked class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" />
            <label for="protocol" class="ms-2 text-sm font-medium text-gray-900">TRP</label>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="grid grid-cols-2 items-center gap-x-6 mb-6">
        <div>
          <label for="preferred_protocol" class="label-style">Select Preferred Protocol</label>
          <select id="preferred_protocol" size="2" class="overflow-y-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="trisa">TRISA</option>
            <option value="trp">TRP</option>
          </select>
        </div>
        <div>
          <label for="auto_approve" class="label-style">Auto Accept?</label>
          <select id="auto_approve" size="2" class="overflow-y-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="true" selected>YES</option>
            <option value="false">NO</option>
          </select>
        </div>
      </div>
      <div class="mb-6">
        <label for="tag" class="label-style">Notes</label>
        <textarea id="tag" name="tag" value="" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
      </div>
      <div class="flex justify-center items-center gap-x-2">
        <button type="submit" class="w-32 md:w-44 btn bg-[#55ACD8] font-semibold text-lg text-white hover:bg-[#55ACD8]/90">Save</button>
        <a href="/counterparty" class="w-32 md:w-44 btn bg-red-700 font-semibold text-lg text-white hover:bg-red-700/80">Cancel</a>
      </div>
    </form>
  </div>
</div>
<div id="country-list"></div>