{{ with .CounterpartyDetail }}
<div class="modal-box max-w-3xl">
  <div class="mb-4 flex justify-between items-center">
    <h1 class="font-bold text-xl">Counterparty Details</h1>
    <button onclick="cparty_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <dl>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Name</dt>
      <dd>{{ if .Name }} {{ .Name }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Common Name</dt>
      <dd>{{ if .CommonName }} {{ .CommonName }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Website</dt>
      <dd>{{ if .Website }} {{ .Website }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Endpoint</dt>
      <dd>{{ if .Endpoint }} {{ .Endpoint }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Registered Directory</dt>
      <dd>{{ if .RegisteredDirectory }} {{ .RegisteredDirectory }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Protocol</dt>
      <dd>{{ if .Protocol }} {{ .Protocol }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Business Category</dt>
      <dd class="identifier-type">{{ if .BusinessCategory }} {{ .BusinessCategory }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">VASP Categories</dt>
        <div>
          {{ if .VASPCategories }}
          {{ range .VASPCategories }}
          <dd>{{ . }}</dd>
          {{ end }}
          {{ else }}
          <dd>N/A</dd>
          {{ end }}
        </div>
      </ul>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Country</dt>
      <dd>{{ if .Country }} {{ .Country }} {{ else }} N/A {{ end }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Date Verified</dt>
      <dd class="datetime">{{ if .VerifiedOn }} {{ .VerifiedOn }} {{ else }} N/A {{ end }}</dd>
    </div>
  </dl>
</div>
{{ end }}