{{- $canEditAccounts := not .IsViewOnly -}}
{{- with .CounterpartyList -}}
<div class="table-container pb-36 overflow-x-auto overflow-y-hidden">
  <table class="table">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Protocol</th>
        <td>Travel Address</td>
        <th>Date Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ if .Counterparties }}
      {{ range .Counterparties }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Website }}</td>
        <td>{{ .Protocol }}</td>
        <td class="max-w-sm break-words">{{ .TravelAddress }}</td>
        {{ $created := .Created.Format "2006-01-02T15:04:05-0700" }}
        <td class="datetime">{{ $created }}</td>
        <td>
          <div class="flex gap-x-2 items-center">
            {{ if and (eq .Source "user") ($canEditAccounts) }}
            <button type="button" class="btn btn-sm bg-primary text-white hover:bg-primary/90" onclick="cparty_modal.showModal()" 
              hx-get="/v1/counterparties/{{ .ID }}/edit" hx-target="#cparty_modal" hx-swap="innerHTML" hx-indicator="#loader">
              Edit
            </button>
            {{ end }}
            <button type="button" class="btn btn-sm bg-black text-white hover:bg-black/80">View</button>
          </div>
        </td>
      </tr>
      {{ end }}
      {{ else }}
      <tr class="text-center">
        <td colspan="9" class="py-5 text-base">There are no counterparty VASPs to display.</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{- end }}