<dialog id="add_apikey_modal" class="modal">
  <div class="modal-box max-w-2xl">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-xl">Create API Key</h1>
      <button onclick="add_apikey_modal.close()" class="btn btn-sm btn-circle btn-ghost">
        <i class="fa-solid fa-x"></i>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <p class="py-4">Name your key and select access permissions.</p>
    <div>
      <form
        id="new-apikey-form"
        hx-post="/v1/apikeys" 
        hx-ext="json-enc" 
        hx-target="#apikey_modal" 
        hx-swap="outerHTML"
        hx-indicator="#loader" 
        method="post"
        >
        <div class="mb-4">
          <label for="description" class="label-style">API Key Description</label>
          <input type="text" id="description" name="description" class="input-style" />
        </div>
        <h2 class="font-bold">Permissions:</h2>
        <section class="p-2 my-2 border border-gray-300 rounded">
          <h3 class="font-bold">Full Access</h3>
          <div class="flex justify-between">
            <label for="full_access" class="max-w-4xl text-balance">(Manages accounts, api keys, configuration, counterparties, PKI, travel rule interactions, and users.)
            </label>
            <div class="pt-1">
              <input type="checkbox" checked id="full_access" name="permissions" value="full" class="checkbox-style" />
            </div>
          </div>
        </section>
        <section class="max-h-64 overflow-y-scroll p-2 my-4 border border-gray-300 rounded">
          <h3 class="font-bold">Custom Access</h3>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="accounts_manage">accounts:manage</label>
            <input type="checkbox" id="accounts_manage" name="permissions" value="accounts:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="accounts_view">accounts:view</label>
            <input type="checkbox" id="accounts_view" name="permissions" value="accounts:view" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="apikeys_manage">apikeys:manage</label>
            <input type="checkbox" id="apikeys_manage" name="permissions" value="apikeys:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="apikeys_view">apikeys:view</label>
            <input type="checkbox" id="apikeys_view" name="permissions" value="apikeys:view" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="apikeys_revoke">apikeys:revoke</label>
            <input type="checkbox" id="apikeys_revoke" name="permissions" value="apikeys:revoke" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="config_mange">config:manage</label>
            <input type="checkbox" id="config_mange" name="permissions" value="config:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="config_view">config:view</label>
            <input type="checkbox" id="config_view" name="permissions" value="config:view" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="counterparties_manage">counterparties:manage</label>
            <input type="checkbox" id="counterparties_manage" name="permissions" value="counterparties:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="counterparties_view">counterparties:view</label>
            <input type="checkbox" id="counterparties_view" name="permissions" value="counterparties:view" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="pki_manage">pki:manage</label>
            <input type="checkbox" id="pki_manage" name="permissions" value="pki:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="pki_view">pki:view</label>
            <input type="checkbox" id="pki_view" name="permissions" value="pki:view" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="pki_delete">pki:delete</label>
            <input type="checkbox" id="pki_delete" name="permissions" value="pki:delete" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="travelrule:manage">travelrule:manage</label>
            <input type="checkbox" id="travelrule:manage" name="permissions" value="travelrule:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="travelrule:view">travelrule:view</label>
            <input type="checkbox" id="travelrule:view" name="permissions" value="travelrule:view" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="travelrule:delete">travelrule:delete</label>
            <input type="checkbox" id="travelrule:delete" name="permissions" value="travelrule:delete" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="users:manage">users:manage</label>
            <input type="checkbox" id="users:manage" name="permissions" value="users:manage" class="checkbox-style" />
          </div>
          <div class="my-2 grid grid-cols-2 items-center">
            <label for="users:view">users:view</label>
            <input type="checkbox" id="users:view" name="permissions" value="users:view" class="checkbox-style" />
          </div>
        </section>
        <div class="flex justify-center">
          <button id="acct-submit-bttn" class="submit-btn w-44 btn bg-primary font-semibold text-lg text-white hover:bg-primary/90">
            <span class="submit-btn-text">Create</span>
            <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>