{{ define "beneficiary_information" }}

<section class="py-2 border-t border-t-black">
  <h2 class="my-4 font-bold">2. BENEFICIARY INFORMATION</h2>
  <div class="my-4">
    <!-- TODO: Make beneficiary a select that pulls values from counterparty vasp -->
    <div class="my-4">
      <label for="beneficiary_vasp" class="label-style">Beneficiary VASP</label>
      <input type="text" id="beneficiary_vasp" name="beneficiary_vasp" placeholder="Enter the beneficiary's VASP" class="input-style" />
    </div>
  <div class="my-4">
    <label for="travel_address" class="label-style">Travel Address</label>
    <input type="text" id="travel_address" name="travel_address" placeholder="Enter the beneficiary's travel address" class="input-style" />
  </div>
</section>

{{ end }}