{{ define "nav" }}
<nav class="py-6 grid grid-cols-2 items-center">
  <img src="/static/logo192.png" alt="TRISA Logo" class="ml-4" />
  <ul class="flex justify-around text-white lg:text-lg lg:font-semibold">
    <li>
      <a href="#" class="hover:underline">Transactions</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Self Hosted Wallet</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Counterparty VASPs</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Address Book</a>
    </li>
  </ul>
</nav>
{{ end }}