{{ define "nav" }}
<nav class="navbar shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <button type="button" class="ml-2 focus:outline-none focus:ring-2 focus:ring-gray-200 lg:hidden">
        <i class="fa-solid fa-bars text-lg"></i>
        <span class="sr-only">Open Navigation Menu</span>
      </button>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-gray-300 mt-3 z-[1] p-2 shadow rounded-box w-52 font-semibold">
        <li><a href="/transactions"><i class="fa-solid fa-envelope"></i>Transactions</a></li>
        <li><a href="/accounts"><i class="fa-solid fa-rectangle-list"></i>Customer Accounts</a></li>
        <li><a href="/counterparty"><i class="fa-solid fa-building-columns"></i>Counterparty VASPs</a></li>
        <li><a href="/v1/docs"><i class="fa solid fa-book"></i>API Docs</a></li>
      </ul>
    </div>
    <a href="/">
      <img src="/static/envoy-logo.webp" alt="Envoy Logo" class="w-48" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-semibold">
      <li><a href="/transactions"><i class="fa-solid fa-envelope"></i>Transactions</a></li>
      <li><a href="/accounts"><i class="fa-solid fa-rectangle-list"></i>Customer Accounts</a></li>
      <li><a href="/counterparty"><i class="fa-solid fa-building-columns"></i>Counterparty VASPs</a></li>
      <li><a href="/v1/docs" target="_blank"><i class="fa solid fa-book"></i>API Docs</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <div class="flex gap-x-4 items-center">
      <span class="text-sm font-bold">{{ .User.Organization }}</span>
      <div tabindex="0" role="button" class="mr-4 dropdown dropdown-bottom dropdown-left">
        <img src="{{ .User.Gravatar }}" alt="" class="h-[28px] w-[28px] rounded-full" />
        <span class="sr-only">Open User Management Page</span>
        <ul tabindex="0" class="dropdown-content z-[1] bg-black text-white shadow menu menu-sm p-2 rounded-box w-52 font-semibold">
          <li><a href="/profile"><i class="fa-solid fa-user-gear"></i>User Profile</a></li>
          <li><a href="/about"><i class="fa-solid fa-gear"></i>Node Configuration</a></li>
          <li><a href="/users"><i class="fa-solid fa-users"></i>User Management</a></li>
          <li><a href="/utilities/travel-address"><i class="fa-solid fa-suitcase"></i>Travel Addresses</a></li>
          <li><a href="/logout" id="logout-bttn"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{{ end }}