{{ define "network_select" }}
<label for="networks" class="label-style">Network</label>
<select id="networks" name="network" class="">
  <option value="">Select a network</option>
  <option value="BTC">Bitcoin</option>
  <option value="ETH">Ethereum</option>
  <option value="AGM">Argoneum</option>
  <option value="BCH">Bitcoin Cash</option>
  <option value="BTG">Bitcoin Gold</option>
  <option value="XBC">Bitcoinplus</option>
  <option value="BTX">BitCore</option>
  <option value="CHC">Chaincoin</option>
  <option value="DASH">Dash</option>
  <option value="DOGEC">DogeCash</option>
  <option value="DOGE">Dogecoin</option>
  <option value="FTC">Feathercoin</option>
  <option value="GRS">Groestlcoin</option>
  <option value="KOTO">Koto</option>
  <option value="LBTC">Liquid</option>
  <option value="LTC">Litecoin</option>
  <option value="MONA">Monacoin</option>
  <option value="POLIS">Polis</option>
  <option value="TRC">Terracoin</option>
  <option value="UFO">UFO</option>
  <option value="XVG">Verge Currency</option>
  <option value="VIA">Viacoin</option>
  <option value="ZCL">Zclassic</option>
  <option value="XZC">ZCoin</option>

</select>
{{ end }}