{{ define "originator_information" }}

<section class="py-2 border-t border-t-black">
  <h2 class="my-4 font-bold">1. ORIGINATOR INFORMATION</h2>
  <div class="grid gap-6 my-4 md:grid-cols-2">
    <div>
      <label for="orig_first_name" class="label-style">First or Given Name</label>
      <input type="text" id="orig_first_name" name="orig_first_name" placeholder="Enter originator's first or given name" class="input-style" />
    </div>
    <div>
      <label for="orig_last_name" class="label-style">Last or Family Name</label>
      <input type="text" id="orig_last_name" name="orig_last_name" placeholder="Enter originator's last or family name" class="input-style" />
    </div>
  </div>
  <div class="my-4">
    <label for="customer_id" class="label-style">Internal Customer Identifier</label>
    <input type="text" id="customer_id" name="customer_id" placeholder="Enter your customer's internal identification number" class="input-style" />
  </div>
  <div class="grid gap-6 my-4 md:grid-cols-2">
    <div>
      <label for="address_one" class="label-style">Street Address - Line 1</label>
      <input type="text" id="address_one" name="address_one" placeholder="Enter originator's street address" class="input-style" />
    </div>
    <div>
      <label for="address_two" class="label-style">Street Address - Line 2 (optional) eg. apartment or suite number</label>
      <input type="text" id="address_two" name="address_two" placeholder="Enter originator's unit or building number" class="input-style" />
    </div>
    <div>
      <label for="city" class="label-style">City/Municipality</label>
      <input type="text" id="city" name="city" placeholder="Enter originator's city or municipality" class="input-style" />
    </div>
    <div>
      <label for="city" class="label-style">Region/Province/State</label>
      <input type="text" id="region" name="region" placeholder="Enter originator's region, province, or state" class="input-style" />
    </div>
    <div>
      <label for="postal_code" class="label-style">Postal Code</label>
      <input type="text" id="postal_code" name="postal_code" placeholder="Enter originator's postal code" class="input-style" />
    </div>
    
    {{ template "country_select" . }}

  </div>
</section>

{{ end }}