<dialog id="transaction_rejection_modal" class="modal">
  <div class="modal-box">
    <div class="flex justify-between items-center">
      <h3 class="font-bold text-xl">Reject Transaction</h3>
      <button onclick="transaction_rejection_modal.close()" class="btn btn-sm btn-circle btn-ghost">
        <i class="fa-solid fa-x"></i>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <div class="my-4">
      <form id="transaction-reject-form" method="dialog" hx-post="/v1/transactions/{{ .ID }}/reject" hx-ext="json-enc" hx-swap="none">
        <div class="my-4">
          <label for="transaction-rejection" class="label-style">Select a reason for rejecting the transaction:</label>
            <select id="transaction-rejection" name="code"
            class="!bg-gray-50 border !border-gray-300 !text-gray-900 rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full p-2.5">
            <option value="REJECTED">Rejected</option>
            <option value="UNKNOWN_WALLET_ADDRESS">Unknown Wallet Address</option>
            <option value="UNKNOWN_IDENTITY">Unknown Identity</option>
            <option value="UNKNOWN_ORIGINATOR">Unknown Originator</option>
            <option value="UNKNOWN_BENEFICIARY">Unknown Beneficiary</option>
            <option value="UNSUPPORTED_CURRENCY">Unsupported Currency</option>
            <option value="EXCEEDED_TRADING_VOLUME">Exceeded Trading Volume</option>
            <option value="COMPLIANCE_CHECK_FAIL">Compliance Check Fail</option>
            <option value="NO_COMPLIANCE">No Compliance</option>
            <option value="HIGH_RISK">High Risk</option>
            <option value="OUT_OF_NETWORK">Out of Network</option>
            <option value="UNPARSEABLE_IDENTITY">Unable to parse identity record</option>
            <option value="UNPARSEABLE_TRANSACTION">Unable to parse transaction data record</option>
            <option value="MISSING_FIELDS">Missing required fields in transaction data</option>
            <option value="INCOMPLETE_IDENTITY">Identity record is not complete</option>
          </select>
        </div>
        <div class="my-4">
          <label for="notes" class="label-style">Notes</label>
          <textarea id="notes" name="message" rows="4" required
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
        </div>
        <div class="flex items-center gap-x-1.5 mb-4">
          <input type="checkbox" id="request_retry" name="request_retry"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
          <div class="flex items-center gap-x-1">
            <label for="request_retry" class="text-gray-900">Request repair?</label>
            <div class="tooltip tooltip-top md:tooltip-right"
              data-tip="Select this checkbox to send a repair message to the originating VASP to try again if more information is required or something went wrong while handling the travel rule information exchange.">
              <button class="pt-2">
                <img src="/static/infoicon.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
    </div>
    <div class="flex justify-center">
      <button class="btn w-44 font-semibold bg-error text-lg text-white hover:bg-error/80">Reject</button>
    </div>
    </form>
  </div>
  </div>
</dialog>