{{ template "page.html" . }}
{{ define "title" }}Customer Account Transfers | TRISA Envoy{{ end }}

{{ define "htmxConfig" }}
<meta
  name="htmx-config"
  content='{
    "responseHandling":[
      {"code":"204", "swap": false},
      {"code":"[23]..", "swap": true},
      {"code":"[45]..", "swap": false, "error":true},
      {"code":"...", "swap": true}
    ]
  }'
/>
{{ end }}

{{ define "page-content" -}}
{{- $canEditAccounts := not .IsViewOnly -}}
{{ with .AccountDetail -}}
<div class="header mt-md-5">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">

        <!-- Pretitle -->
        <h6 class="header-pretitle">Customer Accounts</h6>

        <!-- Title -->
        <h1 class="header-title">{{ .FirstName }} {{ .LastName }}</h1>

      </div>
      <div class="col-auto">
        <a href="/accounts" class="btn btn-white lift" title="Back to Customer Accounts List">
          <i class="fe fe-arrow-left"></i>
        </a>
      </div>
    </div> <!-- / .row -->
    {{ template "accountTabs" (dict "ID" .ID "Tab" "transfers" "CanEdit" $canEditAccounts) }}
  </div>
</div><!-- header ends -->
{{- end }}
{{- end }}