{{- $canEditAccounts := not .IsViewOnly -}}
{{ with .AccountDetail -}}
<div class="header mt-md-5">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="header-pretitle"><a href="/accounts">Customer Accounts</a></h6>
        <h1 class="header-title">{{ .FirstName }} {{ .LastName }}</h1>
      </div>
      <div class="col-auto">
        <a href="/accounts" class="btn btn-white lift" title="Back to Accounts List">
          <i class="fe fe-arrow-left"></i>
        </a>
      </div>
    </div>
    {{ template "accountTabs" (dict "ID" .ID "Tab" "edit" "CanEdit" $canEditAccounts) }}
  </div>
</div>
{{- end }}