{{ with .TransactionsList -}}
{{- if .Transactions -}}
<div id="related-transfers" class="table-responsive mb-0">
  <table id="transactionsList" class="table table-sm table-nowrap table-hover card-table" data-list='{"valueNames": ["item-status", "item-counterparty", "item-originator", "item-beneficiary", "item-virtual-asset", "item-amount"]}'>
    <thead>
      <tr>
        <th>
          <a class="list-sort text-body-secondary" data-sort="item-status" href="#">Status</a>
        </th>
        <th>
          <a class="list-sort text-body-secondary" data-sort="item-counterparty" href="#">Counterparty</a>
        </th>
        <th>
          <a class="list-sort text-body-secondary" data-sort="item-originator" href="#">Originator</a>
        </th>
        <th>
          <a class="list-sort text-body-secondary" data-sort="item-beneficiary" href="#">Beneficiary</a>
        </th>
        <th>
          <a class="list-sort text-body-secondary" data-sort="item-virtual-asset" href="#">Virtual Asset</a>
        </th>
        <th colspan="2">
          <a class="list-sort text-body-secondary" data-sort="item-amount" href="#">Amount</a>
        </th>
      </tr>
    </thead>
    <tbody class="list fs-base">
      {{ range .Transactions }}
      <tr>
        <td><span class='item-status has-tooltip badge bg-{{ .Status.Color }}  {{ .Status.Opacity }}' title="{{ .Status.Tooltip }}" data-bs-toggle="tooltip" data-bs-placement="right">{{ .Status }}</span></td>
        <td style="max-width: 212px" class="text-truncate"><a class="item-counterparty text-reset" href="/counterparties/{{ .CounterpartyID }}">{{ .Counterparty }}</a></td>
        <td style="max-width: 212px" class="text-truncate"><a class="item-originator text-reset" href="#" data-bs-custom-class="address-tooltip" data-bs-toggle="tooltip" title="{{ .OriginatorAddress }}">
          {{- if .Originator -}}
          {{- .Originator -}}
          <small class="d-none text-secondary">{{- .OriginatorAddress -}}</small>
          {{- else -}}
            <small class="text-secondary">{{- .OriginatorAddress -}}</small>
          {{- end -}}
        </a></td>
        <td style="max-width: 212px" class="text-truncate"><a class="item-beneficiary text-reset" href="#" data-bs-custom-class="address-tooltip" data-bs-toggle="tooltip" title="{{ .BeneficiaryAddress }}">
          {{- if .Beneficiary -}}
            {{- .Beneficiary -}}
            <small class="d-none text-secondary">{{- .BeneficiaryAddress -}}</small>
          {{- else -}}
            <small class="text-secondary">{{- .BeneficiaryAddress -}}</small>
          {{- end -}}
        </a></td>
        <td class="item-virtual-asset">{{ .VirtualAsset }}</td>
        <td class="item-amount">{{ .Amount }}</td>
        <td class="text-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fe fe-more-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="/transactions/{{ .ID }}" class="dropdown-item">
                <i class="fe fe-eye"></i> View
              </a>
            </div>
          </div>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{- else }}
<div id="related-transfers" class="card-body">
  <div class="row">
    <div class="col-12 text-center">
      <p>There are no transfers associated with this account.</p>
    </div>
  </div>
</div>
{{- end }}
{{- end }}