{{ template "dashboard.html" . }}
{{- define "title" }}Counterparty Management | TRISA Envoy{{ end }}
{{- define "pretitle" }}Counterparties{{ end }}
{{- define "pagetitle" }}Manage Counterparty VASPs{{ end }}

{{- define "header-actions" }}
{{- if not .IsViewOnly }}
<a href="#!" class="btn btn-primary ms-2">
  Add Counterparty
</a>
{{- end }}
{{- end }}

{{- define "tabs" }}
<div class="row align-items-center">
  <div class="col">
    <ul class="nav nav-tabs nav-overflow header-tabs">
      <li class="nav-item">
        <a href="/counterparties" class="nav-link{{ if not .Source }} active{{ end }}">
          All Counterparties
        </a>
      </li>
      <li class="nav-item">
        <a href="/counterparties?source=gds" class='nav-link{{ if eq .Source "gds" }} active{{ end }}'>
          TRISA GDS
        </a>
      </li>
      <li class="nav-item">
        <a href="/counterparties?source=user" class='nav-link{{ if eq .Source "user" }} active{{ end }}'>
          Your Counterparties
        </a>
      </li>
    </ul>
  </div>
</div>
{{- end }}

{{- define "main" }}
<section id="counterparties" hx-get="/v1/counterparties?source={{ .Source }}" hx-trigger="load">
  <div class="card">
    <div class="card-body text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>
{{- end }}

{{- define "appcode" }}
<script>
  document.addEventListener("htmx:afterSettle", function(e) {
    // Initialize List.js
    const cpList = document.getElementById('counterpartyList');
    const list = createList(cpList);

    // Initialize Choices.js
    const pageSizeSelect = document.getElementById('pageSizeSelect');
    createChoices(pageSizeSelect);

    // Change the page size when selected
    pageSizeSelect.addEventListener('change', function(e) {
      list.page = parseInt(e.target.value.split(' ')[0]);
      list.update();
    });
  });
</script>
{{- end }}