<div class="modal-box">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl">Change Password</h1>
    <button onclick="user_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <p class="py-4">Enter a new password.</p>
  <div>
    <form
      id="change-pwd-form"
      hx-post="/v1/{{ .ID }}/password"
      hx-ext="json-enc"
      hx-swap="none"
      method="post"
      >
      <div class="mb-4">
        <label for="password" class="label-style pb-0.5">New Password</label>
        <input type="password" id="password" name="password" class="input-style" />
      </div>
      <div class="mb-4">
        <label for="confirm-password" class="label-style pb-0.5">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" class="input-style" />
      </div>
      <div class="py-2.5 flex justify-center">
        <button type="submit" id="change-password-btn" disabled class="btn bg-primary text-white hover:bg-primary/90">Change Password</button>
      </div>
    </form>
  </div>
</div>