<div>
  <table class="table">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Users }}
      {{ range .Users }}
      <tr class="hover">
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .Role }}</td>
        {{ $created := .Created.Format "January 2, 2006 15:04:05" }}
        <td>{{ $created }}</td>
        <td>
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost font-bold text-xl">&hellip;</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-black font-semibold text-white rounded-box">
              <li><a>Edit</a></li>
              <li><a>View</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {{ end }}
      {{ else }}
      <tr class="text-center">
        <td colspan="6" class="py-5 text-base">No user information available.</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>