{{- $isAdmin := .IsAdmin -}}
{{- with .UserList -}}
<div class="table-container pb-36 overflow-x-auto overflow-y-hidden">
  <table class="table table-sm">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created</th>
        <th>Last Login</th>
        {{ if $isAdmin }}
        <th>Actions</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ if .Users }}
      {{ range .Users }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .Role }}</td>
        {{ $created := .Created.Format "2006-01-02T15:04:05-0700" }}
        <td class="datetime">{{ $created }}</td>
        {{ if .LastLogin }}
        {{ $lastLogin := .LastLogin.Format "2006-01-02T15:04:05-0700" }}
        <td class="datetime">{{ $lastLogin }}</td>
        {{ else }}
        <td>&mdash;</td>
        {{ end }}
        {{ if $isAdmin }}
        <td>
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost font-bold text-xl">&hellip;</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-black font-semibold text-white rounded-box">
              <li><a onclick="user_modal.showModal()" hx-get="/v1/users/{{ .ID }}?detail=password" hx-target="#user_modal" hx-swap="innerHTML">Change Password</a></li>
            </ul>
          </div>
        </td>
        {{ end }}
      </tr>
      {{ end }}
      {{ else }}
      <tr class="text-center">
        <td colspan="6" class="py-5 text-base">No user information available.</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{- end }}