<div class="p-4 my-4 border bg-[#FFDDDD]" hx-target="#sunrise-response" hx-swap="outerHTML">
  
  <div class="flex items-baseline gap-x-2">
    <i class="fa-solid fa-circle-check text-lg text-success"></i>
    <p class="py-2 text-lg">
      The secure message transaction has been rejected. A confirmation message will be sent to {originator} with the rejected reason of {reject_reason}. Click the <span class="font-semibold">download</span> button below to save a copy of the transaction data for your records.
      If you're not yet part of the TRISA network, <a href="https://vaspdirectory.net/" target="_blank" class="underline text-blue-700">consider joining</a> 
      to streamline future Travel Rule compliance and secure data exchanges.
    </p>
  </div>
  
  <section id="sunrise-data" class="py-6" hx-get=""></section>

</div>
  