<div class="p-4 my-4 border bg-[#DDFFDD]" hx-target="#sunrise-response" hx-swap="outerHTML">

  <div class="flex items-baseline gap-x-3">
    <i class="fa-solid fa-circle-check text-lg text-success"></i>
    <div>
      <p class="text-lg mb-2">
          Success! The secure message transaction has been accepted. Click the download button below to save a copy of the transaction data for your records.
      <p>
      <p class="text-lg mb-4">
          If you're not yet part of the TRISA network, <a href="https://vaspdirectory.net/" target="_blank" class="underline text-blue-700">consider joining</a>
          to streamline future Travel Rule compliance and secure data exchanges.
      </p>
      <p class="py-2 text-lg">
        <a href="/sunrise/download" class="btn w-96 bg-success text-white font-semibold hover:bg-success/90">
          <i class="fa-solid fa-download"></i> Download Travel Rule JSON Data
        </a>
      </p>
    </div>
  </div>

  <section id="sunrise-data" class="py-6" hx-get=""></section>

</div>