<!-- If the confirmation link is valid and hasn't expired, display the email verification -->

<div id="verify-email" class="mx-auto max-w-4xl">
  <p class="py-4 text-lg">
    {Originator VASP Name} is requesting confirmation of Travel Rule data for a pending transaction. To securely
    review the data and complete the transaction, please confirm your identity by entering your email address below.
  </p>
  <!-- TODO: Add htmx attributes -->
  <form id="verify-email-form" class="py-2" method="post" hx-post="" hx-target="#verify-email" hx-swap="outerHTML" hx-ext="json-enc" hx-indicator="loader">
    <label for="email" class="label-style">Verify Email Address</label>
    <input type="text" id="email" name="email" placeholder="Enter your email address" class="input-style" />
    <div class="flex justify-end py-4">
      <button type="submit" class="submit-btn btn w-32 bg-primary text-white font-semibold hover:bg-primary/90">
        <span class="submit-btn-text">Submit</span>
        <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
      </button>
    </div>
  </form>
</div>

<!-- Else -->

<div class="py-5 mx-auto text-center max-w-4xl">
  <div class="pt-4 pb-8">
    <img src="/static/brokenlink.svg" alt="" class="mx-auto w-14 h-auto" />
  </div>
  <p class="text-lg">The link you followed has expired. Click below to send a new confirmation link to your email address.</p>
  <div class="py-4 flex justify-center">
    <button class="submit-btn btn bg-primary text-white hover:bg-primary/90" hx-post="" hx-indicator="#loader">
      <span class="submit-btn-text text-base">Resend confirmation link</span>
      <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
    </button>
  </div>
</div>
