<div id="verify-code" class="mx-auto max-w-4xl">
  <p class="py-4 text-lg">
    We've sent a verification code to {email_address}. Check your email and enter the code below to securely review and complete the transaction.
  </p>
  <!-- TODO: Complete htmx attributes -->
  <form id="verify-code-form" class="py-2" method="post" hx-post="" hx-ext="json-enc" hx-indicator="loader">
    <label for="code" class="label-style">Enter Verification Code</label>
    <input type="text" id="code" name="code" placeholder="Enter the verification code" class="input-style" />
    <div class="flex justify-end gap-x-2 py-4">
      <button type="button" class="btn w-32 bg-black text-white font-semibold hover:bg-black/90">Resend Code</button>
      <button type="submit" class="submit-btn btn w-32 bg-primary text-white font-semibold hover:bg-primary/90">
        <span class="submit-btn-text">Submit</span>
        <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
      </button>
    </div>
  </form>
</div>