<!-- Note: this form is duplicated in the pages/profile/account.html template and must be updated if this form is. -->
<form hx-post="/v1/profile/password" hx-ext='json-enc' hx-headers='{"Accept": "text/html"}' hx-swap="outerHTML">
  <div class="alerts">
    {{ if .Error }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error:</strong> {{ .Error }}.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{ end }}
  </div>

  {{ $error := "" }}
  {{ if and .FieldErrors (and (index .FieldErrors "current")) }}
  {{ $error = index .FieldErrors "current" }}
  {{ end }}
  <div class="form-group">
    <label class="form-label" for="current">Current password</label>
    <input type="password" class="form-control{{ if $error }} is-invalid{{ end }}" id="current" name="current">
    {{ if $error }}
    <div class="form-text invalid-feedback">{{ $error }}</div>
    {{ end }}
  </div>

  {{ $error := "" }}
  {{ if and .FieldErrors (and (index .FieldErrors "password")) }}
  {{ $error = index .FieldErrors "password" }}
  {{ end }}
  <div class="form-group">
    <label class="form-label" for="password">New password</label>
    <input type="password" class="form-control{{ if $error }} is-invalid{{ end }}" id="password" name="password">
    {{ if $error }}
    <div class="form-text invalid-feedback">{{ $error }}</div>
    {{ end }}
  </div>

  {{ $error := "" }}
  {{ if and .FieldErrors (and (index .FieldErrors "confirm")) }}
  {{ $error = index .FieldErrors "confirm" }}
  {{ end }}
  <div class="form-group">
    <label class="form-label" for="confirm">Confirm new password</label>
    <input type="password" class="form-control{{ if $error }} is-invalid{{ end }}" id="confirm" name="confirm">
    {{ if $error }}
    <div class="form-text invalid-feedback">{{ $error }}</div>
    {{ end }}
  </div>

  <button class="btn w-100 btn-primary lift" type="submit">
    Update password
  </button>
</form>