{{ template "page.html" . }}
{{ define "title" }}Send Travel Rule Message | TRISA Envoy{{ end }}
{{ define "pretitle" }}Travel Rule{{ end }}
{{ define "pagetitle" }}Send a {{ uppercase .Protocol }} Secure Envelope{{ end }}

{{ define "main"  }}
<form id="sendTransferForm" class="mb-5">
  <!-- choose counterparty -->
  <fieldset id="fieldsetCounterparty">
    <h2>Select Counterparty</h2>
    {{ if eq .Protocol "trisa" }}
    <div class="form-group">
      <label class="form-label mb-1" for="travelAddress">Search for TRISA Member</label>
      <small class="form-text text-body-secondary">
        All TRISA VASPs are registered in the TRISA Directory (GDS).
      </small>
      <select class="form-control" id="travelAddress" data-choices='{"searchEnabled": true}' required>
        <option value="0">Select TRISA VASP</option>
        <option value="1">TRISA VASP 1</option>
        <option value="2">TRISA VASP 2</option>
        <option value="3">TRISA VASP 3</option>
      </select>
    </div>
    {{ else if eq .Protocol "sunrise" }}
    <div class="form-group">
      <label class="form-label mb-1" for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Compliance Email Address" required>
      <small class="form-text text-body-secondary">
        Email address of the compliance team at the counterparty VASP.
      </small>
    </div>
    {{ else }}
    <div class="form-group">
      <label class="form-label mb-1" for="travelAddress">Travel Address</label>
      <small class="form-text text-body-secondary">
        TRP transfers require a travel address received from your account holder.
      </small>
      <input type="text" class="form-control" id="travelAddress" placeholder="Enter travel address" required>
    </div>
    {{ end}}
  </fieldset><!-- end choose counterparty -->
  <hr class="mt-4 mb-5">

  <!-- transfer details -->
  <fieldset id="fielsetTransaction">
    <h2>Transfer Details</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="originatorCryptoAddress">Originator Wallet Address</label>
          <input type="text" class="form-control" id="originatorCryptoAddress" placeholder="Crypto Wallet Address" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="beneficiaryCryptoAddress">Beneficiary Wallet Address</label>
          <input type="text" class="form-control" id="beneficiaryCryptoAddress" placeholder="Crypto Wallet Address" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="transferAmount">Transfer Amount</label>
          <small class="form-text text-body-secondary">
            Enter a value that can be matched on the blockchain.
          </small>
          <input type="text" class="form-control" id="transferAmount" placeholder="Transfer Amount" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="transferAmount">Network</label>
          <small class="form-text text-body-secondary">
            Select the network or blockchain DTI/SLIP-0044 code.
          </small>
          <input type="text" class="form-control" id="network" placeholder="Digital Token Identifier" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-label" for="assetType">Asset Type</label>
          <input type="text" class="form-control" id="assetType" placeholder="Network-Specific Asset Type (optional)">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-label" for="memo">Memo/Destination Tag</label>
          <input type="text" class="form-control" id="memo" placeholder="Network-Specific Memo (optional)">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mb-1" for="txnID">Transaction ID/Hash</label>
      <small class="form-text text-body-secondary">
        If the transfer has already been completed on the chain, enter the hash or ID.
      </small>
      <input type="text" class="form-control" id="txnID" placeholder="Transaction ID or Hash">
    </div>
  </fieldset><!-- end transfer details -->
  <hr class="mt-4 mb-5">

  <!-- originator information -->
  <fieldset id="fieldsetOriginator">
    <h2>Originator Information</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="originator_secondaryIdentifier">Legal First or Given Name</label>
          <small class="form-text text-body-secondary">
            Forenames, familiar names, given names, or initials.
          </small>
          <input type="text" class="form-control" id="originator_SecondaryIdentifier" placeholder="Legal Forename">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="originator_primaryIdentifier">Legal Last or Family Name</label>
          <small class="form-text text-body-secondary">
            Family, maiden, or surname excluding suffixes or titles.
          </small>
          <input type="text" class="form-control" id="originator_primaryIdentifier" placeholder="Legal Surname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="originator_countryOfResidence">Country of Residence</label>
          <small class="form-text text-body-secondary">
            The country where the virtual asset is being transferred from.
          </small>
          <select class="form-control" id="originator_countryOfResidence" data-choices='{"searchEnabled": true}'>
            <option value="0">Select Country</option>
            <option value="1">United States</option>
            <option value="2">Canada</option>
            <option value="3">Mexico</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="originator_customerID">Internal Customer Identifier</label>
          <small class="form-text text-body-secondary">
            Optional, an internal identifier for the account holder.
          </small>
          <input type="text" class="form-control" id="originator_customerID" placeholder="Customer Identifier">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6">
        <h3>Geographic Address</h3>
        <div class="form-group">
          <label class="form-label" for="originator_addressType">Address Type</label>
          <select class="form-control" id="originator_addressType" data-choices='{"searchEnabled": false}'>
            <option value="0">Select Address Type</option>
            <option value="1">Residential</option>
            <option value="2">Business</option>
            <option value="3">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_addressLine1">Address Line 1</label>
          <input type="text" class="form-control" id="originator_addressLine1" placeholder="Street Address">
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_addressLine2">Address Line 2</label>
          <input type="text" class="form-control" id="originator_addressLine2" placeholder="Suite or Building Details">
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_addressLine3">Address Line 3</label>
          <input type="text" class="form-control" id="beneficiary_addressLine3" placeholder="City, State, Postal Code">
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_addressCountry">Address Country</label>
          <select class="form-control" id="originator_addressCountry" data-choices='{"searchEnabled": true}'>
            <option value="0">Select Country</option>
            <option value="1">United States</option>
            <option value="2">Canada</option>
            <option value="3">Mexico</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <h3>National Identification</h3>
        <div class="form-group">
          <label class="form-label" for="originator_dateOfBirth">Date of Birth</label>
          <input type="date" class="form-control" id="originator_dateOfBirth" data-flatpickr placeholder="YYYY-MM-DD">
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_placeOfBirth">Place of Birth</label>
          <input type="text" class="form-control" id="originator_placeOfBirth" placeholder="Place of Birth">
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_nationalIdentificationType">Type of National Identification</label>
          <select class="form-control" id="originator_nationalIdentificationType" data-choices='{"searchEnabled": false}'>
            <option value="0">Select National Identification</option>
            <option value="1">Passport</option>
            <option value="2">Driver's License</option>
            <option value="3">Social Security Number</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_nationalIdentificationNumber">National Identification Number</label>
          <input type="text" class="form-control" id="originator_nationalIdentificationNumber" placeholder="Identification Number">
        </div>
        <div class="form-group">
          <label class="form-label" for="originator_countryOfIssue">Country of Issue</label>
          <select class="form-control" id="originator_countryOfIssue" data-choices='{"searchEnabled": true}'>
            <option value="0">Select Country</option>
            <option value="1">United States</option>
            <option value="2">Canada</option>
            <option value="3">Mexico</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset><!-- end originator information -->
  <hr class="mt-4 mb-5">

  <!-- beneficiary information -->
  <fieldset id="fieldsetBeneficiary">
    <h2>Beneficiary Information</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="beneficiary_secondaryIdentifier">Legal First or Given Name</label>
          <small class="form-text text-body-secondary">
            Forenames, familiar names, given names, or initials.
          </small>
          <input type="text" class="form-control" id="beneficiary_secondaryIdentifier" placeholder="Legal Forename">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="beneficiary_primaryIdentifier">Legal Last or Family Name</label>
          <small class="form-text text-body-secondary">
            Family, maiden, or surname excluding suffixes or titles.
          </small>
          <input type="text" class="form-control" id="beneficiary_primaryIdentifier" placeholder="Legal Surname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="beneficiary_countryOfResidence">Country of Residence</label>
          <small class="form-text text-body-secondary">
            The country where the virtual asset is being transferred to.
          </small>
          <select class="form-control" id="beneficiary_countryOfResidence" data-choices='{"searchEnabled": true}'>
            <option value="0">Select Country</option>
            <option value="1">United States</option>
            <option value="2">Canada</option>
            <option value="3">Mexico</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label mb-1" for="beneficiary_customerID">Internal Customer Identifier</label>
          <small class="form-text text-body-secondary">
            Optional, an internal identifier for the account holder.
          </small>
          <input type="text" class="form-control" id="beneficiary_customerID" placeholder="Customer Identifier">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6">
        <h3>Geographic Address</h3>
        <div class="form-group">
          <label class="form-label" for="beneficiary_addressType">Address Type</label>
          <select class="form-control" id="beneficiary_addressType" data-choices='{"searchEnabled": false}'>
            <option value="0">Select Address Type</option>
            <option value="1">Residential</option>
            <option value="2">Business</option>
            <option value="3">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_addressLine1">Address Line 1</label>
          <input type="text" class="form-control" id="beneficiary_addressLine1" placeholder="Street Address">
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_addressLine2">Address Line 2</label>
          <input type="text" class="form-control" id="beneficiary_addressLine2" placeholder="Suite or Building Details">
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_addressLine3">Address Line 3</label>
          <input type="text" class="form-control" id="beneficiary_addressLine3" placeholder="City, State, Postal Code">
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_addressCountry">Address Country</label>
          <select class="form-control" id="beneficiary_addressCountry" data-choices='{"searchEnabled": true}'>
            <option value="0">Select Country</option>
            <option value="1">United States</option>
            <option value="2">Canada</option>
            <option value="3">Mexico</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <h3>National Identification</h3>
        <div class="form-group">
          <label class="form-label" for="beneficiary_dateOfBirth">Date of Birth</label>
          <input type="date" class="form-control" id="beneficiary_dateOfBirth" data-flatpickr placeholder="YYYY-MM-DD">
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_placeOfBirth">Place of Birth</label>
          <input type="text" class="form-control" id="beneficiary_placeOfBirth" placeholder="Place of Birth">
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_nationalIdentificationType">Type of National Identification</label>
          <select class="form-control" id="beneficiary_nationalIdentificationType" data-choices='{"searchEnabled": false}'>
            <option value="0">Select National Identification</option>
            <option value="1">Passport</option>
            <option value="2">Driver's License</option>
            <option value="3">Social Security Number</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_nationalIdentificationNumber">National Identification Number</label>
          <input type="text" class="form-control" id="beneficiary_nationalIdentificationNumber" placeholder="Identification Number">
        </div>
        <div class="form-group">
          <label class="form-label" for="beneficiary_countryOfIssue">Country of Issue</label>
          <select class="form-control" id="beneficiary_countryOfIssue" data-choices='{"searchEnabled": true}'>
            <option value="0">Select Country</option>
            <option value="1">United States</option>
            <option value="2">Canada</option>
            <option value="3">Mexico</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset><!-- end beneficiary information -->
  <hr class="mt-4 mb-5">

  <!-- buttons -->
  <button type="submit" class="btn w-100 btn-primary">
    Preview Message
  </button>
  <a type="reset" href="/transactions" class="btn w-100 btn-link text-body-secondary mt-2">
    <i class="fe fe-arrow-left"></i> Back to Transfer Inbox
  </a>
</form>
{{ end }}