{{ template "page.html" . }}
{{ define "title" }}Send Sunrise Travel Rule Message | TRISA Envoy{{ end }}
{{ define "pretitle" }}Travel Rule{{ end }}
{{ define "pagetitle" }}Send a Sunrise Email{{ end }}

{{ define "main"  }}
  {{ template "sendTransferForm" . }}
{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/modules/networks.js"></script>
<script type="module" src="/static/js/modules/countries.js"></script>
<script type="module" src="/static/js/modules/ivms101.js"></script>
<script type="module" src="/static/js/send/index.js"></script>
{{ end }}