{{ template "page.html" . }}
{{ define "title" }}Send Sunrise Travel Rule Message | TRISA Envoy{{ end }}
{{ define "pretitle" }}Travel Rule{{ end }}
{{ define "pagetitle" }}Send a Sunrise Email{{ end }}

{{ define "htmxConfig" }}
<meta
  name="htmx-config"
  content='{
    "responseHandling":[
      {"code":"204", "swap": false},
      {"code":"[23]..", "swap": true},
      {"code":"[45]..", "swap": false, "error":true},
      {"code":"...", "swap": true}
    ]
  }'
/>
{{ end }}

{{ define "alerts" }}
<div id="alerts" class="position-fixed top-0 end-0 p-3 w-25"></div>
{{ end }}

{{ define "main"  }}
  {{ template "sendTransferForm" . }}
{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/htmx/helpers.js"></script>
<script type="module" src="/static/js/modules/networks.js"></script>
<script type="module" src="/static/js/modules/countries.js"></script>
<script type="module" src="/static/js/modules/ivms101.js"></script>
<script type="module" src="/static/js/send/index.js"></script>
{{ end }}