{{ $canEditAcct := not .IsViewOnly }}
{{ with .AccountDetail }}
<div class="modal-box max-w-3xl">
  <div class="mb-4 flex justify-between items-center">
    <h1 class="font-bold text-xl">Customer Details</h1>
    <button onclick="acct_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <dl>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">First or Given Name</dt>
      <dd>{{ .FirstName }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Last or Family Name</dt>
      <dd>{{ .LastName }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Customer Account ID</dt>
      <dd>{{ .CustomerID }}</dd>
    </div>
  </dl>
  {{ if .CryptoAddresses }}
  <dl>
    <div class="mt-8 mb-4">
      <dt class="font-bold text-lg">Wallet Addresses</dt>
    </div>
    {{ range .CryptoAddresses }}
    <div class="mb-4 grid grid-cols-2">
      <div>
        <dd class="font-bold">{{ .Network }}</dd>
      </div>
      <div>
        <dd class="break-words">{{ .CryptoAddress }}<dd>
        <dd class="mt-1 text-sm text-gray-600 break-words">{{ .TravelAddress }}</dd>
      </div>
    </div>
  </dl>
  {{ end }}
  {{ end }}
  {{ if $canEditAcct }}
  <div class="mt-8 flex justify-center">
    <button id="edit-acct-bttn" hx-get="/v1/accounts/{{ .ID }}/edit" hx-target="#acct_modal" hx-swap="innerHTML" class="w-44 btn bg-primary font-semibold text-lg text-white hover:bg-primary/90">Edit</button>
  </div>
  {{ end }}
</div>
{{ end }}