{{ $canEditAccounts := not .IsViewOnly }}
{{- with .AccountsList -}}
<div class="table-container pb-36 overflow-x-auto overflow-y-hidden">
  <table class="table table-sm">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Travel Address</th>
        <th>Date Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ if .Accounts }}
      {{ range .Accounts }}
        <tr>
          <td>{{ .CustomerID }}</td>
          <td>{{ .FirstName }}&nbsp;{{ .LastName }}</td>
          {{ if .TravelAddress }}
          <td class="max-w-sm break-words">{{ .TravelAddress }}</td>
          {{ else }}
          <td class="px-16">-</td>
          {{ end }}
          {{ $created := .Created.Format "2006-01-02T15:04:05-0700" }}
          <td class="datetime">{{ $created }}</td>
          <td>
            <div class="flex gap-x-2 items-center">
              {{ if $canEditAccounts }}
              <button type="button" id="edit-acct-bttn" class="btn btn-sm bg-primary text-white hover:bg-primary/90" onclick="acct_modal.showModal()" 
                hx-get="/v1/accounts/{{ .ID }}/edit" hx-target="#acct_modal" hx-swap="innerHTML" hx-indicator="#loader">
                Edit
              </button>
                {{ end }}
              <button type="button" id="acct-detail-bttn" class="btn btn-sm bg-black text-white hover:bg-black/80" onclick="acct_modal.showModal()" hx-get="/v1/accounts/{{ .ID }}" hx-target="#acct_modal" hx-swap="innerHTML">View</button>
            </div>
          </td>
        </tr>
      {{ end }}
      {{ else }}
        <tr class="text-center">
          <td colspan="6" class="py-5 text-base">No customer accounts information available.</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{- end }}