<div class="">
  <table class="table">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Virtual Asset</th>
        <th>Wallet Address</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Accounts }}
      {{ range .Accounts }}
        <tr class="hover">
          <td>{{ .CustomerID }}</td>
          <td>{{ .FirstName }}&nbsp;{{ .LastName }}</td>
          <td></td>
          <td></td>
          {{ $created := .Created.Format "January 2, 2006 15:04:05" }}
          <td>{{ $created }}</td>
          <td>
            <div class="dropdown">
              <div tabindex="0" role="button" class="btn btn-ghost fobt-bold text-xl">&hellip;</div>
              <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-[#2F4858] font-semibold text-white rounded-box">
                <li><a>Edit</a></li>
                <li><a hx-get="/v1/transactions/{{ .ID }}" hx-trigger="click">Details</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {{ else }}
        <tr class="text-center">
          <td colspan="6" class="py-5 text-base">No customer accounts information available.</td>
        </tr>
      {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>