<div class="modal-box max-w-3xl">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl">Edit Customer Account</h1>
    <button onclick="acct_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
<p class="py-4">Edit customer account details.</p>
<input type="hidden" id="acct_id" value="{{ .ID }}" />
<div class="">
  <form id="edit-acct">
    <div class="mb-4">
      <label for="first_name" class="label-style">First or Given Name</label>
      <input type="text" id="first_name" name="first_name" class="input-style" value="{{ .FirstName }}" />
    </div>
    <div class="mb-4">
      <label for="last_name" class="label-style">Last or Family Name</label>
      <input type="text" id="last_name" name="last_name" class="input-style" value="{{ .LastName }}" />
    </div>
    <div class="mb-4">
      <label for="customer_id" class="label-style">Customer Account ID (optional)</label>
      <input type="text" id="customer_id" name="customer_id" class="input-style" value="{{ .CustomerID }}" />
    </div>
    {{ if .CryptoAddresses }}
    <div id="crypto-wallets">
      {{ range $index, $cryptoAddress := .CryptoAddresses }}
      <div class="grid gap-6 my-4 md:grid-cols-2">
        <div>
          <label for="crypto_address_{{ $index }}" class="label-style">Wallet Address</label>
          <input type="text" id="crypto_address_{{ $index }}" name="crypto_address_{{ $index }}" value="{{ $cryptoAddress.CryptoAddress }}" class="input-style" />
        </div>
        <div>
          <label for="network_{{ $index }}" class="label-style">Network</label>
          <select id="network_{{ $index }}" name="network_{{ $index }}" class="acct-networks"></select>
          <input type="hidden" value="{{ $cryptoAddress.Network }}" class="network_{{ $index }}" />
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    <div class="mb-4">
      <label for="tag" class="label-style">Notes</label>
      <textarea id="tag" name="tag" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
    </div>
    <!-- TODO: Disable button after user clicks save-->
    <div class="flex justify-center">
      <button hx-put="/v1/accounts/{{ .ID }}" class="w-44 btn bg-primary font-semibold text-lg text-white hover:bg-primary/90">Save</button>
    </div>
  </form>
  </div>
</div>