<div>
  <table class="table overflow-x-auto">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Travel Address</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Accounts }}
      {{ range .Accounts }}
        <tr class="hover">
          <td>{{ .CustomerID }}</td>
          <td>{{ .FirstName }}&nbsp;{{ .LastName }}</td>
          {{ if .TravelAddress }}
          <td>{{ .TravelAddress }}</td>
          {{ else }}
          <td class="px-16">-</td>
          {{ end }}
          {{ $created := .Created.Format "January 2, 2006 15:04:05" }}
          <td>{{ $created }}</td>
          <td>
            <div class="dropdown">
              <div tabindex="0" role="button" class="btn btn-ghost fobt-bold text-xl">&hellip;</div>
              <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-[#2F4858] font-semibold text-white rounded-box">
                <li><a id="edit-acct-bttn" onclick="acct_modal.showModal()" hx-get="/v1/accounts/{{ .ID }}/edit" hx-target="#acct_modal" hx-swap="innerHTML">Edit</a></li>
                <li><a id="acct-detail-bttn" onclick="acct_modal.showModal()" hx-get="/v1/accounts/{{ .ID }}" hx-target="#acct_modal" hx-swap="innerHTML">View</a></li>
              </ul>
            </div>
          </td>
        </tr>
        {{ end }}
      {{ else }}
        <tr class="text-center">
          <td colspan="6" class="py-5 text-base">No customer accounts information available.</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>