<div class="modal-box">
  <div class="mb-4 flex justify-between items-center">
    <h1 class="font-bold text-xl">Customer Details</h1>
    <button onclick="acct_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <dl>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">First or Given Name</dt>
      <dd>{{ .FirstName }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Last or Family Name</dt>
      <dd>{{ .LastName }}</dd>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Customer Account ID</dt>
      <dd>{{ .CustomerID }}</dd>
    </div>
    {{ if .CryptoAddresses }}
    {{ range .CryptoAddresses }}
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Wallet Address</dt>
      <div class="mb-4 grid grid-cols-2">
        <dd>{{ .CryptoAddress }}</dd>
        <dd>{{ .Network }}</dd>
      </div>
    </div>
    <div class="mb-4 grid grid-cols-2">
      <dt class="font-bold">Wallet Address</dt>
      <div class="mb-4 grid grid-cols-2">
        <dd>{{ .CryptoAddress }}</dd>
        <dd>{{ .Network }}</dd>
      </div>
      <div class="mb-4 grid grid-cols-2">
        <dt class="font-bold">Notes</dt>
        <dd>{{ .Tag }}</dd>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </dl>
  <div class="mt-8 flex justify-center">
    <button id="edit-acct-bttn" hx-get="/v1/accounts/{{ .ID }}/edit" hx-target="#acct_modal" hx-swap="innerHTML" class="w-44 btn bg-[#55ACD8] font-semibold text-lg text-white hover:bg-[#55ACD8]/90">Edit</button>
 </div>
  </div>
</div>