{{ define "cancelTransferModal" -}}
<div id="cancelTransferModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cancel Transfer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="cancelAlerts"></div>
        <form id="cancelForm" hx-post="/v1/transactions/{{ .ID }}/reject" hx-ext="json-enc" hx-swap="none" hx-indicator="#cancelLoader" hx-disabled-elt="next button[type='submit'], next button[type='button']">
          <input type="hidden" id="code" name="code" value="CANCELED">
          <input type="hidden" id="retry" name="retry" value="false">
          <div class="form-group">
            <label for="message" class="mb-1">Message</label>
            <textarea id="message" name="message" class="form-control" rows="3" placeholder=""></textarea>
            <small class="form-text text-body-secondary mt-1">
              Add a message to the counterparty compliance team with the cancellation reason.
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span id="cancelLoader" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <button type="submit" form="cancelForm" class="btn btn-warning">Cancel</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- end }}