{{ template "base" . }}

{{ define "title" }}TRISA Envoy Password Reset Link{{ end }}
{{ define "preheader" }}Here is your TRISA Envoy password reset link.{{ end }}

{{ define "content" }}
<tr>
  <td style="background-color: #ffffff;" class="darkmode-bg">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">

          <p style="margin: 0 0 16px;">{{ if .ContactName.Valid }}Hello {{ .ContactName.String }},{{ else }}To Whom It
            May Concern:{{
            end }}</p>
          <p style="padding: 12px 0; margin: 0;">
            Someone has requested a password reset link for a TRISA Envoy node account associated with the email address
            {{ .ContactEmail }}.
          </p>
          <p style="padding: 12px 0; margin: 0;">
            If you did not request to reset your password, please ignore this email and no changes will be made to your
            account. For security purposes, this password reset link will expire in 15 minutes.
          </p>
          <p style="padding: 12px 0; margin: 0;">
            To reset your password, click the button below.
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 20px 20px;">
          <!-- Button : BEGIN -->
          <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
            <tr>
              <td class="button-td button-td-primary" style="border-radius: 4px; background: #55ACD8;">
                <a class="button-a button-a-primary" href="{{ .VerifyURL }}"
                  style="background: #55ACD8; font-family: sans-serif; font-size: 16px; line-height: 20px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">
                  Reset your password
                </a>
              </td>
            </tr>
          </table>
          <!-- Button : END -->
        </td>
      </tr>

      <tr>
        <td style="padding: 12px 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">If you cannot click the button, please copy and paste the following URL into your
            browser: <a href="{{ .VerifyURL }}" style="text-decoration: underline;">{{ .VerifyURL }}</a>
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 2px 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          {{- if .SupportEmail }}
          <p style="margin: 0 0 16px;">If you have trouble visiting the link, please contact us at <a
              href="mailto:{{ .SupportEmail }}">{{ .SupportEmail }}</a>.</p>
          {{- end }}
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">This is an automated message sent by <a href="https://trisa.io">TRISA Envoy</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
{{- end }}

{{ define "bottom" }}
{{ end }}
