{{ template "base" . }}

{{define "title" }}You Have Received a Travel Rule Data Message from {{ .ComplianceName }}{{ end }}
{{ define "preheader" }}A secure travel rule message is waiting for your approval.{{ end }}

{{ define "content" }}
<tr>
  <td style="background-color: #ffffff;" class="darkmode-bg">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">

          <p style="margin: 0 0 16px;">Hello {{ .ContactName }},</p>
          <p style="padding: 12px 0; margin: 0;">
            {{ .ComplianceName }} has sent a secure Travel Rule Data Message that is pending your approval.
          </p>
          <p style="padding: 12px 0; margin: 0;">
            One of our account holders, {{ .OriginatorName }}, is requesting to send virtual assets to
            one of your account holders, {{ .BeneficiaryName }} and this transaction requires Travel
            Rule compliance review.
          </p>
          <p style="padding: 12px 0; margin: 0;">
            To review the transaction click the button below.
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 20px 20px;">
          <!-- Button : BEGIN -->
          <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
            <tr>
              <td class="button-td button-td-primary" style="border-radius: 4px; background: #55ACD8;">
                <a class="button-a button-a-primary" href="{{ .VerifyURL }}"
                  style="background: #55ACD8; font-family: sans-serif; font-size: 16px; line-height: 20px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">
                  Review Travel Rule Message
                </a>
              </td>
            </tr>
          </table>
          <!-- Button : END -->
        </td>
      </tr>

      <tr>
        <td style="padding: 12px 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">If you cannot click the button, please copy and paste the following URL into your
            browser: <a href="{{ .VerifyURL }}" style="text-decoration: underline;">{{ .VerifyURL }}</a>
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 2px 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          {{ if .SupportEmail }}
          <p style="margin: 0 0 16px;">If you have trouble visiting the link, please contact us at <a href="mailto:{{ .SupportEmail }}">{{ .SupportEmail }}</a>.
          {{ end }}
          {{ if .ComplianceEmail }}
          <p style="margin: 0 0 16px;">If you have any compliance questions about this transaction, please contact us at <a href="mailto:{{ .ComplianceEmail }}">{{ .ComplianceEmail }}</a>.
          {{ end }}
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">Thank you, <br /> {{ .ComplianceName }} <br /> Powered by <a href="https://trisa.io">TRISA Envoy</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>

{{ end }}