{{ template "base" . }}

{{ define "title" }} {{ .Code }} is your verification code {{ end }}
{{ define "preheader" }} Your TRISA Envoy verification code {{ end }}

{{ define "content" }}

<tr>
  <td style="background-color: #ffffff;" class="darkmode-bg">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <td style="padding: 2px 20px; font-size: 16px; line-height: 20px; color: #000000;">
        <p style="margin: 0 0 16px;">Verify your email address to view your Travel Rule transaction message. To view the message enter the code below.</p>
        <div style="margin: 0 0 16px;font-weight:600;letter-spacing:.3rem;">
          <p style="text-align:center;vertical-align:middle;font-size:24px">{{ .Code }}</p>
        </div>
      </td>
</tr>

<tr>
  <td style="padding: 20px; font-size: 16px; line-height: 20px; color: #000000;">
    <p style="margin: 0 0 16px;">
      If you did not request this email, please ignore it. For security reasons, this code will expire in 15 minutes.
    </p>
  </td>
</tr>

{{ if .SupportEmail }}
<tr>
  <td style="padding: 2px 20px; font-size: 16px; line-height: 20px; color: #000000;">
    <p style="margin: 0 0 16px;">If you have trouble verifying your email address, please contact us at
      <a href="mailto:{{ .SupportEmail }}">{{ .SupportEmail }}</a>
    </p>
  </td>
</tr>
{{ end }}

<tr>
  <td style="padding: 2px 20px; font-size: 16px; line-height: 20px; color: #000000;">
    <p style="margin: 0 0 16px;">
      This email was sent by <a href="https://trisa.io">TRISA Envoy</a>{{ if .ComplianceName }} on behalf of {{ .ComplianceName }}{{ end }}.
    </p>
  </td>
</tr>

{{ end }}