{{ template "base" . }}

{{ define "title" }} {{ .Code }} is your verification code {{ end }}
{{ define "preheader" }} Your Envoy verification code {{ end }}

{{ define "content" }}

<tr>
  <td style="background-color: #ffffff;" class="darkmode-bg">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding:20px; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">Verify your email to view your Travel Rule Data Message.</p>
        </td>
      </tr>

      <td style="padding: 2px 20px; font-size: 16px; line-height: 20px; color: #000000;">
        <p style="margin: 0 0 16px;">Your one time code is:</p>
        <div style="background:#f5f4f5;border-radius:4px;padding:20px;">
          <p style="text-align:center;vertical-align:middle;font-size:30px">{{ .Code }}</p>
        </div>
      </td>
</tr>

<tr>
  <td style="padding: 20px; font-size: 16px; line-height: 20px; color: #000000;">
    <p style="margin: 0 0 16px;">
      If you did not request this email, please ignore it. For security reasons, this code will expire in 15 minutes.
    </p>
  </td>
</tr>

<tr>
  <td style="padding: 2px 20px; font-size: 16px; line-height: 20px; color: #000000;">
    <p style="margin: 0 0 16px;">If you have trouble verifying your email address, please contact us at
      <a href="mailto:support@rotational.io">support@rotational.io</a>
    </p>
  </td>
</tr>

{{ end }}