{{- with .APIKeyDetail -}}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit API Key</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div id="editAPIKeyAlerts" class="alerts"></div>
      <p>
        Note that only the API Key description can be updated. If the permissions of
        the key need to be changed; please revoke the key and create a new one.
      </p>
      <form id="editAPIKeyForm" hx-put="/v1/apikeys/{{ .ID }}" hx-ext="json-enc" hx-indicator="#loader" hx-disabled-elt="next button[type='submit'], next button[type='reset']">
        <div class="form-group">
          <label class="form-label" for="description">API Key Description</label>
          <input type="text" class="form-control" id="description" name="description" value="{{ .Description }}" required>
        </div>
        <input type="hidden" name="id" value="{{ .ID }}">
      </form>
    </div>
    <div class="modal-footer">
      <span id="loader" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <button id="editBtn" type="submit" form="editAPIKeyForm" class="btn btn-primary">Update</button>
      <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{{- end -}}