{{ template "error" . }}
{{ define "content" }}

<section class="text-center py-20">
  <section class="mb-4 flex gap-x-4 justify-center items-center">
    <h1 class="text-8xl font-black">500</h1>
    <i class="fa-regular fa-face-frown text-7xl"></i>
  </section>
  <h2 class="my-4 text-3xl">Internal Server Error</h2>
  <p class="my-4 text-xl">Sorry, that was unexpected. Try to refresh the page or contact support for assistance.</p>

  <div class="my-10 flex flex-col md:flex-row gap-4 mx-auto w-1/2 xl:w-1/4">
    <a href="/" class="p-4 rounded-md bg-[#517994] font-semibold text-white md:w-full hover:bg-[#517994]/80">Back to Home</a>
    <a href="mailto:support@rotational.io" class="p-4 rounded-md bg-[#517994] font-semibold text-white md:w-full hover:bg-[#517994]/80">Contact Support</a>
  </div>
</section>

{{ end }}