{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 py-12">
  <h1 class="font-semibold text-2xl md:text-3xl text-center text-balance">
    Envoy Node Configuration
  </h1>

  <section class="my-2 md:mx-8 overflow-x-auto">
    <table class="table table-fixed w-96 m-auto">
      <thead>
        <th colspan="2">Application Information</th>
      </thead>
      <tbody>
        <tr>
          <td>Version</td>
          <td>{{ .Version }}</td>
        </tr>
        <tr>
          <td>Revision</td>
          <td>{{ .Revision }}</td>
        </tr>
        <tr>
          <td>Release</td>
          <td>{{ .Release }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  {{ if .Region.Available }}
  <section class="my-4 md:mx-8 overflow-x-auto">
    <table class="table table-fixed w-96 m-auto">
      <thead>
        <th colspan="2">Deployment Details</th>
      </thead>
      <tbody>
        <tr>
          <td>Region</td>
          <td>{{ .Region.Name }} ({{ .Region.ID }})</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{ .Region.Country }}</td>
        </tr>
        <tr>
          <td>Cloud</td>
          <td>{{ .Region.Cloud }}</td>
        </tr>
        <tr>
          <td>Cluster</td>
          <td>{{ .Region.Cluster }}</td>
        </tr>
        <tr>
          <td>API Enabled</td>
          <td>{{ .Config.APIEnabled }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  {{ end }}

  <section class="my-4 md:mx-8 overflow-x-auto">
    <table class="table table-fixed w-96 m-auto">
      <thead>
        <th colspan="2">Node Configuration</th>
      </thead>
      <tbody>
        <tr>
          <td>TRISA Endpoint</td>
          <td>{{ .TRISA.Endpoint }}</td>
        </tr>
        <tr>
          <td>TRP Endpoint</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Directory</td>
          <td>{{ .TRISA.Directory.Endpoint }}</td>
        </tr>
        <tr>
          <td>Key Exchange TTL</td>
          <td>{{ .TRISA.KeyExchangeCacheTTL }}</td>
        </tr>
        {{ if .DirectorySync.Enabled }}
        <tr>
          <td>Directory Sync Interval</td>
          <td>{{ .DirectorySync.Interval }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </section>

</section>

{{ end }}