{{ template "base" . }}
{{ define "content" }}
  <section class="mx-8 py-14">
    <section class="md:flex md:items-center md:gap-x-6 mb-12">
      <h1 class="font-bold text-2xl">Customer Accounts</h1>
      <button onclick="new_acct_modal.showModal()" class="mt-3 md:mt-0 btn btn-sm bg-[#55ACD8] text-white hover:bg-[#55ACD8]/90">Register New Customer</button>
    </section>
    <section hx-get="/v1/accounts" hx-trigger="load">
      <div class="text-center">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    </section>

  <!-- New Customer Account Modal -->
  <dialog id="new_acct_modal" class="modal">
    <div class="modal-box">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-xl">Add New Customer Account</h1>
        <button onclick="new_acct_modal.close()" class="btn btn-sm btn-circle btn-ghost">
          <i class="fa-solid fa-x"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
    <p class="py-4">Add new customer account details.</p>
    <div class="">
      <form id="register-acct" method="post">
        <div class="mb-4">
          <label for="first_name" class="label-style">First or Given Name</label>
          <input type="text" id="first_name" name="first_name" class="input-style" />
        </div>
        <div class="mb-4">
          <label for="last_name" class="label-style">Last or Family Name</label>
          <input type="text" id="last_name" name="last_name" class="input-style" />
        </div>
        <div class="mb-4">
          <label for="customer_id" class="label-style">Customer Account ID (optional)</label>
          <input type="text" id="customer_id" name="customer_id" class="input-style" />
        </div>
        <div id="crypto-wallets">
          <div class="grid gap-6 my-4 md:grid-cols-2 crypto-wallets">
            <div>
              <label for="crypto_address_0" class="label-style">Wallet Address 01</label>
              <input type="text" id="crypto_address_0" name="crypto_address_0" class="input-style" />
            </div>
            <div>
              <label for="network" class="label-style">Network</label>
              <input type="text" id="network_0" name="network_0" class="input-style" />
            </div>
          </div>
        </div>
        <div class="mb-4">
          <button type="button" id="add-wallet-bttn" class="text-blue-600">+ Additional Wallets</button>
        </div>
        <div class="mb-4">
          <label for="tag" class="label-style">Notes</label>
          <textarea id="tag" name="tag" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
        </div>
        <div class="flex justify-center">
          <button hx-post="/v1/accounts" hx-ext="json-enc" class="w-44 btn bg-[#55ACD8] font-semibold text-lg text-white hover:bg-[#55ACD8]/90">Register</button>
        </div>
      </form>
      </div>
    </div>
  </dialog>
  </section>

  <!-- Target for view and edit modals -->
  <dialog id="acct_modal" class="modal"></dialog>

{{ end }}

{{ define "appcode" }}
<script src="/static/js/customerAccounts.js"></script>
{{ end }}