{{ template "base" . }}
{{ define "content" }}

  <section class="mx-8 py-14">
    <section class="md:flex md:items-center md:gap-x-6 mb-12">
      <h1 class="font-bold text-2xl">Counterparty VASPs</h1>
      {{ if not .IsViewOnly }}
      <button onclick="add_cparty_modal.showModal()" class="mt-3 md:mt-0 btn btn-sm bg-primary text-white hover:bg-primary/90">Add New VASP</button>
      {{ end }}
    </section>
    <section id="counterparties" hx-get="/v1/counterparties" hx-trigger="load">
      <div class="text-center">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    </section>

    {{ template "add_cparty_modal" . }}

  <!-- Target for edit and view counterparty modals -->
  <dialog id="cparty_modal" class="modal">
    <span class="loading loading-spinner loading-lg"></span>
  </dialog>
</section>

{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/counterparties.js"></script>
{{ end }}