<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex,follow">
  <title>TRISA Self Hosted Node</title>

  <link rel="icon" type="image/png" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/styles/output.css" />

</head>
<body>
  <header class="py-4 shadow-md">
    <img src="/static/logo192.png" alt="TRISA logo" class="ml-4" />
  </header>
  <main class="flex flex-col justify-center w-full">
    <section class="mx-auto pt-16">
      <form class="form-control w-full border-2 rounded-md py-8 px-8 md:px-36">
        <h1 class="pb-2 text-xl font-semibold">Log into your TRISA Node</h1>
        <div class="py-2">
          <label for="username" class="mb-1 block">Username</label>
          <input type="text" id="username" name="username" required class="input-style" />
        </div>
        <div class="py-2">
          <label for="password" class="mb-1 block">Password</label>
          <input type="text" id="password" name="password" required class="input-style" />
        </div>
        <div class="py-2">
          <button class="btn text-base w-full bg-[#517994] text-white hover:bg-[#517994]/90">Log In</button>
        </div>
      </form>
    </section>
  </main>

  {{ template "footer" . }}

</body>
</html>