{{ template "sunrise" . }}
{{ define "content" }}
{{ $ivms := .IVMS101 }}

<section class="mx-8 py-14">
  <div id="sunrise-response">
    <h1 class="pb-4 text-2xl md:text-3xl font-semibold text-center text-balance">
      Welcome to the Secure Travel Rule Data Exchange
    </h1>
    <p class="py-4 text-lg">
      Review the travel rule data and provide the required beneficiary information to accept the
      transaction. If you're not yet part of the TRISA network, <a href="https://vaspdirectory.net/" target="_blank" class="underline text-blue-700">consider joining</a>
      to streamline future Travel Rule compliance and secure data exchanges.
    </p>

    <div id="sunrise-transaction" class="pt-2">
      {{- with .Envelope -}}
      <div class="mb-4 md:mb-0">
        <h2 class="text-lg mb-1 font-bold text-gray-900 lg:text-2xl">
          Travel Rule Details
        </h2>
        <span class="md:text-md">Transaction ID: {{ .EnvelopeID }}</span>
      </div>
      <div class="grid lg:grid-cols-3 mt-2 py-2 border-t border-t-black">
        <section>
          <h3 class="my-4 font-bold uppercase">TRANSACTION DETAILS</h3>
          <dl>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Status</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .TransferState }}</dd>
            </div>
          {{ with .TransactionPayload -}}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Originator</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .Originator }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Beneficiary</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .Beneficiary }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Amount</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .Amount }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Network</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .Network }}</dd>
            </div>
          {{ if .AssetType }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Asset Type</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .AssetType }}</dd>
            </div>
          {{ end }}
          {{ if .Tag }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Memo/Tag</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .Tag }}</dd>
            </div>
          {{ end }}
          {{ if .ExtraJson }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Extra JSON</dt>
              <dd class="text-sm col-span-3 text-ellipsis"><pre>{{ .ExtraJson }}</pre></dd>
            </div>
          {{ end }}
          {{- end }}
          </dl>
        </section>
        <section>
          <h3 class="my-4 font-bold uppercase">ORIGINATOR VASP</h3>
          {{ with $ivms.OriginatorVASP }}
          <dl>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Name</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .LegalName }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Registered In</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .CountryOfRegistration }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Address</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ range .PrimaryAddressLines }}{{ . }}<br />{{ end }}</dd>
            </div>
            {{ if eq .NationalIdentifier.TypeRepr "LEI" }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">LEI</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.Identifier }}</dd>
            </div>
            {{ else }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">ID Type</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.TypeRepr }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">ID Number</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.Identifier }}</dd>
            </div>
            {{ if .NationalIdentifier.CountryOfIssue }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Issuing Country</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.CountryOfIssue }}</dd>
            </div>
            {{ end }}
            {{ end }}
          </dl>
          {{ end }}
        </section>

        <section>
          {{ with $ivms.Originator }}
          <h3 class="my-4 font-bold uppercase">ORIGINATOR PERSON</h3>
          <dl>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Name</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .FullLegalName }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Address</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ range .PrimaryAddressLines }}{{ . }}<br />{{ end }}</dd>
            </div>
            {{ if .DateOfBirth }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Date of Birth</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .DateOfBirth }}</dd>
            </div>
            {{ end }}
            {{ if .PlaceOfBirth }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Place of Birth</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .PlaceOfBirth }}</dd>
            </div>
            {{ end }}
            {{ if .CountryOfResidence }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Place of Birth</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .CountryOfResidence }}</dd>
            </div>
            {{ end }}
            {{ if .CustomerNumber }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Customer Number</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .CustomerNumber }}</dd>
            </div>
            {{ end }}
            {{ if .NationalIdentifier.Identifier }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">ID Type</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.TypeRepr }}</dd>
            </div>
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">ID Number</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.Identifier }}</dd>
            </div>
            {{ if .NationalIdentifier.CountryOfIssue }}
            <div class="grid grid-cols-4 mb-2">
              <dt class="font-semibold">Issuing Country</dt>
              <dd class="text-sm col-span-3 text-ellipsis">{{ .NationalIdentifier.CountryOfIssue }}</dd>
            </div>
            {{ end }}
            {{ end }}
          </dl>
          {{ end }}
        </section>
      </div>

      <section>
        <form hx-post="" hx-target="#sunrise-response" hx-ext="json-enc" hx-indicator="#loader">
          <div class="mt-4"></div>
          <section class="py-2 border-t border-t-black">
            <h3 class="my-4 font-bold uppercase">BENEFICIARY DETAILS</h3>
            {{ with .TransactionPayload -}}
            <div class="my-5">
              <label for="benf_crypto_address" class="label-style">Crypto Address</label>
              <input type="text" id="benf_crypto_address" name="benf_crypto_address"
                placeholder="Enter beneficiary's crypto address" class="input-style"
                value="{{ .Beneficiary }}" />
            </div>
            {{- end }}
            {{ with $ivms.Beneficiary -}}
            <div class="grid gap-6 my-4 md:grid-cols-2">
              <div>
                <label for="benf_first_name" class="label-style">Legal First or Given Name</label>
                <input type="text" id="benf_first_name" name="benf_first_name"
                  placeholder="Enter beneficiary's first or given name" class="input-style"
                  value="{{ .SecondaryName }}" />
              </div>
              <div>
                <label for="benf_last_name" class="label-style">Legal Last or Family Name</label>
                <input type="text" id="benf_last_name" name="benf_last_name"
                  placeholder="Enter beneficiary's last or family name" class="input-style"
                  value="{{ .PrimaryName }}"/>
              </div>
            </div>
            <div class="grid gap-6 my-4 md:grid-cols-2">
              <div>
                <label for="bf_id_dob" class="label-style">Date of Birth</label>
                <input type="date" id="bf_id_dob" name="bf_id_dob"
                  placeholder="Enter beneficiary's date of birth"
                  class="input-style"
                  value="{{ .DateOfBirth }}"
                  />
              </div>
              <div>
                <label for="bf_id_birth_place" class="label-style">Place of Birth</label>
                <input type="text" id="bf_id_birth_place" name="bf_id_birth_place"
                  placeholder="Enter the beneficiary's place of birth"
                  class="input-style"
                  value="{{ .PlaceOfBirth }}"
                  />
              </div>
            </div>
            <div class="my-4">
              <label for="benf_customer_id" class="label-style">Internal Customer Identifier</label>
              <input type="text" id="benf_customer_id" name="benf_customer_id"
                placeholder="Enter customer's internal identification number"
                class="input-style"
                value="{{ .CustomerNumber }}"
                />
            </div>
            <div class="grid gap-6 my-4 md:grid-cols-2">
              <div>
                <label for="benf_addr_line_1" class="label-style">Street Address - Line 1</label>
                <input type="text" id="benf_addr_line_1" name="benf_addr_line_1"
                  placeholder="Enter beneficiary's street address"
                  class="input-style"
                  value="{{ .AddressLine1 }}"
                  />
              </div>
              <div>
                <label for="benf_addr_line_2" class="label-style">Street Address - Line 2 (optional) eg. apartment or
                  suite number</label>
                <input type="text" id="benf_addr_line_2" name="benf_addr_line_2"
                  placeholder="Enter beneficiary's unit or building number"
                  class="input-style"
                  value="{{ .AddressLine2 }}"
                  />
              </div>
              <div>
                <label for="benf_city" class="label-style">City/Municipality</label>
                <input type="text" id="benf_city" name="benf_city"
                  placeholder="Enter beneficiary's city or municipality"
                  class="input-style"
                  value="{{ .City }}"
                  />
              </div>
              <div>
                <label for="benf_state" class="label-style">Region/Province/State</label>
                <input type="text" id="benf_state" name="benf_state"
                  placeholder="Enter beneficiary's region, province, or state"
                  class="input-style"
                  value="{{ .Region }}"
                  />
              </div>
              <div>
                <label for="benf_post_code" class="label-style">Postal Code</label>
                <input type="text" id="benf_post_code" name="benf_post_code"
                  placeholder="Enter beneficiary's postal code"
                  class="input-style"
                  value="{{ .PostCode }}"
                  />
              </div>
              <div>
                <label for="benf_countries" class="label-style">Country</label>
                <select id="benf_countries" name="benf_country" value="{{ .PrimaryAddress.Country }}"></select>
              </div>
            </div>
            <div class="grid gap-6 my-6 md:grid-cols-2">
              <div>
                <label for="bf_id_number" class="label-style">National Identification Number</label>
                <input type="text" id="bf_id_number" name="bf_id_number"
                  placeholder="Enter beneficiary's national identification number"
                  class="input-style"
                  value="{{ .NationalIdentifier.Identifier }}"
                  />
              </div>
              <div>
                <label for="bf_id_type_code" class="label-style">National Identification Type</label>
                <select id="bf_id_type_code" name="bf_id_type_code" value="{{ .NationalIdentifier.TypeCode }}"></select>
              </div>
            </div>
            <div class="my-6">
              <label for="bf_id_country" class="label-style">Country of Issue</label>
              <select id="bf_id_country" name="bf_id_country" value="{{ .NationalIdentifier.CountryOfIssue }}"></select>
            </div>
            {{- end }}
          </section>
          <section class="py-2 border-t border-t-black">
            <h2 class="my-4 font-bold">5. BENEFICIARY VASP DETAILS </h2>
            <div class="my-5">
              {{ with $ivms.BeneficiaryVASP -}}
              <div class="grid gap-6 my-4">
                <div>
                  <label for="benf_vasp_legal_person_name" class="label-style">Name Identifier</label>
                  <input type="text" id="benf_vasp_legal_person_name" name="id_benf_legalPersonName"
                    value="{{ .LegalName }}" class="input-style" />
                </div>
              </div>

              <div class="grid gap-6 my-4 md:grid-cols-2">
                <div>
                  <label for="benf_vasp_street_name" class="label-style">Address Line 1</label>
                  <input type="text" id="benf_vasp_street_name" name="address_benf_address_line_1"
                    value="{{ .AddressLine1 }}" class="input-style" />
                </div>
              </div>
              {{- end }}
            </div>
          </section>

          <div class="py-4 flex justify-center items-center gap-x-2">
            <button
              type="button"
              onclick="transaction_rejection_modal.showModal()"
              class="p-1 btn w-36 bg-warning font-semibold text-lg text-white text-center md:p-2 hover:bg-warning/80">
              Reject
            </button>
            <button
              type="submit"
              class="submit-btn w-36 btn p-1 bg-success font-semibold text-lg text-white md:p-2 hover:bg-success/80">
              <span class="submit-btn-text">Accept</span>
              <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
            </button>
          </div>
        </form>
      </section>
      {{- end -}}
    </div>
  </div>

</section>

<!-- Reject modal -->
{{ template "transaction_rejection" . }}

{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/msgSelElements.js"></script>
{{ end }}