{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 py-9">
  <h1 class="font-semibold text-2xl md:text-3xl text-center text-balance">Send New Secure Envelope</h1>
  <section class="my-4 md:m-8">
    <p class="my-2 md:text-lg">Create a secure envelope to share transfer details with the counterparty.</p>
    <form id="secure-envelope-form" hx-post="/v1/transactions/prepare" hx-target="#preview_envelope" hx-ext="json-enc" method="post">
      
      {{ template "originator_information" . }}

      {{ template "beneficiary_information" . }}

      {{ template "virtual_asset" . }}
      
      <button id="preview-envelope-bttn" onclick="preview_envelope.showModal()" class="mx-auto block btn bg-primary text-white font-semibold hover:bg-primary/90">Preview Envelope</button>
    </form>
    <div id="orig-countries-content"></div>
    <div id="benf-countries-content"></div>
    <div id="network-content"></div>
  </section>

  <!-- Secure Envelope Preview Modal -->
  <dialog id="preview_envelope" class="modal"></dialog>
</section>

{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/envelope.js"></script>
{{ end }}