{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 py-9">
  <h1 class="font-semibold text-2xl md:text-3xl text-center text-balance">Send New Secure Envelope</h1>
  <section class="my-4 md:m-8">
    <p class="my-2 md:text-lg">Create a secure envelope to share transfer details with the counterparty.</p>
    <form>
      {{ template "originator_information" . }}

      {{ template "beneficiary_information" . }}

      {{ template "virtual_asset" . }}
      
      <!-- TODO: Add trigger to to display the envelope preview  -->
      <button id="preview-envelope-bttn" type="submit" hx-get="/v1/transfers" hx-trigger="click" hx-target="#default-modal" data-modal-target="default-modal" data-modal-toggle="default-modal" class="mx-auto block btn bg-[#55ACD8] text-white font-semibold hover:bg-[#55ACD8]/90">Preview Envelope</button>

      <!-- Main modal -->
      <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div id="modal-container" class="flex flex-col justify-center"></div>
      </div>

      <div id="preview-envelope-overlay" class="hidden fixed top-0 left-0 right-0 bottom-0 bg-black/50"></div>


    </form>
  </section>
</section>

{{ end }}

{{ define "appcode" }}
<script src="/static/js/envelope.js"></script>
{{ end }}