{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 my-14">
  <section hx-get="/v1/transactions/{{ .ID }}" hx-trigger="load">
    <div class="text-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </section>
</section>

<!-- Reject transaction modal -->
{{ template "transaction_rejection.html" . }}

{{ end }}

{{ define "appcode" }}
<script>
  const isRetryChecked = document.getElementById('request_retry')
  const rejectEP = "/v1/transactions/{{ .ID }}/reject"

  // Determine if the request repair checkbox is checked and add to the request parameters.
  document.body.addEventListener('htmx:configRequest', (e) => {
    if (e.detail.path === rejectEP && e.detail.verb === 'post') {
      const retryTransaction = isRetryChecked?.checked;
      e.detail.parameters = {
        ...e.detail.parameters,
        request_retry: retryTransaction,
      };
    };
  });

  // Reset the reject transaction form if the request is successful.
  document.body.addEventListener('htmx:afterRequest', (e) => {
    if (e.detail.requestConfig.path === rejectEP && e.detail.requestConfig.verb === 'post' && e.detail.successful) {
      const transactionRejectForm = document.getElementById('transaction-reject-form')
      transactionRejectForm.reset()
    }
  })
</script>
{{ end }}