{{ define "styles" }}
<link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
{{ end }}

{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 my-14">
  <div id="transaction-accept" hx-get="/v1/transactions/{{ .ID }}/preview" hx-trigger="load">
    <div class="text-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </div>

  <div id="network-content"></div>
</section>

{{ end }}

{{ define "appcode" }}
<script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
<script type="module" src="/static/js/transactionAcceptPreview.js"></script>
{{ end }}
