{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 my-14">
  <section hx-get="/v1/transactions/{{ .ID }}?detail=full" hx-trigger="load, transactionRejected from:body, transactionCompleted from:body">
    <div class="text-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </section>
</section>
<input type="hidden" id="transaction-id" value="{{ .ID }}" />

<!-- Reject transaction modal -->
{{ with $action := printf "/v1/transactions/%s/reject" .ID }}
{{ template "transaction_rejection" . }}
{{ end }}

<dialog id="transaction_complete_modal" class="modal"></dialog>

{{ end }}

{{ define "appcode" }}
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
<script>dayjs.extend(window.dayjs_plugin_relativeTime)</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script type="module" src="/static/js/transactionInfo.js"></script>
{{ end }}