{{ template "base" . }}
{{ define "styles" }}
  <link rel="stylesheet" href="/static/styles/traveladdress.css" />
{{ end }}

{{ define "content" }}

<section class="mx-8 py-12">
  <h1 class="font-semibold text-2xl md:text-3xl text-center text-balance">
    Travel Address Encoder/Decoder
  </h1>

  <section class="my-2 md:mx-8">
    <p class="mb-4 md:text-lg text-center text-balance">
      Encode and Decode Travel Addresses as defined in the
      <a href="https://gitlab.com/OpenVASP/travel-rule-protocol" target="_blank" class="underline hover:text-primary">OpenVASP specifications</a>.
    </p>

    <form id="traddr-encoder-form" class="mx-auto" action="/v1/utilities/travel-address/encode" method="POST">
      <textarea id="input-content" name="decoded" nrows="3" placeholder="beneficiary.com/trisa?t=i"></textarea>
      <div id="error-text" class="text-error text-xs"></div>
      <button type="submit" id="encode-decode-btn" class="btn bg-primary text-white font-semibold hover:bg-primary/90">
        Encode
      </button>
      <div class="output-container">
        <div id="output-label">
          Output:
        </div>
        <div id="output-content"></div>
      </div>
    </form>

  </section>

</section>
{{ end }}

{{ define "appcode"}}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/js/traveladdress.js"></script>
{{ end }}