{{ template "base" . }}
{{ define "content" }}

<section class="mx-8 py-14">
  <section class="md:flex md:items-center md:gap-x-6 mb-12">
    <h1 class="font-bold text-2xl">Users Management</h1>
    {{ if .HasRole "Admin" }}
    <button type="button" onclick="new_user_modal.showModal()" class="mt-3 md:mt-0 btn btn-sm bg-primary text-white hover:bg-primary/90">Add New User</button>
    {{ end }}
  </section>

  <!-- Users list table -->
  <section id="users" hx-get="/v1/users" hx-trigger="load">
    <div class="text-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </section>

  <!-- Add User Modal -->
  <dialog id="new_user_modal" class="modal">
    <div class="modal-box">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-xl">Add New User</h1>
        <button id="close-new-user-modal" onclick="new_user_modal.close()" class="btn btn-sm btn-circle btn-ghost">
          <i class="fa-solid fa-x"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <p class="py-4">Add new user details.</p>
      <div>
        <form id="new-user-form" hx-post="/v1/users" method="post" hx-ext="json-enc" hx-target="#user_modal" hx-swap="outerHTML">
          <div class="mb-4">
            <label for="name" class="label-style">Name</label>
            <input type="text" id="name" name="name" class="input-style" />
          </div>
          <div class="mb-4">
            <label for="email" class="label-style">Email</label>
            <input type="email" id="email" name="email" class="input-style" required />
          </div>
          <div class="mb-4">
            <label for="user-role-sel" class="label-style">Role</label>
            <select id="user-role-sel" name="role" required
            class="!bg-gray-50 border !border-gray-300 !text-gray-900 rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full p-2.5">
              <option value="">Please choose a user role</option>
              <option value="Admin">Admin</option>
              <option value="Compliance">Compliance</option>
              <option value="Observer">Observer</option>
            </select>
          </div>
          <div class="py-4 flex justify-center">
            <button id="add-user-submit" class="w-44 btn bg-primary font-semibold text-lg text-white hover:bg-primary/90">Create User</button>
          </div>
        </form>
      </div>
    </div>
  </dialog>

  <dialog id="user_modal" class="modal"></dialog>

</section>

{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/userSettings.js"></script>
{{ end }}