{{ template "base" . }}
{{ define "content" }}
<section class="mx-8 py-14">
  <section class="mb-12 p-5 border-2 border-black/20 rounded">
    <div class="flex items-center gap-x-4">
      <h1 class="font-bold text-2xl">User Profile</h1>
      <button type="button" onclick="change_pwd_modal.showModal()" class="btn btn-sm bg-primary text-white hover:bg-primary/90">Change Password</button>
    </div>
    <div class="my-5">
      <table class="table">
        <tbody>
          <tr class="border-b-0">
            <th>User ID</th>
            <td>{{ .User.ID }}</td>
          </tr>
          {{ if .User.Name }}
          <tr class="border-b-0">
            <th>User Name</th>
            <td>{{ .User.Name }}</td>
          </tr>
          {{ end }}
          <tr class="border-b-0">
            <th>User Email</th>
            <td>{{ .User.Email }}</td>
          </tr>
          <tr class="border-b-0">
            <th>User Role</th>
            <td>{{ .User.Role }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Change Password Modal -->
  <dialog id="change_pwd_modal" class="modal">
    <div class="modal-box">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-xl">Change Password</h1>
        <button onclick="change_pwd_modal.close()" class="btn btn-sm btn-circle btn-ghost">
          <i class="fa-solid fa-x"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <p class="py-4">Enter a new password.</p>
      <div>
        <form
          id="change-pwd-form"
          hx-post="/v1/change-password" 
          hx-ext="json-enc" 
          hx-swap="none" 
          method="post"
          >
          <div class="mb-4">
            <label for="password" class="label-style pb-0.5">New Password</label>
            <input type="password" id="password" name="password" class="input-style" />
          </div>
          <div class="py-2.5 flex justify-center">
            <button type="submit" class="btn bg-primary text-white hover:bg-primary/90">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </dialog>

</section>

{{ end }}

{{ define "appcode" }}
<script type="module" src="/static/js/userProfile.js"></script>
{{ end }}