@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body main {
  margin-bottom: auto;
}

.input-style {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.label-style {
  @apply mb-1 block font-bold;
}

.envelope-header {
  @apply text-sm text-left;
}

.envelope-data {
  @apply text-sm sm:text-base md:px-6 md:py-4;
}