@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body main {
  margin-bottom: auto;
}

.tooltip {
  --tooltip-color: black;
  --tooltip-text-color: white;
}

.input-style {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.label-style {
  @apply mb-1 block font-bold;
}

.envelope-header {
  @apply text-balance text-sm text-left sm:text-base;
}

.envelope-data {
  @apply text-sm sm:text-base p-2 md:px-6 md:py-4 max-w-44 break-words;
}

/* Select network styles */
.ss-main {
  @apply !bg-gray-50 !border-gray-300 !text-gray-900 !text-sm !rounded-lg focus:!ring-blue-500 focus:!border-blue-500 !w-full !p-2.5;
}

.ss-search input {
  @apply focus:!ring-blue-500 focus:!border-blue-500;
}

.ss-placeholder {
  @apply !text-gray-900;
}

.transaction-preview-container {
  @apply mb-4;
}

.badge-style {
  @apply mt-1 badge badge-info badge-lg;
}