{{ template "page.html" . }}
{{ define "title" }}User Profile | TRISA Envoy{{ end }}
{{ define "pretitle" }}Profile{{ end }}
{{ define "pagetitle" }}{{ .User.Name }}{{ end }}

{{ define "tabs" }}
  {{- with $tab := "profile" }}
    {{- template "profileTabs" $tab }}
  {{- end -}}
{{ end }}

{{ define "main"  }}
<!-- Avatar -->
<div class="row justify-content-between align-items-center">
  <div class="col">
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="avatar">
          <img class="avatar-img rounded-circle" src="{{ .User.Gravatar }}" alt="Avatar Image">
        </div>
      </div>
      <div class="col ms-n2">
        <h4 class="mb-1">
          Profile Avatar
        </h4>
        <small class="text-body-secondary">
          Your avatar image is managed by Gravatar.
        </small>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <a class="btn btn-sm btn-primary" target="_blank" href="https://gravatar.com">
      Change
    </a>
  </div>
</div> <!-- / .row -->

<!-- Divider -->
<hr class="my-5">

<!-- Form Alerts -->
<div id="alerts" class=""></div>

<!-- Profile Form -->
<section id="profileForm" hx-get="/v1/profile" hx-trigger="load">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</section>
{{ end }}

{{ define "appcode" }}
<script>
  function alertError(title, message) {
    const alerts = document.getElementById("alerts");
    alerts.insertAdjacentHTML('beforeend', `
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>${title}</strong>: <span>${message}</span>.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    `);

    setTimeout(() => {
      document.querySelector('.alert').remove()
    }, 5000);
  }

  document.body.addEventListener("htmx:responseError", (e) => {
    const error = JSON.parse(e.detail.xhr.response);
    switch (e.detail.xhr.status) {
      case 400:
        alertError("Could not save profile", error.error);
        break;
      case 422:
        alertError("Validation error", error.error);
        break;
      default:
        break;
    }
  });

  document.body.addEventListener("htmx:afterSettle", (e) => {
    if (isRequestFor(e, "/v1/profile", "put") && checkStatus(e, 200)) {
      // Display success message -- the profile has been saved.
      const alerts = document.getElementById("alerts");
      alerts.insertAdjacentHTML('beforeend', `
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Profile Saved</h4>
            <p class="mb-1">Note that for some changes to take effect like your gravatar or full name, you must log out and log in again.</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      `);

      setTimeout(() => {
        document.querySelector('.alert').remove()
      }, 5000);
    }
  });
</script>
{{ end }}