{{ define "envelopeList" }}
<dl class="row">
  <dt class="text-secondary"><small>Envelope ID</small></dt>
  <dd><code>{{ .EnvelopeID }}</code></dd>

  {{ if .IsError }}
  <dt class="text-secondary"><small>Error Status</small></dt>
  <dd>{{ if .Error.Retry }}Repair Requested{{ else }}Transfer Rejected{{ end }}</dd>

  {{ else }}
  <dt class="text-secondary"><small>Transaction Payload</small></dt>
  <dd>{{ if .Transaction }}Transaction{{ else if .Pending }}Pending{{ else if .Sunrise }}Sunrise{{ else if .TRP }}TRP{{ else }}None{{ end }}</dd>
  {{ end }}

  {{ if .SentAt }}
  <dt class="text-secondary"><small>Sent At</small></dt>
  <dd>{{ rfc3339 .SentAt }}</dd>
  {{ end }}

  {{ if .ReceivedAt }}
  <dt class="text-secondary"><small>Received At</small></dt>
  <dd>{{ rfc3339 .ReceivedAt }}</dd>
  {{ end }}

  {{ if .PublicKeySignature }}
  <dt class="text-secondary"><small>Public Key Signature</small></dt>
  <dd><code>{{ .PublicKeySignature }}</code></dd>
  {{ end }}

  {{ if and .SecureEnvelope .SecureEnvelope.HMAC }}
  <dt class="text-secondary"><small>{{ .SecureEnvelope.HMACAlgorithm }}</small></dt>
  <dd><code>{{ base64 .SecureEnvelope.HMAC }}</code></dd>
  {{ end }}

  <dt class="text-secondary"><small>Transfer State</small></dt>
  <dd>{{ titlecase .TransferState }}</dd>

  <dt class="text-secondary"><small>Timestamp</small></dt>
  <dd>{{ rfc3339 .Timestamp }}</dd>
</dl>
{{ end }}