<div class="w-full border rounded">
  <div class="md:flex items-center justify-between p-4 border border-black rounded bg-[#D9D9D9]">
    <div class="mb-4 md:mb-0">
      <h1 class="text-xl mb-1 font-bold text-gray-900 lg:text-2xl">
        Transaction Details
      </h1>
      <span class="md:text-lg">Transaction ID: {{ .ID }}</span>
    </div>
    <div class="flex gap-x-4">
      {{ if and (eq .Source "remote") (ne .Status "completed") }}
      <a href="/transactions/{{ .ID }}/accept"
        class="p-1 rounded w-32 bg-green-700 font-semibold text-white text-center md:p-2 hover:bg-green-700/80">Accept</a>
      <button onclick="transaction_rejection_modal.showModal()"
        class="p-1 rounded w-32 bg-red-700 font-semibold text-white md:p-2 hover:bg-red-700/80">Reject</button>
      {{ end }}
      <button class="p-1 rounded w-32 bg-gray-700 font-semibold text-white md:p-2 hover:bg-gray-700/80">Archive</button>
      <a href="/transactions"
        class="p-1 rounded w-32 bg-black font-semibold text-white text-center md:p-2 hover:bg-black/80">Back</a>
    </div>
  </div>
  <div class="my-2 grid grid-cols-2 gap-x-6">
    <section class="p-4">
      <div class="">
        <h2 class="font-bold text-lg">Transfer Details:</h2>
      </div>
      <dl>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Type</dd>
          <!-- TODO: Add tooltip style to icons -->
          {{ if eq .Source "local" }}
          <div class="flex items-center gap-x-1">
            <i class="fa-solid fa-file-export" title="Outgoing transaction from local VASP"></i>
            <dt class="sr-only">Outgoing</dt>
          </div>
          {{ else if eq .Source "remote" }}
          <div class="flex items-center gap-x-1">
            <i class="fa-solid fa-file-import" title="Incoming transaction from remote VASP"></i>
            <dt class="sr-only">Incoming</dt>
          </div>
          {{ else }}
          <div class="flex items-center gap-x-1">
            <i class="fa-solid fa-question" title="Unknown transaction type"></i>
            <dt class="sr-only">Unknown</dt>
          </div>
          {{ end }}
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Status</dd>
          <dt>{{ .TitleStatus }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Network</dd>
          <dt>{{ .VirtualAsset }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Amount</dd>
          <dt>{{ .Amount }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Number of Envelopes</dd>
          <dt>{{ .EnvelopeCount }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Created</dd>
          {{ if .Created }}
          {{ $created := .Created.Format "January 2, 2006 3:04:05 PM" }}
          <dt>{{ $created }}</dt>
          {{ else }}
          <dt>&mdash;</dt>
          {{ end }}
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Last Update</dd>
          {{ if .LastUpdate }}
          {{ $lastUpdate := .LastUpdate.Format "January 2, 2006 3:04:05 PM" }}
          <dt>{{ $lastUpdate }}</dt>
          {{ else }}
          <dt>&mdash;</dt>
          {{ end }}
        </div>
      </dl>
    </section>

    <section class="p-4">
      <div class="">
        <h2 class="font-bold text-lg">Identity Details:</h2>
      </div>
      <dl>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Counterparty VASP</dd>
          <dt>{{ .Counterparty }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Counterparty ID</dd>
          <dt>{{ .CounterpartyID }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Originator Name</dd>
          <dt>{{ .Originator }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Originator Wallet Address</dd>
          {{ if eq .OriginatorAddress "" }}
          <dt>&mdash;</dt>
          {{ else }}
          <dt>{{ .OriginatorAddress }}</dt>
          {{ end }}
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Beneficiary Name</dd>
          <dt>{{ .Beneficiary }}</dt>
        </div>
        <div class="grid grid-cols-2 p-2">
          <dd class="font-bold">Beneficiary Wallet Address</dd>
          <dt>{{ .BeneficiaryAddress }}</dt>
        </div>
      </dl>
    </section>
  </div>
</div>

<section class="my-4 p-4">
  <h2 class="text-xl font-bold">Secure Envelopes ({{ .EnvelopeCount }})</h2>
  <div class="my-4" hx-get="/v1/transactions/{{ .ID }}/secure-envelopes" hx-trigger="load">
    <div class="text-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </div>
</section>