<section class="my-4">
  <section>
    <div class="mb-4 md:mb-0">
      <span class="font-semibold">Transaction ID: {{ .Transaction.Txid }}</span>
    </div>
  </section>
  <form id="transaction-accept" hx-post="/v1/transactions/{{ .Transaction.Txid }}/send" hx-swap="none"
    method="post">
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">1. TRANSACTION DETAILS</h2>
      <div class="grid gap-6 my-4 md:grid-cols-2">
        <div>
          <label for="originator" class="label-style">Originator Address</label>
          <input type="text" id="originator" name="originator" value="{{ .Transaction.Originator }}"
            class="input-style" />
        </div>
        <div>
          <label for="beneficiary" class="label-style">Beneficiary Address</label>
          <input type="text" id="beneficiary" name="beneficiary" value="{{ .Transaction.Beneficiary }}"
            class="input-style" />
        </div>
        <div>
          <label for="network" class="label-style">Network</label>
          <select id="network" name="network"></select>
          <input type="hidden" id="selected-network" value="{{ .Transaction.Network }}" />
        </div>
        <div>
          <label for="amount" class="label-style">Amount</label>
          <input id="amount" name="amount" value="{{ .Transaction.Amount }}" class="input-style" />
        </div>
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">2. ORIGINATOR DETAILS</h2>
      {{ $originator := (index .Identity.Originator.OriginatorPersons 0).Person.NaturalPerson }}
      {{ $originatorName := $originator.Name.NameIdentifiers }}
      {{ $originatorAddress := $originator.GeographicAddresses }}
      <div class="grid gap-6 my-4 md:grid-cols-2">
        {{ range $originatorName }}
        <div>
          <label for="orig_primary_identifier" class="label-style">Primary Identifier</label>
          <input type="text" id="orig_primary_identifier" name="orig_primary_identifier" value="{{ .PrimaryIdentifier}}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_secondary_identifier" class="label-style">Secondary Identifier</label>
          <input type="text" id="orig_secondary_identifier" name="orig_secondary_identifier"
            value="{{ .SecondaryIdentifier }}" class="input-style" />
        </div>
        <!-- TODO: Replace input with select -->
        <div>
          <label for="orig_name_identifier_type" class="label-style">Name Identifier Type</label>
          <input type="text" id="orig_name_identifier_type" name="orig_name_identifier_type"
            value="{{ .NameIdentifierType }}" class="input-style" />
        </div>
        {{ end }}

        {{ range $originatorAddress }}
        <div>
          <label for="orig_street_name" class="label-style">Street Address</label>
          <input type="text" id="orig_street_name" name="orig_street_name" value="{{ .StreetName }}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_building_number" class="label-style">Building Number</label>
          <input type="text" id="orig_building_number" name="orig_building_number" value="{{ .BuildingNumber }}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_town_name" class="label-style">City/Municipality</label>
          <input type="text" id="orig_town_name" name="orig_town_name" value="{{ .TownName }}" class="input-style" />
        </div>
        <div>
          <label for="orig_district_name" class="label-style">Region/Province/State</label>
          <input type="text" id="orig_district_name" name="orig_district_name" value="{{ .DistrictName }}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_post_code" class="label-style">Postal Code</label>
          <input type="text" id="orig_post_code" name="orig_post_code" value="{{ .PostCode }}" class="input-style" />
        </div>
        <!-- TODO: Replace input with select element -->
        <div>
          <label for="orig_country" class="label-style">Country</label>
          <select id="orig_country" name="orig_country" class="countries"></select>
          <input type="hidden" class="orig_country" value="{{ .Country }}" />
        </div>
        <div>
          <label for="orig_address_type" class="label-style">Address Type</label>
          <input type="text" id="orig_address_type" name="orig_address_type" value="{{ .AddressType }}"
            class="input-style" />
        </div>
        {{ end }}

        <div>
          <label for="orig_country_of_residence" class="label-style">Country of Residence</label>
          <select id="orig_country_of_residence" name="orig_country_of_residence" class="countries"></select>
          <input type="hidden" class="orig_country_of_residence" value="{{ $originator.CountryOfResidence }}" />
        </div>
        <div>
          <label for="orig_customer_identification" class="label-style">Customer Identification</label>
          <input type="text" id="orig_customer_identification" name="orig_customer_identification"
            value="{{ $originator.CustomerIdentification }}" class="input-style" />
        </div>

        {{ range .Identity.Originator.AccountNumbers }}
        <div>
          <label for="orig_account_numbers" class="label-style">Account Number</label>
          <input type="text" id="orig_account_numbers" name="orig_account_numbers" value="{{ . }}"
            class="input-style" />
        </div>
        {{ end }}
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">3. BENEFICIARY DETAILS </h2>
      {{ $beneficiary := (index .Identity.Beneficiary.BeneficiaryPersons 0).Person.NaturalPerson }}
      {{ $beneficiaryName := $beneficiary.Name.NameIdentifiers }}
      {{ $beneficiaryAddress := $beneficiary.GeographicAddresses }}
      <div class="grid gap-6 my-4 md:grid-cols-2">
        {{ range $beneficiaryName }}
        <div>
          <label for="benf_primary_identifier" class="label-style">Primary Identifier</label>
          <input type="text" id="benf_primary_identifier" name="benf_primary_identifier" value="{{ .PrimaryIdentifier}}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_secondary_identifier" class="label-style">Secondary Identifier</label>
          <input type="text" id="benf_secondary_identifier" name="benf_secondary_identifier"
            value="{{ .SecondaryIdentifier }}" class="input-style" />
        </div>
        <!-- TODO: Replace input with select -->
        <div>
          <label for="benf_name_identifier_type" class="label-style">Name Identifier Type</label>
          <input type="text" id="benf_name_identifier_type" name="benf_name_identifier_type"
            value="{{ .NameIdentifierType }}" class="input-style" />
        </div>
        {{ end }}

        {{ range $beneficiaryAddress }}
        <div>
          <label for="benf_street_name" class="label-style">Street Address</label>
          <input type="text" id="benf_street_name" name="benf_street_name" value="{{ .StreetName }}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_building_number" class="label-style">Building Number</label>
          <input type="text" id="benf_building_number" name="benf_building_number" value="{{ .BuildingNumber }}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_town_name" class="label-style">City/Municipality</label>
          <input type="text" id="benf_town_name" name="benf_town_name" value="{{ .TownName }}" class="input-style" />
        </div>
        <div>
          <label for="benf_district_name" class="label-style">Region/Province/State</label>
          <input type="text" id="benf_district_name" name="benf_district_name" value="{{ .DistrictName }}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_post_code" class="label-style">Postal Code</label>
          <input type="text" id="benf_post_code" name="benf_post_code" value="{{ .PostCode }}" class="input-style" />
        </div>
        <!-- TODO: Replace input with select element -->
        <div>
          <label for="benf_country" class="label-style">Country</label>
          <select id="benf_country" id="benf_country" class="countries"></select>
          <input type="hidden" class="benf_country" value="{{ .Country }}" />
        </div>
        <div>
          <label for="benf_address_type" class="label-style">Address Type</label>
          <input type="text" id="benf_address_type" name="benf_address_type" value="{{ .AddressType }}"
            class="input-style" />
        </div>
        {{ end }}

        <div>
          <label for="benf_country_of_residence" class="label-style">Country of Residence</label>
          <select id="benf_country_of_residence" name="benf_country_of_residence" class="countries"></select>
          <input type="hidden" class="benf_country_of_residence" value="{{ $beneficiary.CountryOfResidence }}" />
        </div>
        <div>
          <label for="benf_customer_identification" class="label-style">Customer Identification</label>
          <input type="text" id="benf_customer_identification" name="benf_customer_identification"
            value="{{ $beneficiary.CustomerIdentification }}" class="input-style" />
        </div>

        {{ range .Identity.Beneficiary.AccountNumbers }}
        <div>
          <label for="benf_account_numbers" class="label-style">Account Number</label>
          <input type="text" id="benf_account_numbers" name="benf_account_numbers" value="{{ . }}"
            class="input-style" />
        </div>
        {{ end }}
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">4. ORIGINATING VASP DETAILS </h2>
      <div class="grid gap-6 my-4 md:grid-cols-2">
        {{ $originatingVasp := .Identity.OriginatingVasp.OriginatingVasp.Person.LegalPerson }}
        {{ $originatingLegalPerson := $originatingVasp.Name }}

        {{ range $originatingLegalPerson.NameIdentifiers }}
        <div>
          <label for="orig_vasp_legal_person_name" class="label-style">Legal Person Name</label>
          <input type="text" id="orig_vasp_legal_person_name" name="orig_vasp_legal_person_name"
            value="{{ .LegalPersonName }}" class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_legal_person_name_identifier_type" class="label-style">Legal Person Name Identifier
            Type</label>
          <input type="text" id="orig_vasp_legal_person_name_identifier_type"
            name="orig_vasp_legal_person_name_identifier_type" value="{{ .LegalPersonNameIdentifierType }}"
            class="input-style" />
        </div>
        {{ end }}

        {{ range $originatingLegalPerson.LocalNameIdentifiers }}
        <div>
          <label for="orig_vasp_local_legal_name" class="label-style">Local Name Primary Identifier</label>
          <input type="text" id="orig_vasp_local_legal_name" name="orig_vasp_local_legal_name"
            value="{{ .LegalPersonName }}" class="input-style" />
        </div>
        <!-- TODO: Replace identifier type input with select -->
        <div>
          <label for="orig_vasp_local_legal_name_identifier_type" class="label-style">Local Name Identifier Type</label>
          <input type="text" id="orig_vasp_local_legal_name_identifier_type"
            name="orig_vasp_local_legal_name_identifier_type" value="{{ .LegalPersonNameIdentifierType }}"
            class="input-style" />
        </div>
        {{ end }}

        {{ range $originatingVasp.GeographicAddresses }}
        <div>
          <label for="orig_vasp_street_name" class="label-style">Street Address</label>
          <input type="text" id="orig_vasp_street_name" name="orig_vasp_street_name" value="{{ .StreetName }}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_building_number" class="label-style">Building Number</label>
          <input type="text" id="orig_vasp_building_number" name="orig_vasp_building_number"
            value="{{ .BuildingNumber }}" class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_town_name" class="label-style">City/Municipality</label>
          <input type="text" id="orig_vasp_town_name" name="orig_vasp_town_name" value="{{ .TownName }}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_district_name" class="label-style">Region/Province/State</label>
          <input type="text" id="orig_vasp_district_name" name="orig_vasp_district_name" value="{{ .DistrictName }}"
            class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_post_code" class="label-style">Postal Code</label>
          <input type="text" id="orig_vasp_post_code" name="orig_vasp_post_code" value="{{ .PostCode }}"
            class="input-style" />
        </div>
        <!-- TODO: Replace input with select element -->
        <div>
          <label for="orig_vasp_country" class="label-style">Country</label>
          <select id="orig_vasp_country" name="orig_vasp_country" class="countries"></select>
          <input type="hidden" class="orig_vasp_country" value="{{ .Country }}" />
        </div>
        <div>
          <label for="orig_vasp_address_type" class="label-style">Address Type</label>
          <input type="text" id="orig_vasp_address_type" name="orig_vasp_address_type" value="{{ .AddressType }}"
            class="input-style" />
        </div>
        {{ end }}

        {{ $nationalIdentification := $originatingVasp.NationalIdentification }}
        <div>
          <label for="orig_vasp_national_identifier" class="label-style">National Identifier</label>
          <input type="text" id="orig_vasp_national_identifier" name="orig_vasp_national_identifier"
            value="{{ $nationalIdentification.NationalIdentifier }}" class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_national_identifier_type" class="label-style">National Identifier Type</label>
          <input type="text" id="orig_vasp_national_identifier_type" name="orig_vasp_national_identifier_type"
            value="{{ $nationalIdentification.NationalIdentifierType }}" class="input-style" />
        </div>
        <!-- TODO: Replace input with select -->
        <div>
          <label for="orig_vasp_country_of_issue" class="label-style">Country of Issue</label>
          <select id="orig_vasp_country_of_issue" name="orig_vasp_country_of_issue" class="countries"></select>
          <input type="hidden" class="orig_vasp_country_of_issue" value="{{ $nationalIdentification.CountryOfIssue }}" />
        </div>
        <div>
          <label for="orig_vasp_registration_authority" class="label-style">Registration Authority</label>
          <input type="text" id="orig_vasp_registration_authority" name="orig_vasp_registration_authority"
            value="{{ $nationalIdentification.RegistrationAuthority }}" class="input-style" />
        </div>
        <div>
          <label for="orig_vasp_country_of_registration" class="label-style">Country of Registration</label>
          <select id="orig_vasp_country_of_registration" name="orig_vasp_country_of_registration" class="countries"></select>
          <input type="hidden" class="orig_vasp_country_of_registration" value="{{ $originatingVasp.CountryOfRegistration }}" />
        </div>
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">5. BENEFICIARY VASP DETAILS </h2>
      <div class="grid gap-6 my-4 md:grid-cols-2">
        {{ $beneficiaryVasp := .Identity.BeneficiaryVasp.BeneficiaryVasp.Person.LegalPerson }}

        {{ range $beneficiaryVasp.NameIdentifiers }}
        <div>
          <label for="benf_vasp_legal_person_name" class="label-style">Name Identifier</label>
          <input type="text" id="benf_vasp_legal_person_name" name="benf_vasp_legal_person_name"
            value="{{ .LegalPersonName }}" class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_legal_person_name_identifier_type" class="label-style">Legal Person Name Identifier
            Type</label>
          <input type="text" id="benf_vasp_legal_person_name_identifier_type"
            name="benf_vasp_legal_person_name_identifier_type" value="{{ .LegalPersonNameIdentifierType }}"
            class="input-style" />
        </div>
        {{ end }}

        {{ range $beneficiaryVasp.GeographicAddresses }}
        <div>
          <label for="benf_vasp_street_name" class="label-style">Street Address</label>
          <input type="text" id="benf_vasp_street_name" name="benf_vasp_street_name" value="{{ .StreetName }}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_building_number" class="label-style">Building Number</label>
          <input type="text" id="benf_vasp_building_number" name="benf_vasp_building_number"
            value="{{ .BuildingNumber }}" class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_town_name" class="label-style">City/Municipality</label>
          <input type="text" id="benf_vasp_town_name" name="benf_vasp_town_name" value="{{ .TownName }}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_district_name" class="label-style">Region/Province/State</label>
          <input type="text" id="benf_vasp_district_name" name="benf_vasp_district_name" value="{{ .DistrictName }}"
            class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_post_code" class="label-style">Postal Code</label>
          <input type="text" id="benf_vasp_post_code" name="benf_vasp_post_code" value="{{ .PostCode }}"
            class="input-style" />
        </div>
        <!-- TODO: Replace input with select element -->
        <div>
          <label for="benf_vasp_country" class="label-style">Country</label>
          <select id="benf_vasp_country" name="benf_vasp_country" class="countries"></select>
          <input type="hidden" class="benf_vasp_country" value="{{ .Country }}" />
        </div>
        <div>
          <label for="benf_vasp_address_type" class="label-style">Address Type</label>
          <input type="text" id="benf_vasp_address_type" name="benf_vasp_address_type" value="{{ .AddressType }}"
            class="input-style" />
        </div>
        {{ end }}

        {{ $beneficiaryNationalIdentification := $beneficiaryVasp.NationalIdentification }}
        <div>
          <label for="benf_vasp_national_identifier" class="label-style">National Identifier</label>
          <input type="text" id="benf_vasp_national_identifier" name="benf_vasp_national_identifier"
            value="{{ $beneficiaryNationalIdentification.NationalIdentifier }}" class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_national_identifier_type" class="label-style">National Identifier Type</label>
          <input type="text" id="benf_vasp_national_identifier_type" name="benf_vasp_national_identifier_type"
            value="{{ $beneficiaryNationalIdentification.NationalIdentifierType }}" class="input-style" />
        </div>
        <!-- TODO: Replace input with select -->
        <div>
          <label for="benf_vasp_country_of_issue" class="label-style">Country of Issue</label>
          <select id="benf_vasp_country_of_issue" name="benf_vasp_country_of_issue" class="countries"></select>
          <input type="hidden" class="benf_vasp_country_of_issue" value="{{ $beneficiaryNationalIdentification.CountryOfIssue }}" />
        </div>
        <div>
          <label for="benf_vasp_registration_authority" class="label-style">Registration Authority</label>
          <input type="text" id="benf_vasp_registration_authority" name="benf_vasp_registration_authority"
            value="{{ $beneficiaryNationalIdentification.RegistrationAuthority }}" class="input-style" />
        </div>
        <div>
          <label for="benf_vasp_country_of_registration" class="label-style">Country of Registration</label>
          <select id="benf_vasp_country_of_registration" name="benf_vasp_country_of_registration" class="countries"></select>
          <input type="hidden" class="benf_vasp_country_of_registration" value="{{ $beneficiaryVasp.CountryOfRegistration }}" />
        </div>
      </div>
    </section>
    <div class="py-4 flex justify-center items-center gap-x-2">
      <button type="submit"
        class="p-1 rounded w-36 bg-green-700 font-semibold text-white md:p-2 hover:bg-green-700/80">Accept</button>
      <a href="/transactions/{{ .Transaction.Txid }}/info"
        class="p-1 rounded w-36 bg-red-700 font-semibold text-white text-center md:p-2 hover:bg-red-700/80">Cancel</a>
    </div>
  </form>
</section>