<div class="modal-box">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl">Complete Transaction</h1>
    <button id="transaction-complete-close-btn" onclick="transaction_complete_modal.close()" class="btn btn-sm btn-circle btn-ghost">
      <i class="fa-solid fa-x"></i>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <p class="py-4">Send the on-chain transaction ID to the counterparty so that they may identify the transaction record.</p>
  <div>
    <form
      id="transaction-complete-form"
      hx-post="/v1/transactions/{{ .EnvelopeID }}/send"
      hx-ext="json-enc"
      hx-swap="none"
      hx-indicator="#loader"
      method="dialog"
      >
      <input id="envelope" name="envelope" type="hidden" value="{{ .EnvelopeDump }}" />
      <div class="mb-4">
        <label for="txid" class="label-style pb-0.5">Transaction ID (Txid)</label>
        <input type="text" id="txid" name="txid" class="input-style" required />
      </div>
      <div class="flex justify-center">
        <button id="transaction-complete-btn" type="submit" class="btn w-44 font-semibold bg-primary text-lg text-white hover:bg-primary/90">
          <span id="complete-btn-text">Complete</span>
          <span id="loader" class="htmx-indicator loading loading-spinner loading-md"></span>
        </button>
      </div>
    </form>
  </div>
</div>