<div class="overflow-x-auto">
  <table class="table">
    <thead class="font-bold text-base text-black">
      <tr>
        <th>Type</th>
        <th>Status</th>
        <th>Originator VASP</th>
        <th>Originator</th>
        <th>Beneficiary</th>
        <th>Virtual Asset</th>
        <th>Amount</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr class="text-center">
          <td colspan="9" class="py-5 text-base">There are no transactions to display.</td>
        </tr>
    </tbody>
  </table>
</div>