<div id="preview-envelope-container" class="modal-box mx-auto relative p-4 w-full max-w-7xl max-h-full">
  <!-- Modal content -->
    <div>
      <!-- Modal header -->
      <div class="md:flex items-center justify-between p-4 border border-black bg-[#D9D9D9]">
        <div class="mb-4 md:mb-0">
          <h1 class="text-xl font-bold text-gray-900 lg:text-2xl">
            Secure Envelope Details: Preview
          </h1>
        </div>
        <!-- TODO: Make buttons same width -->
        <form 
          _="on htmx:afterRequest
              if event.detail.successful
                remove @open from #preview_envelope
                then remove .hidden from #success-toast
                then put 'Success! Secure envelope sent.' into #success-toast-msg
                then wait 5s
                then add .hidden to #success-toast
                then reset() the #secure-envelope-form
                then reload() the location of the window
                then go to top of the body" 
          hx-post="/v1/transactions/send" 
          hx-target="#secure-envelope-form" 
          hx-swap="none" 
          hx-ext="json-enc" 
          method="post"
          >
          <input type="hidden" id="travel_address" name="travel_address" value="{{ .Dump }}" />
          <div class="flex flex-row md:w-1/3 gap-x-2 md:gap-4 w-full">
            <button type="submit" class="p-1 rounded bg-green-700 font-semibold text-white md:p-2 hover:bg-green-700/80">Send</button>
            <button type="button" onclick="preview_envelope.close()" class="p-1 rounded bg-[#55ACD8] font-semibold text-white md:p-2 hover:bg-[#55ACD8]/80">Edit</button>
            <button type="button" onclick="preview_envelope.close()" class="p-1 rounded bg-red-700 font-semibold text-white md:p-2 hover:bg-red-700/80">Cancel</button>
          </div>
        </form>
      </div>
          <!-- Modal body -->
        <div class="w-full py-4">
          <section class="mx-auto mb-4 p-4 md:mx-0 lg:mb-0 md:p-6 border border-black rounded bg-[#D9D9D9]">
            <div class="mb-2"><span class="font-semibold">Travel Address: </span>{{ .TravelAddress }}</div>
            <div>Transaction Details:</div>
            <div>{{ .Transaction.Originator }}</div>
            <div>{{ .Transaction.Beneficiary }}</div>
            <div>{{ .Transaction.Amount }}</div>
            <div>{{ .Transaction.Network }}</div>
            
            <div class="mb-2">
              <span class="font-semibold">Originator:</span>
              {{ $originator := (index .Identity.Originator.OriginatorPersons 0).Person.NaturalPerson }}
              {{ $originatorName := $originator.Name.NameIdentifiers }}
              {{ range $originatorName }}
              <div>{{ .SecondaryIdentifier }} {{ .PrimaryIdentifier }}</div>
              <div>{{ .NameIdentifierType }}</div>
              {{ end }}
              {{ $originatorAddress := $originator.GeographicAddresses }}
              {{ range $originatorAddress }}
              <div>{{ .AddressType }}</div>
              {{ range .AddressLine }}
              <div>{{ . }}</div>
              {{ end }}
              <div>{{ .Country }}</div>
              {{ end }}
              <div>{{ $originator.CountryOfResidence }}</div>
              <div>{{ $originator.CustomerIdentification }}</div>
              {{ range .Identity.Originator.AccountNumbers }}
              <div>{{ . }}</div>
              {{ end }}
            </div>

            <div class="mb-2">Originating VASP:</div>
            {{ $originatingVasp := .Identity.OriginatingVasp.OriginatingVasp.Person.LegalPerson }}
            {{ $originatingLegalPerson :=  $originatingVasp.Name }}
            {{ range $originatingLegalPerson.NameIdentifiers }}
            <div>{{ .LegalPersonName }}</div>
            <div>{{ .LegalPersonNameIdentifierType }}</div>
            {{ end }}
            {{ range $originatingLegalPerson.LocalNameIdentifiers }}
            <div>{{ .LegalPersonName }}</div>
            <div>{{ .LegalPersonNameIdentifierType }}</div>
            {{ end }}
            {{ range $originatingLegalPerson.PhoneticNameIdentifiers }}
            <div>{{ .LegalPersonName }}</div>
            <div>{{ .LegalPersonNameIdentifierType }}</div>
            {{ end }}
            {{ range $originatingVasp.GeographicAddresses }}
            <div>{{ .AddressType }}</div>
            {{ range .AddressLine }}
            <div>{{ . }}</div>
            {{ end }}
            <div>{{ .Country }}</div>
            {{ end }}

            {{ $nationalIdentification := $originatingVasp.NationalIdentification }}
            <div>{{ $nationalIdentification.NationalIdentifier }}</div>
            <div>{{ $nationalIdentification.NationalIdentifierType }}</div>
            <div>{{ $nationalIdentification.CountryOfIssue }}</div>
            <div>{{ $nationalIdentification.RegistrationAuthority }}</div>
            <div>{{ $originatingVasp.CountryOfRegistration }}</div>

            <div>Beneficiary Vasp</div>
            {{ $beneficiaryVasp := .Identity.BeneficiaryVasp.BeneficiaryVasp.Person.LegalPerson }}
            {{ range $beneficiaryVasp.Name.NameIdentifiers }}
            <div>{{ .LegalPersonName }}</div>
            <div>{{ .LegalPersonNameIdentifierType }}</div>
            {{ end }}

            {{ range $beneficiaryVasp.GeographicAddresses }}
            <div class="font-bold">{{ .AddressType }}</div>
            <div class="font-bold">{{ .StreetName }}</div>
            <div>{{ .BuildingNumber }}</div>
            <div>{{ .PostCode }} {{ .TownName }}</div>
            <div>{{ .Country }}</div>
            {{ end }}

            {{ $beneficiaryNationalIdentifier := $beneficiaryVasp.NationalIdentification }}
            <div>{{ $beneficiaryNationalIdentifier.NationalIdentifier }}</div>
            <div>{{ $beneficiaryNationalIdentifier.NationalIdentifierType }}</div>
            <div>{{ $beneficiaryNationalIdentifier.CountryOfIssue }}</div>
            <div>{{ $beneficiaryNationalIdentifier.RegistrationAuthority }}</div>

            <div>{{ $beneficiaryVasp.CountryOfRegistration }}</div>

            <div class="mb-2"><span class="font-semibold">Beneficiary:</span></div>
            {{ $beneficiary := (index .Identity.Beneficiary.BeneficiaryPersons 0).Person.NaturalPerson }}
            {{ $beneficiaryName := $beneficiary.Name.NameIdentifiers }}
            {{ range $beneficiaryName }}
            <div>{{ .PrimaryIdentifier }} {{ .SecondaryIdentifier }}</div>
            <div>{{ .NameIdentifierType }}</div>
            {{ end }}

            {{ $beneficiaryAddress := $beneficiary.GeographicAddresses }}
            {{ range $beneficiaryAddress }}
            <div>{{ .AddressType }}</div>
            {{ range .AddressLine }}
            <div>{{ . }}</div>
            {{ end }}
            <div>{{ .Country }}</div>
            {{ end }}
            <div>{{ $beneficiary.CountryOfResidence }}</div>
            {{ range .Identity.Beneficiary.AccountNumbers }}
            <div>{{ . }}</div>
            {{ end }}
          </section>
        </div>
      </div>
    </div>
</div>

