<div id="preview-envelope-container" class="modal-box mx-auto relative p-4 max-w-5xl">
  <!-- Modal content -->
  <div class="max-h-[450px] overflow-y-auto">
    <!-- Modal header -->
    <div class="md:flex items-center justify-between p-4 border border-black bg-neutral">
      <div class="mb-4 md:mb-0">
        <h1 class="text-xl font-bold text-gray-900 lg:text-2xl">
          Secure Envelope Details: Preview
        </h1>
      </div>
      <form _="on htmx:afterRequest
              if event.detail.successful
                remove @open from #preview_envelope
                then remove .hidden from #success-toast
                then put 'Success! Secure envelope sent.' into #success-toast-msg
                then wait 5s
                then add .hidden to #success-toast
                then reset() the #secure-envelope-form
                then reload() the location of the window
                then go to top of the body" hx-post="/v1/transactions/send-prepared" hx-target="#secure-envelope-form"
        hx-swap="none" hx-ext="json-enc" method="post">
        <input type="hidden" id="prepared_payload" name="prepared_payload" value="{{ .Dump }}" />
        <div class="flex flex-row gap-x-2 md:gap-4">
          <button type="submit"
            class="p-1 w-32 rounded bg-success font-semibold text-white md:p-2 hover:bg-success/80">
              <div class="flex justify-center items-center">
                <svg aria-hidden="true" role="status" class="htmx-indicator inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                </svg>
                <span>Send</span>
              </div>
          </button>
          <button type="button" onclick="preview_envelope.close()"
            class="p-1 w-32 rounded bg-primary font-semibold text-white md:p-2 hover:bg-primary/90">Edit</button>
          <button type="button" onclick="preview_envelope.close()"
            class="p-1 w-32 rounded bg-warning font-semibold text-white md:p-2 hover:bg-warning/80">Cancel</button>
        </div>
      </form>
    </div>
    <!-- Modal content -->
    <div class="py-4">
      <section class="mx-auto mb-4 p-4 md:mx-0 lg:mb-0 md:p-6 border border-black rounded bg-neutral">
        <div class="mb-4">
          <h2 class="pb-2 text-lg font-bold">TRANSACTION DETAILS:</h2>
          <dl>
            <div class="grid md:grid-cols-2">
              <div class="transaction-preview-container">
                <dt class="font-semibold">Originator</dt>
                <dd>{{ if .Transaction.Originator }} {{ .Transaction.Originator }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Beneficiary</dt>
                <dd>{{ if .Transaction.Beneficiary }} {{ .Transaction.Beneficiary }} {{ else }} N/A {{ end }}</dd>
              </div>
            </div>
            <div class="grid md:grid-cols-2">
              <div class="transaction-preview-container">
                <dt class="font-semibold">Amount</dt>
                <dd>{{ if .Transaction.Amount }} {{ .Transaction.Amount }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Network</dt>
                <dd>{{ if .Transaction.Network }} {{ .Transaction.Network }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Travel Address</dt>
                <dd class="max-w-sm break-words">
                  {{ if .TravelAddress }} {{ .TravelAddress }} {{ else }} N/A {{ end }}</dd>
              </div>
            </div>
          </dl>
        </div>

        <div class="my-4 grid md:grid-cols-2">
          <div>
            <h2 class="pb-2 text-lg font-bold">ORIGINATOR:</h2>
            {{ $originator := (index .Identity.Originator.OriginatorPersons 0).Person.NaturalPerson }}
            {{ $originatorName := $originator.Name.NameIdentifiers }}
            {{ $originatorBirth := $originator.DateAndPlaceOfBirth }}
            {{ $originatorAddress := $originator.GeographicAddresses }}
            {{ $originatorNationalIdentification := $originator.NationalIdentification }}

            <dl>
              <div class="transaction-preview-container">
                {{ range $originatorName }}
                <dt class="font-semibold">Name Identifiers</dt>
                <dd>
                  {{ if .SecondaryIdentifier }} {{ .SecondaryIdentifier }} {{ end }}
                  {{ if .PrimaryIdentifier }} {{ .PrimaryIdentifier }} {{ else }} <span>N/A</span>{{ end }}
                </dd>
              </div>
              {{ if or .PrimaryIdentifier .SecondaryIdentifier }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Name Identifiers Type</dt>
                <dd class="identifier-type badge-style">{{ .NameIdentifierType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              <div class="transaction-preview-container">
                <dt class="font-semibold">Date of Birth</dt>
                <dd>{{ if $originatorBirth.DateOfBirth }} {{ $originatorBirth.DateOfBirth }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Place of Birth</dt>
                <dd>{{ if $originatorBirth.PlaceOfBirth }} {{ $originatorBirth.PlaceOfBirth }} {{ else }} N/A {{ end }}</dd>
              </div>

              {{ range $originatorAddress }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Address</dt>
                <div>
                  {{ if index .AddressLine 0 }}
                  <dd>{{ index .AddressLine 0 }}</dd>
                  <dd>{{ index .AddressLine 1 }}</dd>
                  <dd>{{ index .AddressLine 2 }}</dd>
                  {{ else }}
                  <dd>N/A</dd>
                  {{ end }}
                  <dd>{{ .Country }}</dd>
                </div>
              </div>
              {{ if index .AddressLine 0 }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Address Type</dt>
                <dd class="identifier-type badge-style">{{ .AddressType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Residence</dt>
                <dd>{{ if $originator.CountryOfResidence }} {{ $originator.CountryOfResidence }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Customer Identification</dt>
                <dd>{{ if $originator.CustomerIdentification }} {{ $originator.CustomerIdentification }} {{ else }} N/A {{ end }}</dd>
              </div>

              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification Number</dt>
                <dd>{{ if $originatorNationalIdentification.NationalIdentifier }} {{ $originatorNationalIdentification.NationalIdentifier }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification Type</dt>
                <dd class="identifier-type badge-style">{{ $originatorNationalIdentification.NationalIdentifierType }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Issue</dt>
                <dd>{{ if $originatorNationalIdentification.CountryOfIssue }} {{ $originatorNationalIdentification.CountryOfIssue }} {{ else }} N/A {{ end }}</dd>
              </div>

              <div class="transaction-preview-container">
                {{ if gt (len .Identity.Originator.AccountNumbers) 1 }}
                <dt class="font-semibold">Account Numbers</dt>
                {{ else }}
                <dt class="font-semibold">Account Number</dt>
                {{ end }}
                {{ range .Identity.Originator.AccountNumbers }}
                <div>{{ if . }} {{ . }} {{ else }} N/A {{ end }}</div>
                {{ end }}
              </div>
            </dl>
          </div>

          <div>
            <h2 class="pb-2 text-lg font-bold">BENEFICIARY:</h2>
            <dl>
              <div class="transaction-preview-container">
                {{ $beneficiary := (index .Identity.Beneficiary.BeneficiaryPersons 0).Person.NaturalPerson }}
                {{ $beneficiaryName := $beneficiary.Name.NameIdentifiers }}

                {{ range $beneficiaryName }}
                <dt class="font-semibold">Name Identifiers</dt>
                <dd>
                  {{ if .SecondaryIdentifier }} {{ .SecondaryIdentifier }} {{ end }}
                  {{ if .PrimaryIdentifier }} {{ .PrimaryIdentifier }} {{ else }} N/A {{ end }}
                </dd>
              </div>
              {{ if or .PrimaryIdentifier .SecondaryIdentifier }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Name Identifiers Type</dt>
                <dd class="identifier-type badge-style badge-style">{{ .NameIdentifierType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              {{ $beneficiaryBirth := $beneficiary.DateAndPlaceOfBirth }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Date of Birth</dt>
                <dd>{{ if $beneficiaryBirth.DateOfBirth }} {{ $beneficiaryBirth.DateOfBirth }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Place of Birth</dt>
                <dd>{{ if $beneficiaryBirth.PlaceOfBirth }} {{ $beneficiaryBirth.PlaceOfBirth }} {{ else }} N/A {{ end }}</dd>
              </div>

              {{ $beneficiaryAddress := $beneficiary.GeographicAddresses }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Address</dt>
                {{ range $beneficiaryAddress }}
                <div>
                  {{ if index .AddressLine 0 }}
                  <dd>{{ index .AddressLine 0 }}</dd>
                  <dd>{{ index .AddressLine 1 }}</dd>
                  <dd>{{ index .AddressLine 2 }}</dd>
                  {{ else }}
                  <dd>N/A</dd>
                  {{ end }}
                  <dd>{{ .Country }}</dd>
                </div>
              </div>
              {{ if index .AddressLine 0 }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Address Type</dt>
                <dd class="identifier-type badge-style">{{ .AddressType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Residence</dt>
                <dd>{{ if $beneficiary.CountryOfResidence }} {{ $beneficiary.CountryOfResidence }} {{ else }} N/A {{ end }} </dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Customer Identification</dt>
                <div>{{ if $beneficiary.CustomerIdentification }} {{ $beneficiary.CustomerIdentification }} {{ else }} N/A {{ end }}</div>
              </div>

              {{ $beneficiaryNationalIdentification := $beneficiary.NationalIdentification }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification Number</dt>
                <dd>{{ if $beneficiaryNationalIdentification.NationalIdentifier }} {{ $beneficiaryNationalIdentification.NationalIdentifier }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification Type</dt>
                <dd class="identifier-type badge-style">{{ $beneficiaryNationalIdentification.NationalIdentifierType }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Issue</dt>
                <dd>{{ if $beneficiaryNationalIdentification.CountryOfIssue }} {{ $beneficiaryNationalIdentification.CountryOfIssue }} {{ else }} N/A {{ end }}</dd>
              </div>

              <div class="transaction-preview-container">
                {{ if gt (len .Identity.Beneficiary.AccountNumbers) 1 }}
                <dt class="font-semibold">Account Numbers</dt>
                {{ else }}
                <dt class="font-semibold">Account Number</dt>
                {{ end }}
                {{ range .Identity.Beneficiary.AccountNumbers }}
                <dd>{{ if . }} {{ . }} {{ else }} N/A {{ end }}</dd>
                {{ end }}
              </div>

            </dl>
          </div>
        </div>

        <div class="my-4 grid md:grid-cols-2">
          <div>
            <dl>
              <h2 class="pb-2 text-lg font-bold">ORIGINATING VASP:</h2>
              {{ $originatingVasp := .Identity.OriginatingVasp.OriginatingVasp.Person.LegalPerson }}
              {{ $originatingLegalPerson := $originatingVasp.Name }}

              {{ range $originatingLegalPerson.NameIdentifiers }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Name Identifiers</dt>
                <dd>{{ if .LegalPersonName }} {{ .LegalPersonName }} {{ else }} N/A {{ end }}</dd>
              </div>
              {{ if .LegalPersonName }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Name Identifiers Type</dt>
                <dd class="identifier-type badge-style">{{ .LegalPersonNameIdentifierType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              {{ range $originatingLegalPerson.LocalNameIdentifiers }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Local Name Identifiers</dt>
                <dd>{{ if .LegalPersonName }} {{ .LegalPersonName }} {{ else }} N/A {{ end }}</dd>
              </div>
              {{ if .LegalPersonName }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Local Name Identifiers Type</dt>
                <dd class="identifier-type badge-style">{{ .LegalPersonNameIdentifierType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              {{ range $originatingLegalPerson.PhoneticNameIdentifiers }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Phonetic Name Identifiers</dt>
                <dd>{{ if .LegalPersonName }} {{ .LegalPersonName }} {{ else }} N/A {{ end }}</dd>
              </div>
              {{ if .LegalPersonName }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Phonetic Name Identifiers Type</dt>
                <dd class="identifier-type badge-style">{{ .LegalPersonNameIdentifierType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              <div class="transaction-preview-container">
                {{ range $originatingVasp.GeographicAddresses }}
                <dt class="font-semibold">Address</dt>
                <div>
                  {{ range .AddressLine }}
                  <dd id="orig-vasp-addr-line">{{ . }}</dd>
                  {{ end }}
                  <dd>{{ .Country }}</dd>
                </div>
              </div>
              <div>
                <div class="transaction-preview-container">
                  <dt class="font-semibold">Address Type</dt>
                  <dd class="identifier-type badge-style">{{ .AddressType }}</dd>
                </div>
              </div>
              {{ end}}

              {{ $nationalIdentification := $originatingVasp.NationalIdentification }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification</dt>
                <dd>{{ if $nationalIdentification.NationalIdentifier }} {{ $nationalIdentification.NationalIdentifier }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification Type</dt>
                <dd class="identifier-type badge-style">{{ $nationalIdentification.NationalIdentifierType }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Issue</dt>
                <dd>{{ if $nationalIdentification.CountryOfIssue }} {{ $nationalIdentification.CountryOfIssue }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Registration Authority</dt>
                <dd>{{ if $nationalIdentification.RegistrationAuthority }} {{ $nationalIdentification.RegistrationAuthority }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Registration</dt>
                <dd>{{ if $originatingVasp.CountryOfRegistration }} {{ $originatingVasp.CountryOfRegistration }} {{ else }} N/A {{ end }}</dd>
              </div>

            </dl>
          </div>

          <div>
            <h2 class="pb-2 text-lg font-bold">BENEFICIARY VASP:</h2>
            {{ $beneficiaryVasp := .Identity.BeneficiaryVasp.BeneficiaryVasp.Person.LegalPerson }}

            <dl>
              {{ range $beneficiaryVasp.Name.NameIdentifiers }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Name Identifiers</dt>
                <dd>{{ if .LegalPersonName }} {{ .LegalPersonName }} {{ else }} N/A {{ end }}</dd>
              </div>
              {{ if .LegalPersonName }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Name Identifiers Type</dt>
                <dd class="identifier-type badge-style">{{ .LegalPersonNameIdentifierType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              {{ range $beneficiaryVasp.GeographicAddresses }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Address</dt>
                {{ if or .BuildingNumber .StreetName }}
                <div>
                  <dd>{{ .BuildingNumber }} {{ .StreetName }}</dd>
                  <dd>{{ .PostCode }} {{ .TownName }}</dd>
                  <dd>{{ .Country }}</dd>
                </div>
                {{ else }}
                <dd>N/A</dd>
                {{ end }}
              </div>
              {{ if or .BuildingNumber .StreetName }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">Address Type</dt>
                <dd class="identifier-type badge-style">{{ .AddressType }}</dd>
              </div>
              {{ end }}
              {{ end }}

              {{ $beneficiaryNationalIdentifier := $beneficiaryVasp.NationalIdentification }}
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification</dt>
                <dd>{{ if $beneficiaryNationalIdentifier.NationalIdentifier }} {{ $beneficiaryNationalIdentifier.NationalIdentifier }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">National Identification Type</dt>
                <dd class="identifier-type badge-style">{{ $beneficiaryNationalIdentifier.NationalIdentifierType }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Issue</dt>
                <dd>{{ if $beneficiaryNationalIdentifier.CountryOfIssue }} {{ $beneficiaryNationalIdentifier.CountryOfIssue }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Registration Authority</dt>
                <dd>{{ if $beneficiaryNationalIdentifier.RegistrationAuthority }} {{ $beneficiaryNationalIdentifier.RegistrationAuthority }} {{ else }} N/A {{ end }}</dd>
              </div>
              <div class="transaction-preview-container">
                <dt class="font-semibold">Country of Registration</dt>
                <dd>{{ if $beneficiaryVasp.CountryOfRegistration }} {{ $beneficiaryVasp.CountryOfRegistration }} {{ else }} N/A {{ end }}</dd>
              </div>

            </dl>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>