<section>
  <h1 class="my-4 font-bold text-2xl">Transaction Details</h2>
  <section class="mb-4">
    <div class="my-4 bg-gray-200 p-2 rounded-md">
      <h2 class="font-bold text-lg">Transfer Details</h2>
    </div>
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Transaction ID</dd>
      <dt>{{ .ID }}</dt>
    </div>
    <!-- TODO: Add transaction type -->
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Status</dd>
      <dt>{{ .Status }}</dt>
    </div>
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Network</dd>
      <dt>{{ .VirtualAsset }}</dt>
    </div>
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Amount</dd>
      <dt>{{ .Amount }}</dt>
    </div>
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Number of Envelopes</dd>
      <dt>{{ .EnvelopeCount }}</dt>
    </div>
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Created</dd>
      {{ if .Created }}
      {{ $created := .Created.Format "January 2, 2006 3:04:05 PM" }}
      <dt>{{ $created }}</dt>
      {{ else }}
      <dt>&mdash;</dt>
      {{ end }}
    </div>
    <div class="grid grid-cols-2 p-2">
      <dd class="font-bold">Last Update</dd>
      {{ if .LastUpdate }}
      {{ $lastUpdate := .LastUpdate.Format "January 2, 2006 3:04:05 PM" }}
      <dt>{{ $lastUpdate }}</dt>
      {{ else }}
      <dt>&mdash;</dt>
      {{ end }}
    </div>
  </section>
  <section>
    <div class="my-4 bg-gray-200 p-2 rounded-md">
      <h2 class="font-bold text-lg">Identity Details</h2>
    </div>
    <section>
      <div class="grid grid-cols-2 p-2">
        <dd class="font-bold">Counterparty VASP</dd>
        <dt>{{ .Counterparty }}</dt>
      </div>
      <div class="grid grid-cols-2 p-2">
        <dd class="font-bold">Counterparty ID</dd>
        <dt>{{ .CounterpartyID }}</dt>
      </div>
      <div class="grid grid-cols-2 p-2">
        <dd class="font-bold">Originator Name</dd>
        <dt>{{ .Originator }}</dt>
      </div>
      <div class="grid grid-cols-2 p-2">
        <dd class="font-bold">Originator Wallet Address</dd>
        {{ if eq .OriginatorAddress "" }}
        <dt class="px-4">&mdash;</dt>
        {{ else }}
        <dt>{{ .OriginatorAddress }}</dt>
        {{ end }}
      </div>
      <div class="grid grid-cols-2 p-2">
        <dd class="font-bold">Beneficiary Name</dd>
        <dt>{{ .Beneficiary }}</dt>
      </div>
      <div class="grid grid-cols-2 p-2">
        <dd class="font-bold">Beneficiary Wallet Address</dd>
        <dt>{{ .BeneficiaryAddress }}</dt>
      </div>
    </section>
  </section>
</section>