<div>
  <table class="table overflow-auto">
    <thead class="font-bold text-base text-black">
      <tr>
        <th class="text-center">Type</th>
        <th>Status</th>
        <th>Counterparty</th>
        <th>Originator</th>
        <th>Beneficiary</th>
        <th class="text-center">Virtual Asset</th>
        <th class="text-center">Amount</th>
        <th>Date Created</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Transactions }}
      {{ range .Transactions }}
      <tr>
        <td class="cursor-pointer text-center" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
          {{ if eq .Source "local" }}
          <div class="tooltip tooltip-right" data-tip="Outgoing transaction from local VASP">
            <button>
              <i class="fa-solid fa-file-export" title="Outgoing transaction from local VASP"></i>
            </button>
          </div>
          {{ else if eq .Source "remote" }}
         <div class="tooltip tooltip-right" data-tip="Incoming transaction from remote VASP">
          <button>
            <i class="fa-solid fa-file-import" title="Incoming transaction from remote VASP"></i>
          </button>
         </div>
          {{ else }}
          <div class="tooltip tooltip-right" data-tip="Unknown transaction type">
            <button><i class="fa-solid fa-question" title="Unknown transaction type"></i></button>
          </div>
          {{ end }}
        </td>
        {{ if .Status }}
          {{ if eq .Status "draft" }}
          <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
            <div class="flex items-center gap-x-1">
              <img src="/static/draftStatusIcon.svg" alt="" />
              <span class="text-gray-500">{{ .Status }}</span>
            </div>
          </td>
          {{ else if eq .Status "pending" }}
          <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
            <div class="flex items-center gap-x-1">
              <img src="/static/pendingStatusIcon.svg" alt="" />
              <span class="text-yellow-700">{{ .Status }}</span>
            </div>
          </td>
          {{ else if eq .Status "action required" }}
          <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
            <div class="flex items-center gap-x-1">
              <img src="/static/actionStatusIcon.svg" alt="" />
              <span class="text-blue-700">{{ .Status }}</span>
            </div>
          </td>
          {{ else if eq .Status "completed" }}
          <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
            <div class="flex items-center gap-x-1">
              <img src="/static/completeStatusIcon.svg" alt="" />
              <span class="text-green-700">{{ .Status }}</span>
            </div>
          </td>
          {{ else if eq .Status "archived" }}
          <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
            <div class="flex items-center gap-x-1">
              <img src="/static/archiveStatusIcon.svg" alt="" />
              <span class="text-gray-700">{{ .Status }}</span>
            </div>
          </td>
          {{ else }}
          <td class="px-8cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">&mdash;</td>
          {{ end }}
        {{ end }}
        <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">{{ .Counterparty }}</td>
        <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
          <div>
            <ul>
              <li>{{ .Originator }}</li>
              <li class="mt-2 break-words">{{ .OriginatorAddress }}</li>
            </ul>
          </div>
        </td>
        <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">
          <div>
            <ul>
              <li>{{ .Beneficiary }}</li>
              <li class="mt-2 break-words">{{ .BeneficiaryAddress }}</li>
            </ul>
          </div>
        </td>
        <td class="cursor-pointer text-center" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">{{ .VirtualAsset }}</td>
        <td class="cursor-pointer text-center" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">{{ .Amount }}</td>
        {{ $created := .Created.Format "January 2, 2006 15:04:05" }}
        <td class="cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">{{ $created }}</td>
        <td class="px-16 cursor-pointer" onclick="transaction_modal.showModal()" hx-get="/v1/transactions/{{ .ID }}" hx-target="#transaction_modal" hx-swap="innerHTML">&mdash;</td>
        <td>
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost fobt-bold text-xl">&hellip;</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-[#2F4858] font-semibold text-white rounded-box">
              <li><a>Accept</a></li>
              <li><a>Reject</a></li>
              <li><a>Archive</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {{ end }}
      {{ else }}
      <tr class="text-center">
        <td colspan="9" class="py-5">There are no transactions to display.</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>