<section class="my-4">
  <section>
    <div class="mb-4 md:mb-0.5">
      <span class="font-semibold">Transaction ID: {{ .EnvelopeID }}</span>
    </div>
  </section>
  <form id="transaction-accept" hx-post="/v1/transactions/{{ .EnvelopeID }}/send" hx-ext="json-enc" hx-swap="none"
    method="post">
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">1. TRANSACTION DETAILS</h2>
      <div class="my-5">
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="originator" class="label-style">Originator Address</label>
            <input type="text" id="originator" name="env_transaction_originator" value="{{ .Pending.Transaction.Originator }}"
              class="input-style" />
          </div>
          <div>
            <label for="beneficiary" class="label-style">Beneficiary Address</label>
            <input type="text" id="beneficiary" name="env_transaction_beneficiary"
              value="{{ .Pending.Transaction.Beneficiary }}" class="input-style" />
          </div>
          <div>
            <label for="amount" class="label-style">Amount</label>
            <input type="text" id="amount" name="env_transaction_amount" value="{{ .Pending.Transaction.Amount }}"
              class="input-style" />
          </div>
          <div>
            <label for="network" class="label-style">Network</label>
            <select id="network" name="env_transaction_network"></select>
            <input type="hidden" id="selected-network" value="{{ .Pending.Transaction.Network }}" />
          </div>
          <div>
            <label for="asset_type" class="label-style">Asset Type</label>
            <input type="text" id="asset_type" name="env_transaction_asset_type" value="{{ .Pending.Transaction.AssetType }}"
              class="input-style" />
          </div>
          <div>
            <label for="txid" class="label-style">Transaction ID (Txid)</label>
            <input type="text" id="txid" name="env_transaction_txid" value="{{ .Pending.Transaction.Txid }}"
              class="input-style" />
          </div>
        </div>
        <div>
          <label for="tag" class="label-style">Tag</label>
          <input type="text" id="tag" name="env_transaction_tag" value="{{ .Pending.Transaction.Tag }}" class="input-style" />
        </div>
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">2. ORIGINATOR DETAILS</h2>
      {{ $originator := (index .Identity.Originator.OriginatorPersons 0).Person.NaturalPerson }}
      {{ $originatorName := $originator.Name.NameIdentifiers }}
      {{ $originatorAddress := $originator.GeographicAddresses }}

      <div class="my-5">
        {{ range $originatorName }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="orig_primary_identifier" class="label-style">Primary Identifier</label>
            <input type="text" id="orig_primary_identifier" name="id_og_primary_identifier" value="{{ .PrimaryIdentifier}}"
              class="input-style" />
          </div>
          <div>
            <label for="orig_secondary_identifier" class="label-style">Secondary Identifier</label>
            <input type="text" id="orig_secondary_identifier" name="id_og_secondary_identifier"
              value="{{ .SecondaryIdentifier }}" class="input-style" />
          </div>
        </div>
        <div>
          <label for="orig_name_identifier_type" class="label-style">Name Identifier Type</label>
          <select id="orig_name_identifier_type" name="id_og_name_identifier_type" class="identifier-types"></select>
          <input type="hidden" class="orig_name_identifier_type" value="{{ .NameIdentifierType }}"
            data-id="natural-person-name-type" />
        </div>
        {{ end }}

        {{ $originatorBirth := $originator.DateAndPlaceOfBirth }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="originator_birth_date_of_birth" class="label-style">Date of Birth</label>
            <input type="text" id="originator_birth_date_of_birth" name="originator_birth_date_of_birth" value="{{ $originatorBirth.DateOfBirth }}" class="input-style" />
          </div>
          <div>
            <label for="originator_birth_place_of_birth" class="label-style">Place of Birth</label>
            <select id="originator_birth_place_of_birth" name="originator_birth_place_of_birth" class="countries"></select>
            <input type="hidden" class="originator_birth_place_of_birth" value="{{ $originatorBirth.PlaceOfBirth }}" />
          </div>
        </div>

        {{ range $originatorAddress }}
        
        <div class="grid gap-6 my-4 md:grid-cols-2">
          {{ range $index, $origAddrLine := .AddressLine }}
          <div>
            <label for="orig_street_name" class="label-style">Address Line</label>
            <input type="text" id="orig_street_name" name="address_og_{{ $index }}" value="{{ $origAddrLine }}"
              class="input-style" />
          </div>
          {{ end }}
          {{ if eq (len .AddressLine) 3 }}
          <div>
            <label for="orig_country" class="label-style">Country</label>
            <select id="orig_country" name="addr_og_country" class="countries"></select>
            <input type="hidden" class="orig_country" value="{{ .Country }}" />
          </div>
          {{ end }}
        </div>
        {{ if eq (len .AddressLine) 2 }}
        <div>
          <label for="orig_country" class="label-style">Country</label>
          <select id="orig_country" name="addr_og_country" class="countries"></select>
          <input type="hidden" class="orig_country" value="{{ .Country }}" />
        </div>
        {{ end }}
        <div>
          <label for="orig_address_type" class="label-style">Address Type</label>
          <select id="orig_address_type" name="addr_og_address_type" class="identifier-types"></select>
          <input type="hidden" class="orig_address_type" value="{{ .AddressType }}" data-id="address-identifier-type" />
        </div>
        {{ end }}

        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="orig_country_of_residence" class="label-style">Country of Residence</label>
            <select id="orig_country_of_residence" name="np_og_country_of_residence" class="countries"></select>
            <input type="hidden" class="orig_country_of_residence" value="{{ $originator.CountryOfResidence }}" />
          </div>
          <div>
            <label for="orig_customer_identification" class="label-style">Customer Identification</label>
            <input type="text" id="orig_customer_identification" name="np_og_customer_identification"
              value="{{ $originator.CustomerIdentification }}" class="input-style" />
          </div>
        </div>

        {{ $originatorNationalIdentification := $originator.NationalIdentification }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="originator_id_national_identifier" class="label-style">National Identifier Number</label>
            <input type="text" id="originator_id_national_identifier" name="originator_id_national_identifier" value="{{ $originatorNationalIdentification.NationalIdentifier }}" class="input-style" />
          </div>
          <div>
            <label for="originator_id_national_identifier_type" class="label-style">National Identifier Type</label>
            <select id="originator_id_national_identifier_type" name="originator_id_national_identifier_type" class="identifier-types"></select>
            <input type="hidden" class="originator_id_national_identifier_type" value="{{ $originatorNationalIdentification.NationalIdentifierType }}" data-id="natural-person-ntl-id-type" />
          </div>
        </div>

        <div class="my-4">
          <label for="originator_id_country_of_issue" class="label-style">Country of Issue</label>
          <select id="originator_id_country_of_issue" name="originator_id_country_of_issue" class="countries"></select>
          <input type="hidden" class="originator_id_country_of_issue" value="{{ $originatorNationalIdentification.CountryOfIssue }}" />
        </div>

        {{ range .Identity.Originator.AccountNumbers }}
        <div>
          <label for="orig_account_numbers" class="label-style">Account Number</label>
          <input type="text" id="orig_account_numbers" name="acct_og_account_numbers" value="{{ . }}" class="input-style" />
        </div>
        {{ end }}
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">3. BENEFICIARY DETAILS </h2>
      {{ $beneficiary := (index .Identity.Beneficiary.BeneficiaryPersons 0).Person.NaturalPerson }}
      {{ $beneficiaryName := $beneficiary.Name.NameIdentifiers }}
      {{ $beneficiaryAddress := $beneficiary.GeographicAddresses }}
      <div class="my-5">
        {{ range $beneficiaryName }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="benf_primary_identifier" class="label-style">Primary Identifier</label>
            <input type="text" id="benf_primary_identifier" name="id_bf_primary_identifier" value="{{ .PrimaryIdentifier}}"
              class="input-style" />
          </div>
          <div>
            <label for="benf_secondary_identifier" class="label-style">Secondary Identifier</label>
            <input type="text" id="benf_secondary_identifier" name="id_bf_secondary_identifier"
              value="{{ .SecondaryIdentifier }}" class="input-style" />
          </div>
        </div>
        <div>
          <label for="benf_name_identifier_type" class="label-style">Name Identifier Type</label>
          <select id="benf_name_identifier_type" name="id_bf_name_identifier_type" class="identifier-types"></select>
          <input type="hidden" class="benf_name_identifier_type" value="{{ .NameIdentifierType }}"
            data-id="natural-person-name-type" />
        </div>
        {{ end }}

        {{ $beneficiaryBirth := $beneficiary.DateAndPlaceOfBirth }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="beneficiary_birth_date_of_birth" class="label-style">Date of Birth</label>
            <input type="text" id="beneficiary_birth_date_of_birth" name="beneficiary_birth_date_of_birth" value="{{ $originatorBirth.DateOfBirth }}" class="input-style" />
          </div>
          <div>
            <label for="beneficiary_birth_place_of_birth" class="label-style">Place of Birth</label>
            <select id="beneficiary_birth_place_of_birth" name="beneficiary_birth_place_of_birth" class="countries"></select>
            <input type="hidden" class="beneficiary_birth_place_of_birth" value="{{ $beneficiaryBirth.PlaceOfBirth }}" />
          </div>
        </div>

        {{ range $beneficiaryAddress }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          {{ range $index, $bfAddrLine := .AddressLine }}
          <div>
            <label for="benf_street_name" class="label-style">Address Line</label>
            <input type="text" id="benf_street_name" name="address_bf_street_name_{{ $index }}" value="{{ $bfAddrLine }}"
              class="input-style" />
          </div>
          {{ end }}
          {{ if eq (len .AddressLine) 3 }}
          <div>
            <label for="benf_country" class="label-style">Country</label>
            <select id="benf_country" id="benf_country" name="addr_bf_country" class="countries"></select>
            <input type="hidden" class="benf_country" value="{{ .Country }}" />
          </div>
          {{ end }}
        </div>
        {{ if eq (len .AddressLine) 2 }}
        <div>
          <label for="benf_country" class="label-style">Country</label>
          <select id="benf_country" id="benf_country" name="addr_bf_country" class="countries"></select>
          <input type="hidden" class="benf_country" value="{{ .Country }}" />
        </div>
        {{ end }}
        <div>
          <label for="benf_address_type" class="label-style">Address Type</label>
          <select id="benf_address_type" name="addr_bf_address_type" class="identifier-types"></select>
          <input type="hidden" class="benf_address_type" value="{{ .AddressType }}" data-id="address-identifier-type" />
        </div>
        {{ end }}

        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="benf_country_of_residence" class="label-style">Country of Residence</label>
            <select id="benf_country_of_residence" name="np_bf_country_of_residence" class="countries"></select>
            <input type="hidden" class="benf_country_of_residence" value="{{ $beneficiary.CountryOfResidence }}" />
          </div>
          <div>
            <label for="benf_customer_identification" class="label-style">Customer Identification</label>
            <input type="text" id="benf_customer_identification" name="np_bf_customer_identification"
              value="{{ $beneficiary.CustomerIdentification }}" class="input-style" />
          </div>
        </div>

        {{ $beneficiaryNationalIdentification := $beneficiary.NationalIdentification }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="beneficiary_id_national_identifier" class="label-style">National Identifier Number</label>
            <input type="text" id="beneficiary_id_national_identifier" name="beneficiary_id_national_identifier" value="{{ $beneficiaryNationalIdentification.NationalIdentifier }}" class="input-style" />
          </div>
          <div>
            <label for="beneficiary_id_national_identifier_type" class="label-style">National Identifier Type</label>
            <select id="beneficiary_id_national_identifier_type" name="beneficiary_id_national_identifier_type" class="identifier-types"></select>
            <input type="hidden" class="beneficiary_id_national_identifier_type" value="{{ $beneficiaryNationalIdentification.NationalIdentifierType }}" data-id="natural-person-ntl-id-type" />
          </div>
        </div>

        <div class="my-4">
          <label for="beneficiary_id_country_of_issue" class="label-style">Country of Issue</label>
          <select id="beneficiary_id_country_of_issue" name="beneficiary_id_country_of_issue" class="countries"></select>
          <input type="hidden" class="beneficiary_id_country_of_issue" value="{{ $beneficiaryNationalIdentification.CountryOfIssue }}" />
        </div>

        {{ range .Identity.Beneficiary.AccountNumbers }}
        <div>
          <label for="benf_account_numbers" class="label-style">Account Number</label>
          <input type="text" id="benf_account_numbers" name="acct_bf_account_numbers" value="{{ . }}" class="input-style" />
        </div>
        {{ end }}
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">4. ORIGINATING VASP DETAILS </h2>
      <div class="my-5">
        {{ $originatingVasp := .Identity.OriginatingVasp.OriginatingVasp.Person.LegalPerson }}
        {{ $originatingLegalPerson := $originatingVasp.Name }}

        {{ range $originatingLegalPerson.NameIdentifiers }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="orig_vasp_legal_person_name" class="label-style">Legal Person Name</label>
            <input type="text" id="orig_vasp_legal_person_name" name="id_orig_legal_person_name"
              value="{{ .LegalPersonName }}" class="input-style" />
          </div>
          <div>
            <label for="orig_vasp_legal_person_name_identifier_type" class="label-style">Legal Person Name Identifier Type</label>
            <select id="orig_vasp_legal_person_name_identifier_type" name="id_orig_legal_person_name_identifier_type"
              class="identifier-types"></select>
            <input type="hidden" class="orig_vasp_legal_person_name_identifier_type"
              value="{{ .LegalPersonNameIdentifierType }}" data-id="legal-person-name-type" />
          </div>
        </div>
        {{ end }}

        {{ range $originatingVasp.GeographicAddresses }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          {{ range $index, $origVaspAddrLine := .AddressLine }}
          <div>
            <label for="orig_vasp_street_name" class="label-style">Address Line</label>
            <input type="text" id="orig_vasp_street_name" name="address_orig_{{ $index }}"
              value="{{ $origVaspAddrLine }}" class="input-style" />
          </div>
          {{ end }}
          {{ if eq (len .AddressLine) 3 }}
          <div>
            <label for="orig_vasp_country" class="label-style">Country</label>
            <select id="orig_vasp_country" name="addr_orig_country" class="countries"></select>
            <input type="hidden" class="orig_vasp_country" value="{{ .Country }}" />
          </div>
          {{ end }}
        </div>
          
          {{ if eq (len .AddressLine) 2 }}
          <div>
            <label for="orig_vasp_country" class="label-style">Country</label>
            <select id="orig_vasp_country" name="addr_orig_country" class="countries"></select>
            <input type="hidden" class="orig_vasp_country" value="{{ .Country }}" />
          </div>
          {{ end }}
        </div>
        <div>
          <label for="orig_vasp_address_type" class="label-style">Address Type</label>
          <select id="orig_vasp_address_type" name="addr_orig_address_type" class="identifier-types"></select>
          <input type="hidden" class="orig_vasp_address_type" value="{{ .AddressType }}"
            data-id="address-identifier-type" />
        </div>
        {{ end }}

        {{ $nationalIdentification := $originatingVasp.NationalIdentification }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="orig_vasp_national_identifier" class="label-style">National Identifier</label>
            <input type="text" id="orig_vasp_national_identifier" name="nat_orig_national_identifier"
              value="{{ $nationalIdentification.NationalIdentifier }}" class="input-style" />
          </div>
          <div>
            <label for="orig_vasp_national_identifier_type" class="label-style">National Identifier Type</label>
            <select id="orig_vasp_national_identifier_type" name="nat_orig_national_identifier_type"
              class="identifier-types"></select>
            <input type="hidden" class="orig_vasp_national_identifier_type"
              value="{{ $nationalIdentification.NationalIdentifierType }}" data-id="national-identifier-type" />
          </div>
        </div>
        <div>
          <label for="orig_vasp_country_of_issue" class="label-style">Country of Issue</label>
          <select id="orig_vasp_country_of_issue" name="nat_orig_country_of_issue" class="countries"></select>
          <input type="hidden" class="orig_vasp_country_of_issue"
            value="{{ $nationalIdentification.CountryOfIssue }}" />
        </div>
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="orig_vasp_registration_authority" class="label-style">Registration Authority</label>
            <input type="text" id="orig_vasp_registration_authority" name="nat_orig_registration_authority"
              value="{{ $nationalIdentification.RegistrationAuthority }}" class="input-style" />
          </div>
          <div>
            <label for="orig_vasp_country_of_registration" class="label-style">Country of Registration</label>
            <select id="orig_vasp_country_of_registration" name="ctry_orig_country_of_registration"
              class="countries"></select>
            <input type="hidden" class="orig_vasp_country_of_registration"
              value="{{ $originatingVasp.CountryOfRegistration }}" />
          </div>
        </div>
      </div>
    </section>
    <section class="py-2 border-t border-t-black">
      <h2 class="my-4 font-bold">5. BENEFICIARY VASP DETAILS </h2>
      <div class="my-5">
        {{ $beneficiaryVasp := .Identity.BeneficiaryVasp.BeneficiaryVasp.Person.LegalPerson }}

        {{ range $beneficiaryVasp.Name.NameIdentifiers }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="benf_vasp_legal_person_name" class="label-style">Name Identifier</label>
            <input type="text" id="benf_vasp_legal_person_name" name="id_benf_legal_person_name"
              value="{{ .LegalPersonName }}" class="input-style" />
          </div>
          <div>
            <label for="benf_vasp_legal_person_name_identifier_type" class="label-style">Legal Person Name Identifier
              Type</label>
            <select id="benf_vasp_legal_person_name_identifier_type" name="id_benf_legal_person_name_identifier_type"
              class="identifier-types"></select>
            <input type="hidden" class="benf_vasp_legal_person_name_identifier_type"
              value="{{ .LegalPersonNameIdentifierType }}" data-id="legal-person-name-type" />
          </div>
        </div>
        {{ end }}

        {{ range $beneficiaryVasp.GeographicAddresses }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          {{ range $index, $bfVaspAddrLine := .AddressLine }}
          <div>
            <label for="benf_vasp_street_name" class="label-style">Address Line</label>
            <input type="text" id="benf_vasp_street_name" name="address_benf_address_line_{{ $index }}"
              value="{{ $bfVaspAddrLine }}" class="input-style" />
          </div>
          {{ end }}
          {{ if eq (len .AddressLine) 3 }}
          <div>
            <label for="benf_vasp_country" class="label-style">Country</label>
            <select id="benf_vasp_country" name="addr_benf_country" class="countries"></select>
            <input type="hidden" class="benf_vasp_country" value="{{ .Country }}" />
          </div>
          {{ end }}
        </div>
        {{ if eq (len .AddressLine) 2 }}
        <div>
          <label for="benf_vasp_country" class="label-style">Country</label>
          <select id="benf_vasp_country" name="addr_benf_country" class="countries mb-4"></select>
          <input type="hidden" class="benf_vasp_country" value="{{ .Country }}" />
        </div>
        {{ end }}
        <div>
          <label for="benf_vasp_address_type" class="label-style">Address Type</label>
          <select id="benf_vasp_address_type" name="addr_benf_address_type" class="identifier-types"></select>
          <input type="hidden" class="benf_vasp_address_type" value="{{ .AddressType }}"
            data-id="address-identifier-type" />
        </div>
        {{ end }}

        {{ $beneficiaryNationalIdentification := $beneficiaryVasp.NationalIdentification }}
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="benf_vasp_national_identifier" class="label-style">National Identifier</label>
            <input type="text" id="benf_vasp_national_identifier" name="nat_benf_national_identifier"
              value="{{ $beneficiaryNationalIdentification.NationalIdentifier }}" class="input-style" />
          </div>
          <div>
            <label for="benf_vasp_national_identifier_type" class="label-style">National Identifier Type</label>
            <select id="benf_vasp_national_identifier_type" name="nat_benf_national_identifier_type"
              class="identifier-types"></select>
            <input type="hidden" class="benf_vasp_national_identifier_type"
              value="{{ $beneficiaryNationalIdentification.NationalIdentifierType }}"
              data-id="national-identifier-type" />
          </div>
        </div>
        <div>
          <label for="benf_vasp_country_of_issue" class="label-style">Country of Issue</label>
          <select id="benf_vasp_country_of_issue" name="nat_benf_country_of_issue" class="countries"></select>
          <input type="hidden" class="benf_vasp_country_of_issue"
            value="{{ $beneficiaryNationalIdentification.CountryOfIssue }}" />
        </div>
        <div class="grid gap-6 my-4 md:grid-cols-2">
          <div>
            <label for="benf_vasp_registration_authority" class="label-style">Registration Authority</label>
            <input type="text" id="benf_vasp_registration_authority" name="nat_benf_registration_authority"
              value="{{ $beneficiaryNationalIdentification.RegistrationAuthority }}" class="input-style" />
          </div>
          <div>
            <label for="benf_vasp_country_of_registration" class="label-style">Country of Registration</label>
            <select id="benf_vasp_country_of_registration" name="ctry_benf_country_of_registration"
              class="countries"></select>
            <input type="hidden" class="benf_vasp_country_of_registration"
              value="{{ $beneficiaryVasp.CountryOfRegistration }}" />
          </div>
        </div>
      </div>
    </section>
    <div class="py-4 flex justify-center items-center gap-x-2">
      <button type="submit" class="p-1 rounded w-36 bg-green-700 font-semibold text-white md:p-2 hover:bg-green-700/80">
        <div class="flex justify-center items-center">
          <svg aria-hidden="true" role="status" class="htmx-indicator inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
          </svg>
          <span>Accept</span>
        </div>
      </button>
      <a href="/transactions/{{ .EnvelopeID }}/info"
        class="p-1 rounded w-36 bg-red-700 font-semibold text-white text-center md:p-2 hover:bg-red-700/80">Cancel</a>
    </div>
  </form>
</section>